#group-registration-link,
#edit-group-registration-link {
  border: 0;
  padding-left: 0;
}

.field--name-field-event-registrationrequired {
  padding-bottom: 15px;
  padding-top: 5px;
}

#group-registration-link legend span {
  font-size: 120%;
  letter-spacing: 0;
  text-transform: none;
}

#edit-field-event-cta-wrapper {
  padding-bottom: 15px;
  padding-top: 15px;
}

.required-fields #edit-field-link-wrapper {
  display: none;
}

.field--type-smartdate .smartdate--widget .allday-label {
  clear: both;
  display: block;
  float: none;
  left: -1000px;
  position: absolute;
}
