/* Formatting for instance form */
.smart-date-instance--cancelled {
  color: #666;
}

.smartdate--widget [class$='-timezone'] {
  float: right;
}

.smartdate--widget .form-item-field-datetime-range-timezone-0-repeat {
  left: -40px;
  position: relative;
}

.smartdate--widget [class$='-repeat-advanced-weekday'] {
  left: 0;
}

.smartdate--widget .duration-wrapper {
  display: none !important;
}

.smartdate--widget .byday-checkboxes {
  left: 180px;
  position: absolute;
  top: -3px;
}

.smartdate--widget .recurring-items-reveal-wrap {
  background: #f9f9f9;
  position: relative;
  width: 500px;
}

.smartdate--widget .repeat-on-the-wrap {
  left: 180px;
  position: absolute;
  top: -3px;
}

.smartdate--widget .display-top-no-pad-left {
  margin-left: 0;
}

.smartdate--widget .fieldset-wrapper .form-item.form-type-checkbox {
  display: inline-block;
}

.smartdate--widget .allday {
  margin: 0 5px 0 0;
}

.smartdate--widget .allday-label {
  display: block !important;
  float: none;
  font-weight: 400;
  margin: 10px 0 0;
}

.smartdate--widget .fieldset__wrapper h4.form-item__label {
  width: 0;
}

.smartdate--widget .fieldset-wrapper h4.label {
  text-align: left;
  width: 3em;
}

.field--type-smartdate .field-multiple-table td {
  padding: 12px 0;
}

.field--type-smartdate .smartdate--widget .fieldset-wrapper h4.label {
  width: 4em;
}

.field--type-smartdate .smartdate--widget .form-item-field-datetime-range-timezone-0-timezone,
.field--type-smartdate .smartdate--widget .form-item-field-datetime-range-timezone-1-timezone,
.field--type-smartdate .smartdate--widget .form-item-field-datetime-range-timezone-2-timezone {
  position: absolute;
  right: 17px;
  top: 2em;
}

.field--type-smartdate .smartdate--widget .byday-checkboxes legend {
  float: none;
  margin: 0;
}

.field--type-smartdate .smartdate--widget #edit-field-datetime-range-timezone-0-repeat-advanced-byday .form-item,
.field--type-smartdate .smartdate--widget #edit-field-datetime-range-timezone-1-repeat-advanced-byday .form-item,
.field--type-smartdate .smartdate--widget #edit-field-datetime-range-timezone-2-repeat-advanced-byday .form-item {
  margin-right: 3px;
  margin-top: 0;
}

.field--type-smartdate .smartdate--widget .form-type-select label,
.field--type-smartdate tr.odd .smartdate--widget .form-type-select label,
.field--type-smartdate .smartdate--widget tr.odd .smartdate--widget .form-type-select label {
  display: block;
  padding-top: 0;
  text-align: left;
}

.field--type-smartdate .smartdate--widget .form-type-number + .form-type-date {
  display: block;
}

.smartdate--widget .button--small.manage-instances {
  float: right;
}

.smartdate--widget .byday-checkboxes,
.smartdate--widget .byday-checkboxes input,
.smartdate--widget .recurring-items-reveal-wrap,
.field--type-smartdate .field-multiple-table .field-multiple-drag,
.field--type-smartdate .smartdate--widget .form-type-select.form-item-field-datetime-range-timezone-0-repeat-end,
.field--type-smartdate .smartdate--widget .form-type-select.form-item-field-datetime-range-timezone-1-repeat-end,
.field--type-smartdate .smartdate--widget .form-type-select.form-item-field-datetime-range-timezone-2-repeat-end {
  display: none;
}
