.vagov-c-ruled-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/stars.png) no-repeat 50%;
  background-size: 11rem auto;
  margin: 1.6rem auto auto;
  padding: 2rem 0 0;
  text-align: center;

  &:after, &:before {
    border-top: 1px solid #aeb0b5;
    content: " ";
    flex: 1 1 50%;
    padding: 1rem 0;
  }
  &:before {
    margin-right: 12rem;
  }
}