:root {
  /*
   * Variables originally defined in core/themes/claro (or other modules), overridden here with design system variables.
   */
  --font-family: var(--font-family-sans);

  --color-divider: var(--va-gray-darkest);

  --tabs-hover-bg-color: var(--va-blue-lightest);

  --table-row--dragging-bg-color: var(--va-gold-lightest);
  --table-row--last-dragged-bg-color: var(--va-gold-lightest);

  --jui-dialog-title-bg-color: var(--va-blue-darkest);
}
