
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The '*' pattern is global owners.
# Order is important. The last matching pattern has the most precedence.

# More details are here: https://help.github.com/articles/about-codeowners/

# CMS teams: See https://va.ghe.com/orgs/software/teams?query=cms for full list
# Also see https://va.ghe.com/software/va.gov-cms/issues/15563 re: cleanup
#
# @software/cms-infrastructure
# @software/facilities-cms
# @software/public-websites-cms
# @software/vfs-cms-team

# By default, ownership reverts to platform-cms-drupal-engineers
*                                                                   @software/platform-cms-drupal-engineers

# Local/Codespaces/Tugboat/GitHub stuff belongs to DevOps...
/.ddev/                                                             @software/platform-cms-devops-engineers
/.devcontainer/                                                     @software/platform-cms-devops-engineers
/.dumps/                                                            @software/platform-cms-devops-engineers
/.github/                                                           @software/platform-cms-devops-engineers
/.tugboat/                                                          @software/platform-cms-devops-engineers
/.vscode/                                                           # @software/platform-cms-drupal-engineers
/bin/                                                               @software/platform-cms-devops-engineers

# Config belongs to anyone by default.
/config/                                                            @software/vfs-cms-team
/config/sync/                                                       # @software/vfs-cms-team
# aka VAMC System Banner Alert with Situation Updates
/config/sync/*full_width_banner_alert*                              @software/facilities-cms
# To catch VAMC stuff with older naming convention
/config/sync/*health_care*                                          @software/facilities-cms
/config/sync/*connect_with_us*                                      @software/public-websites-cms
/config/sync/*jsonapi*                                              @software/accelerated-publishing
# aka VAMC System Locations List
/config/sync/*locations_listing*                                    @software/facilities-cms
/config/sync/*nca*                                                  @software/facilities-cms
/config/sync/*vamc*                                                 @software/facilities-cms
/config/sync/*vba*                                                  @software/facilities-cms
/config/sync/*vet_center*                                           @software/facilities-cms
/docroot/                                                           # @software/platform-cms-drupal-engineers
/docroot/cypress/                                                   @software/platform-cms-qa
/docroot/design-system/                                             @software/platform-cms-ux
/docroot/modules/                                                   # @software/platform-cms-drupal-engineers

# Custom modules should be owned by the teams with primary responsibility for maintaining them.
/docroot/modules/custom/va_gov_api                                  @software/accelerated-publishing
/docroot/modules/custom/va_gov_backend                              # @software/platform-cms-drupal-engineers
/docroot/modules/custom/va_gov_banner                               @software/public-websites-cms
/docroot/modules/custom/va_gov_batch                                @software/public-websites-cms
/docroot/modules/custom/va_gov_benefits                             @software/public-websites-cms
/docroot/modules/custom/va_gov_block_types                          @software/public-websites-cms
/docroot/modules/custom/va_gov_build_trigger                        # @software/platform-cms-drupal-engineers
/docroot/modules/custom/va_gov_bulk                                 # @software/platform-cms-drupal-engineers
/docroot/modules/custom/va_gov_clone                                # @software/platform-cms-drupal-engineers
/docroot/modules/custom/va_gov_clp                                  @software/public-websites-cms
/docroot/modules/custom/va_gov_consumers                            @software/facilities-cms @software/public-websites-cms
/docroot/modules/custom/va_gov_content_release                      # @software/platform-cms-drupal-engineers
/docroot/modules/custom/va_gov_content_types                        @software/platform-cms-drupal-engineers @software/public-websites-cms @software/facilities-cms
/docroot/modules/custom/va_gov_dashboards                           @software/platform-cms-drupal-engineers @software/facilities-cms
/docroot/modules/custom/va_gov_db                                   # @software/platform-cms-drupal-engineers
/docroot/modules/custom/va_gov_entity_browser                       @software/public-websites-cms
/docroot/modules/custom/va_gov_environment                          # @software/platform-cms-drupal-engineers
/docroot/modules/custom/va_gov_events                               @software/public-websites-cms
/docroot/modules/custom/va_gov_facilities                           @software/facilities-cms
/docroot/modules/custom/va_gov_flags                                @software/platform-cms-drupal-engineers @software/public-websites-cms @software/facilities-cms
/docroot/modules/custom/va_gov_form_builder                         @software/form-engine
/docroot/modules/custom/va_gov_git                                  # @software/platform-cms-drupal-engineers
/docroot/modules/custom/va_gov_github                               # @software/platform-cms-drupal-engineers
/docroot/modules/custom/va_gov_govdelivery                          @software/facilities-cms
/docroot/modules/custom/va_gov_graphql                              # @software/platform-cms-drupal-engineers
/docroot/modules/custom/va_gov_header_footer                        @software/public-websites-cms
/docroot/modules/custom/va_gov_help_center                          # @software/platform-cms-drupal-engineers
/docroot/modules/custom/va_gov_home                                 @software/public-websites-cms
/docroot/modules/custom/va_gov_links                                # @software/platform-cms-drupal-engineers
/docroot/modules/custom/va_gov_live_field_migration                 # @software/platform-cms-drupal-engineers
/docroot/modules/custom/va_gov_login                                # @software/platform-cms-drupal-engineers
/docroot/modules/custom/va_gov_lovell                               @software/facilities-cms
/docroot/modules/custom/va_gov_magichead                            @software/public-websites-cms
/docroot/modules/custom/va_gov_manila                               @software/facilities-cms
/docroot/modules/custom/va_gov_media                                # @software/platform-cms-drupal-engineers
/docroot/modules/custom/va_gov_menu_access                          # @software/platform-cms-drupal-engineers
/docroot/modules/custom/va_gov_menus                                # @software/platform-cms-drupal-engineers
/docroot/modules/custom/va_gov_migrate                              @software/facilities-cms @software/public-websites-cms
/docroot/modules/custom/va_gov_multilingual                         # @software/platform-cms-drupal-engineers
/docroot/modules/custom/va_gov_notifications                        @software/platform-cms-drupal-engineers @software/facilities-cms
/docroot/modules/custom/va_gov_post_api                             @software/facilities-cms
/docroot/modules/custom/va_gov_preview                              # @software/platform-cms-drupal-engineers
/docroot/modules/custom/va_gov_profile                              @software/facilities-cms
/docroot/modules/custom/va_gov_resources_and_support                @software/public-websites-cms
/docroot/modules/custom/va_gov_user                                 @software/platform-cms-drupal-engineers @software/facilities-cms @software/public-websites-cms
/docroot/modules/custom/va_gov_vamc                                 @software/facilities-cms
/docroot/modules/custom/va_gov_vba_facility                         @software/facilities-cms
/docroot/modules/custom/va_gov_vet_center                           @software/facilities-cms
/docroot/modules/custom/va_gov_workflow                             @software/platform-cms-drupal-engineers @software/facilities-cms @software/public-websites-cms
/docroot/modules/custom/va_gov_workflow_assignments                 # @software/platform-cms-drupal-engineers

/docroot/profiles/                                                  @software/platform-cms-qa
/docroot/scripts/                                                   @software/platform-cms-devops-engineers
/docroot/simplesaml/                                                @software/platform-cms-devops-engineers
/docroot/sites/                                                     @software/platform-cms-devops-engineers @software/platform-cms-drupal-engineers
/docroot/themes/                                                    @software/platform-cms-ux @software/platform-cms-accessibility
/drush/                                                             # @software/platform-cms-drupal-engineers
/hooks/                                                             @software/platform-cms-devops-engineers
/patches/                                                           # @software/platform-cms-drupal-engineers
/scripts/                                                           @software/platform-cms-devops-engineers
/scripts/tasks/VACMS-10735-Forms-CSV-migration-validation.php       @software/public-websites-cms
/tests/                                                             @software/platform-cms-qa
/tests/cypress/                                                     # @software/platform-cms-qa
/tests/phpunit/                                                     # @software/platform-cms-qa
/tests/scripts/                                                     @software/platform-cms-qa @software/platform-cms-devops-engineers
.env.example                                                        @software/platform-cms-devops-engineers
.gitattributes                                                      @software/platform-cms-devops-engineers
.gitignore                                                          @software/platform-cms-devops-engineers
.web                                                                @software/platform-cms-devops-engineers
composer.json                                                       # @software/platform-cms-drupal-engineers
composer.lock                                                       # @software/platform-cms-drupal-engineers
cypress.config.js                                                   @software/platform-cms-qa
Jenkinsfile.cd                                                      @software/platform-cms-devops-engineers
multi-reporter-config.json                                          @software/platform-cms-qa
package-lock.json                                                   # @software/platform-cms-drupal-engineers
package.json                                                        # @software/platform-cms-drupal-engineers
phpcs.xml.dist                                                      @software/platform-cms-qa
phploc.phar                                                         @software/platform-cms-qa
phpstan_bootstrap.php                                               @software/platform-cms-qa
phpstan-baseline.neon                                               @software/platform-cms-qa
phpstan.neon                                                        @software/platform-cms-qa
phpunit.xml                                                         @software/platform-cms-qa
LICENSE.md                                                          @software/platform-cms
README.md                                                           @software/platform-cms
SECURITY.md                                                         @software/platform-cms-qa
tasks-periodic.yml                                                  @software/platform-cms-devops-engineers
tests.yml                                                           @software/platform-cms-qa
tugboat.yml                                                         @software/platform-cms-devops-engineers
