# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.
/docroot/core
/docroot/libraries
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib
/docroot/sites/default/files
/docroot/sites/simpletest

# Ignore Composer-managed dependencies.
/docroot/vendor/

# Ignore NPM managed dependencies
node_modules/

# Ignore local dev files
/docroot/sites/default/settings/settings.local.php
# Prevent Devel from appearing anywhere.
/config/dev/devel.settings.yml
/config/dev/devel.toolbar.settings.yml
/config/dev/system.menu.devel.yml
/config/sync/devel.settings.yml
/config/sync/devel.toolbar.settings.yml
/config/sync/system.menu.devel.yml

# Ignore SQL dumps
# Current
/.dumps/cms-prod-files-latest.tgz
/.dumps/cms-prod-db-sanitized-latest.sql*
# Deprecated
/.dumps/cms-app-files-latest.tgz
/.dumps/cms-db-latest.sql*

# Ignore common IDE configs
# IntelliJ/PhpStorm
.idea
# VS Code
.vscode

# Ignore CMS-CI files
/docroot/sites/sites.php
/docroot/sites/*/files
/docroot/sites/*/private
/docroot/sites/*/drushrc.php
/docroot/sites/*/aegir.services.yml
/docroot/sites/*/settings.php
/docroot/sites/*/local.settings.php
/docroot/sites/all/drush/drushrc.php

!/docroot/sites/default/settings.php

# Ignore environment specific file
.env

# Ignore accessibility test reports
/tests/accessibility/axeReport/*.csv

# Ignore WEB (vets-website)
# web
# @TODO: Installer paths is not working. Leaving symlink for now.

# Ignore CMS Content Export
/content
/files
