# Ignore binaries.
/bin

# Ignore Drush contrib
/drush/contrib/

# Ignore non-custom parts of Drupal.
.editorconfig
.gitattributes
/docroot/behat_failures
/docroot/core
/docroot/libraries
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib
/docroot/sites/default/files
/docroot/sites/simpletest
/docroot/samlsessiondb.sq3
/docroot/README.md

# Ignore Composer-managed dependencies.
/docroot/vendor/

# Ignore NPM managed dependencies
node_modules/

# Ignore local dev files
/docroot/sites/default/settings/settings.local.php
# Prevent Devel from appearing anywhere.
/config/dev/devel.settings.yml
/config/dev/devel.toolbar.settings.yml
/config/dev/system.menu.devel.yml
/config/sync/devel.settings.yml
/config/sync/devel.toolbar.settings.yml
/config/sync/system.menu.devel.yml

# Ignore SQL dumps
# Current
/.dumps/cms-prod-files-latest.tgz
/.dumps/cms-prod-db-sanitized-latest.sql*
# Deprecated
/.dumps/cms-app-files-latest.tgz
/.dumps/cms-db-latest.sql*

# Ignore common IDE configs
# IntelliJ/PhpStorm
.idea
# Mac
.DS_Store

# Ignore CMS-CI files
/docroot/sites/sites.php
/docroot/sites/*/files
/docroot/sites/*/private
/docroot/sites/*/drushrc.php
/docroot/sites/*/aegir.services.yml
/docroot/sites/*/settings.php
/docroot/sites/*/local.settings.php
/docroot/sites/all/drush/drushrc.php

!/docroot/sites/default/settings.php

# Ignore environment specific file
.env

# Ignore accessibility test reports
/tests/accessibility/axeReport/*.csv
# Ignore accessibility test screenshots & videos
/tests/*/cypress/screenshots
/tests/*/cypress/videos

# Ignore local lando config
.lando.local.yml
.lando/zzz*local.ini
.lando.compose.yml

# Cache file used by PHPUnit
# Can be introduced accidentally by local dev
.phpunit.result.cache

# Ignore WEB (vets-website)
# web
# @TODO: Installer paths is not working. Leaving symlink for now.
