<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="va.gov-cms">
  <description>PHP CodeSniffer configuration for VA.gov Drupal CMS development. </description>
  <file>./docroot/modules/custom</file>
  <file>./docroot/themes/custom</file>
  <file>./tests</file>
  <arg name="extensions" value="php,module,inc,install,theme"/>
  <config name="drupal_core_version" value="8"/>
  <rule ref="./docroot/vendor/drupal/coder/coder_sniffer/Drupal/ruleset.xml">
    <exclude name="Drupal.Commenting.Deprecated.DeprecatedWrongSeeUrlFormat"/>
  </rule>
  <rule ref="./docroot/vendor/drupal/coder/coder_sniffer/DrupalPractice/ruleset.xml"/>
</ruleset>
