parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method GuzzleHttp\\\\ClientInterface\\:\\:get\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/src/Controller/ContentReleaseStatusController.php

		-
			message: "#^Call to an undefined method DOMNode\\:\\:getAttribute\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/src/Plugin/Filter/EmailLinkRepairFilter.php

		-
			message: "#^Call to an undefined method DOMNode\\:\\:setAttribute\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/src/Plugin/Filter/EmailLinkRepairFilter.php

		-
			message: "#^Call to an undefined method DOMNode\\:\\:getAttribute\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/src/Plugin/Filter/NodeLinkEnforcementFilter.php

		-
			message: "#^Call to an undefined method DOMNode\\:\\:setAttribute\\(\\)\\.$#"
			count: 3
			path: docroot/modules/custom/va_gov_backend/src/Plugin/Filter/NodeLinkEnforcementFilter.php

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\Query\\\\QueryInterface\\:\\:distinct\\(\\)\\.$#"
			count: 2
			path: docroot/modules/custom/va_gov_backend/src/Plugin/MetricsCollector/ActiveUserCount.php

		-
			message: "#^Access to an undefined property Symfony\\\\Component\\\\Validator\\\\Constraint\\:\\:\\$plainTextMessage\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/src/Plugin/Validation/Constraint/PreventAbsoluteCmsLinksValidator.php

		-
			message: "#^Call to an undefined method DOMNode\\:\\:getAttribute\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/src/Plugin/Validation/Constraint/PreventAbsoluteCmsLinksValidator.php

		-
			message: "#^Call to an undefined method DOMNode\\:\\:getAttribute\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/src/Plugin/Validation/Constraint/PreventAbsoluteUrlsAsPathsInLinksValidator.php

		-
			message: "#^Call to an undefined method DOMNode\\:\\:getAttribute\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/src/Plugin/Validation/Constraint/PreventDomainsAsPathsInLinksValidator.php

		-
			message: "#^Call to an undefined method DOMNode\\:\\:getAttribute\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/src/Plugin/Validation/Constraint/PreventLocalFileLinksValidator.php

		-
			message: "#^Access to an undefined property Symfony\\\\Component\\\\Validator\\\\Constraint\\:\\:\\$richTextMessage\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/src/Plugin/Validation/Constraint/PreventMediaViewLinksValidator.php

		-
			message: "#^Call to an undefined method DOMNode\\:\\:getAttribute\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/src/Plugin/Validation/Constraint/PreventMediaViewLinksValidator.php

		-
			message: "#^Call to an undefined method DOMNode\\:\\:getAttribute\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/src/Plugin/Validation/Constraint/PreventProtocolRelativeLinksValidator.php

		-
			message: "#^Call to an undefined method DOMNode\\:\\:getAttribute\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/src/Plugin/Validation/Constraint/PreventVaGovDomainsAsPathsInLinksValidator.php

		-
			message: "#^Call to an undefined method GuzzleHttp\\\\ClientInterface\\:\\:head\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/src/Service/VaGovUrl.php

		-
			message: "#^Function field_group_group_delete not found\\.$#"
			count: 3
			path: docroot/modules/custom/va_gov_backend/va_gov_backend.install

		-
			message: "#^Variable \\$node might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/va_gov_backend.install

		-
			message: "#^Variable \\$saved might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/va_gov_backend.install

		-
			message: "#^Variable \\$swap_key might not be defined\\.$#"
			count: 2
			path: docroot/modules/custom/va_gov_backend/va_gov_backend.install

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Entity\\\\FieldableEntityInterface\\:\\:\\$path\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/va_gov_backend.module

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Field\\\\FieldItemListInterface\\<Drupal\\\\Core\\\\Field\\\\FieldItemInterface\\>\\:\\:\\$caption\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/va_gov_backend.module

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Field\\\\FieldItemListInterface\\<Drupal\\\\Core\\\\Field\\\\FieldItemInterface\\>\\:\\:\\$pathauto\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/va_gov_backend.module

		-
			message: "#^Undefined variable\\: \\$mime$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/va_gov_backend.module

		-
			message: "#^Call to an undefined method Psr\\\\Log\\\\LoggerInterface\\:\\:success\\(\\)\\.$#"
			count: 2
			path: docroot/modules/custom/va_gov_build_trigger/src/Commands/SiteStatusCommands.php

		-
			message: "#^Method Drupal\\\\va_gov_build_trigger\\\\Plugin\\\\AdvancedQueue\\\\JobType\\\\ReleaseDispatch\\:\\:process\\(\\) should return Drupal\\\\advancedqueue\\\\JobResult but return statement is missing\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_build_trigger/src/Plugin/AdvancedQueue/JobType/ReleaseDispatch.php

		-
			message: "#^Method Drupal\\\\va_gov_build_trigger\\\\Plugin\\\\AdvancedQueue\\\\JobType\\\\ReleaseRequest\\:\\:process\\(\\) should return Drupal\\\\advancedqueue\\\\JobResult but return statement is missing\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_build_trigger/src/Plugin/AdvancedQueue/JobType/ReleaseRequest.php

		-
			message: "#^Method Symfony\\\\Contracts\\\\EventDispatcher\\\\EventDispatcherInterface\\:\\:dispatch\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 2
			path: docroot/modules/custom/va_gov_clone/src/CloneManager.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$children\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_consumers/va_gov_consumers.module

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Form\\\\FormInterface\\:\\:getEntity\\(\\)\\.$#"
			count: 3
			path: docroot/modules/custom/va_gov_consumers/va_gov_consumers.module

		-
			message: "#^Variable \\$vc_node_fetch in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_dashboards/va_gov_dashboards.module

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\RevisionableInterface\\:\\:get\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_db/va_gov_db.install

		-
			message: "#^Call to an undefined method Drupal\\\\node\\\\Entity\\\\Node\\:\\:setRevisionAuthorId\\(\\)\\.$#"
			count: 2
			path: docroot/modules/custom/va_gov_db/va_gov_db.install

		-
			message: "#^PHPDoc tag @throws with type DrupalUpdateException is not subtype of Throwable$#"
			count: 1
			path: docroot/modules/custom/va_gov_db/va_gov_db.install

		-
			message: "#^Call to an undefined method Drupal\\\\node\\\\Entity\\\\Node\\:\\:setRevisionAuthorId\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_db/va_gov_db.post_update.php

		-
			message: "#^Variable \\$nids might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_db/va_gov_db.post_update.php

		-
			message: "#^Static call to instance method Drupal\\\\smart_date_recur\\\\Entity\\\\SmartDateRule\\:\\:getMonthsLimit\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_events/src/Controller/Instances.php

		-
			message: "#^Variable \\$messages in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_events/src/Form/SmartDateOverrideForm.php

		-
			message: "#^PHPDoc tag @var above a method has no effect\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_govdelivery/src/EventSubscriber/EntityEventSubscriber.php

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\ContentEntityInterface\\:\\:isPublished\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_govdelivery/src/Service/ProcessStatusBulletin.php

		-
			message: "#^Call to method renderPlain\\(\\) on an unknown class Drupal\\\\va_gov_govdelivery\\\\Service\\\\Drupal\\\\Core\\\\Render\\\\RendererInterface\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_govdelivery/src/Service/ProcessStatusBulletin.php

		-
			message: "#^Method Drupal\\\\va_gov_govdelivery\\\\Service\\\\ProcessStatusBulletin\\:\\:getVamcs\\(\\) has invalid return type Drupal\\\\va_gov_govdelivery\\\\Service\\\\vamcs\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_govdelivery/src/Service/ProcessStatusBulletin.php

		-
			message: "#^PHPDoc tag @return with type array\\[Drupal\\\\va_gov_govdelivery\\\\Service\\\\vamcs\\] is not subtype of native type array\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_govdelivery/src/Service/ProcessStatusBulletin.php

		-
			message: "#^PHPDoc tag @var above a method has no effect\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_govdelivery/src/Service/ProcessStatusBulletin.php

		-
			message: "#^PHPDoc tag @var does not specify variable name\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_govdelivery/src/Service/ProcessStatusBulletin.php

		-
			message: "#^Property Drupal\\\\va_gov_govdelivery\\\\Service\\\\ProcessStatusBulletin\\:\\:\\$renderer has unknown class Drupal\\\\va_gov_govdelivery\\\\Service\\\\Drupal\\\\Core\\\\Render\\\\RendererInterface as its type\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_govdelivery/src/Service/ProcessStatusBulletin.php

		-
			message: "#^Variable \\$latest_situation_update in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_govdelivery/src/Service/ProcessStatusBulletin.php

		-
			message: "#^Variable \\$subject_prefix might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_govdelivery/src/Service/ProcessStatusBulletin.php

		-
			message: "#^Variable \\$time might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_govdelivery/src/Service/ProcessStatusBulletin.php

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\RevisionableInterface\\:\\:isPublished\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_govdelivery/va_gov_govdelivery.module

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Form\\\\FormInterface\\:\\:getEntity\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_govdelivery/va_gov_govdelivery.module

		-
			message: "#^Access to an undefined property Symfony\\\\Component\\\\Validator\\\\ConstraintViolationInterface\\:\\:\\$arrayPropertyPath\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_magichead/src/Plugin/Field/FieldWidget/MagicHeadParagraphsClassicWidget.php

		-
			message: "#^Access to an undefined property Symfony\\\\Component\\\\Validator\\\\Constraint\\:\\:\\$maximumDepthErrorMessage\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_magichead/src/Plugin/Validation/Constraint/DepthFieldConstraintValidator.php

		-
			message: "#^Access to an undefined property Symfony\\\\Component\\\\Validator\\\\Constraint\\:\\:\\$negativeDepthErrorMessage\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_magichead/src/Plugin/Validation/Constraint/DepthFieldConstraintValidator.php

		-
			message: "#^Access to an undefined property Symfony\\\\Component\\\\Validator\\\\Constraint\\:\\:\\$skippedDepthErrorMessage\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_magichead/src/Plugin/Validation/Constraint/DepthFieldConstraintValidator.php

		-
			message: "#^Call to method getFormObject\\(\\) on an unknown class Drupal\\\\va_gov_menu_access\\\\Service\\\\Drupal\\\\Core\\\\Form\\\\FormStateInterface\\.$#"
			count: 2
			path: docroot/modules/custom/va_gov_menu_access/src/Service/MenuReductionService.php

		-
			message: "#^Call to method getValue\\(\\) on an unknown class Drupal\\\\va_gov_menu_access\\\\Service\\\\Drupal\\\\Core\\\\Form\\\\FormStateInterface\\.$#"
			count: 2
			path: docroot/modules/custom/va_gov_menu_access/src/Service/MenuReductionService.php

		-
			message: "#^Property Drupal\\\\va_gov_menu_access\\\\Service\\\\MenuReductionService\\:\\:\\$formState has unknown class Drupal\\\\va_gov_menu_access\\\\Service\\\\Drupal\\\\Core\\\\Form\\\\FormStateInterface as its type\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_menu_access/src/Service/MenuReductionService.php

		-
			message: "#^Variable \\$anomalies might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Obtainer/ObtainAndTestBody.php

		-
			message: "#^Method Drupal\\\\va_gov_migrate\\\\Paragraph\\\\CollapsiblePanel\\:\\:isParagraph\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Paragraph/CollapsiblePanel.php

		-
			message: "#^Variable \\$answer in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Paragraph/QAAccordion.php

		-
			message: "#^Variable \\$answer in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Paragraph/QASchema.php

		-
			message: "#^Variable \\$answerQuery in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Paragraph/QAUnstructured.php

		-
			message: "#^Variable \\$error might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Paragraph/ReactWidget.php

		-
			message: "#^Variable \\$link_button might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Paragraph/ReactWidget.php

		-
			message: "#^Variable \\$link_text might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Paragraph/ReactWidget.php

		-
			message: "#^Variable \\$link_url might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Paragraph/ReactWidget.php

		-
			message: "#^Variable \\$loading might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Paragraph/ReactWidget.php

		-
			message: "#^Variable \\$timeout might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Paragraph/ReactWidget.php

		-
			message: "#^Cannot access property \\$data on object\\|false\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Plugin/migrate/source/MetalsmithSource.php

		-
			message: "#^Variable \\$response in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Plugin/migrate/source/MetalsmithSource.php

		-
			message: "#^Undefined variable\\: \\$source_id$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/va_gov_migrate.install

		-
			message: "#^Call to method getEntity\\(\\) on an unknown class Drupal\\\\va_gov_multilingual_tmgmt\\\\EventSubscriber\\\\Drupal\\\\tmgmt\\\\Form\\\\JobForm\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_multilingual/modules/va_gov_multilingual_tmgmt/src/EventSubscriber/FormEventSubscriber.php

		-
			message: "#^PHPDoc tag @var for variable \\$form_object contains unknown class Drupal\\\\va_gov_multilingual_tmgmt\\\\EventSubscriber\\\\Drupal\\\\tmgmt\\\\Form\\\\JobForm\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_multilingual/modules/va_gov_multilingual_tmgmt/src/EventSubscriber/FormEventSubscriber.php

		-
			message: "#^Class Drupal\\\\textfield_counter\\\\Plugin\\\\Field\\\\FieldWidget\\\\TextFieldWithCounterWidget not found\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_multilingual/va_gov_multilingual.module

		-
			message: "#^Class Drupal\\\\textfield_counter\\\\Plugin\\\\Field\\\\FieldWidget\\\\TextfieldWithSummaryAndCounterWidget not found\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_multilingual/va_gov_multilingual.module

		-
			message: "#^Call to method setEditedFlag\\(\\) on an unknown class Drupal\\\\va_gov_notifications\\\\FlagDecisionsInterface\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_notifications/src/Event/Entity/EditedFlag.php

		-
			message: "#^Property Drupal\\\\va_gov_notifications\\\\Event\\\\Entity\\\\EditedFlag\\:\\:\\$flaggingService has unknown class Drupal\\\\va_gov_notifications\\\\FlagDecisionsInterface as its type\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_notifications/src/Event/Entity/EditedFlag.php

		-
			message: "#^Access to an undefined property Drupal\\\\va_gov_post_api\\\\Service\\\\PostFacilityBase\\:\\:\\$additionalInfoToPush\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_post_api/src/Service/PostFacilityBase.php

		-
			message: "#^Access to an undefined property Drupal\\\\va_gov_post_api\\\\Service\\\\PostFacilityBase\\:\\:\\$facility\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_post_api/src/Service/PostFacilityBase.php

		-
			message: "#^Access to an undefined property Drupal\\\\va_gov_post_api\\\\Service\\\\PostFacilityBase\\:\\:\\$facilityNode\\.$#"
			count: 3
			path: docroot/modules/custom/va_gov_post_api/src/Service/PostFacilityBase.php

		-
			message: "#^Access to an undefined property Drupal\\\\va_gov_post_api\\\\Service\\\\PostFacilityBase\\:\\:\\$statusToPush\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_post_api/src/Service/PostFacilityBase.php

		-
			message: "#^PHPDoc tag @param for parameter \\$facility with type Drupal\\\\va_gov_post_api\\\\Service\\\\Drupal\\\\node\\\\NodeInterface is not subtype of native type Drupal\\\\node\\\\NodeInterface\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_post_api/src/Service/PostFacilityBase.php

		-
			message: "#^Parameter \\$facility of method Drupal\\\\va_gov_post_api\\\\Service\\\\PostFacilityBase\\:\\:getParentLocationsPageUrl\\(\\) has invalid type Drupal\\\\va_gov_post_api\\\\Service\\\\Drupal\\\\node\\\\NodeInterface\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_post_api/src/Service/PostFacilityBase.php

		-
			message: "#^Function _post_api_add_facility_status_to_queue not found\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_post_api/va_gov_post_api.install

		-
			message: "#^Method Drupal\\\\va_gov_preview\\\\Encoder\\\\StaticEncoder\\:\\:encode\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_preview/src/Encoder/StaticEncoder.php

		-
			message: "#^PHPDoc tag @param for parameter \\$event with type Drupal\\\\va_gov_profile\\\\EventSubscriber\\\\Drupal\\\\core_event_dispatcher\\\\Event\\\\Entity\\\\EntityTypeAlterEvent is not subtype of native type Drupal\\\\core_event_dispatcher\\\\Event\\\\Entity\\\\EntityTypeAlterEvent\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_profile/src/EventSubscriber/EntityEventSubscriber.php

		-
			message: "#^Parameter \\$event of method Drupal\\\\va_gov_profile\\\\EventSubscriber\\\\EntityEventSubscriber\\:\\:entityTypeAlter\\(\\) has invalid type Drupal\\\\va_gov_profile\\\\EventSubscriber\\\\Drupal\\\\core_event_dispatcher\\\\Event\\\\Entity\\\\EntityTypeAlterEvent\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_profile/src/EventSubscriber/EntityEventSubscriber.php

		-
			message: "#^Access to an undefined property Symfony\\\\Component\\\\Validator\\\\Constraint\\:\\:\\$message\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_profile/src/Plugin/Validation/Constraint/PersonPageRequiredFieldsConstraintValidator.php

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Field\\\\FieldItemInterface\\:\\:\\$value\\.$#"
			count: 2
			path: docroot/modules/custom/va_gov_resources_and_support/va_gov_resources_and_support.deploy.php

		-
			message: "#^Access to an undefined property Drupal\\\\va_gov_user\\\\EventSubscriber\\\\UserImport\\:\\:\\$string_translation\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_user/src/EventSubscriber/UserImport.php

		-
			message: "#^PHPDoc tag @return with type array\\[int\\] is not subtype of native type array\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_user/src/EventSubscriber/UserImport.php

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Database\\\\Database\\:\\:select\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_user/src/Service/UserPermsService.php

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\ContentEntityInterface\\:\\:isPublished\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_vamc/src/EventSubscriber/VAMCEntityPreventReuse.php

		-
			message: "#^Cannot access property \\$data on object\\|true\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_vet_center/src/Service/RequiredServices.php

		-
			message: "#^Cannot access property \\$item_id on object\\|true\\.$#"
			count: 2
			path: docroot/modules/custom/va_gov_vet_center/src/Service/RequiredServices.php

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Form\\\\FormInterface\\:\\:getEntity\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_workflow/src/EventSubscriber/EntityEventSubscriber.php

		-
			message: "#^Cannot call method toArray\\(\\) on false\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_workflow/src/EventSubscriber/EntityEventSubscriber.php

		-
			message: "#^Variable \\$process might not be defined\\.$#"
			count: 7
			path: tests/scaling_performance.php

		-
		  message: "#^Call to an undefined method Drupal\\\\Core\\\\\Form\\\\\FormInterface\\:\\:getEntity\\(\\)\\.$#"
		  count: 1
		  path: docroot/modules/custom/va_gov_media/src/EventSubscriber/MediaEventSubscriber.php
