parameters:
	ignoreErrors:
		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/src/Plugin/Validation/Constraint/PdfCheckValidator.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/src/Plugin/Validation/Constraint/UniqueTitleValidator.php

		-
			message: "#^Call to an undefined method GuzzleHttp\\\\ClientInterface\\:\\:head\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/src/Service/VaGovUrl.php

		-
			message: "#^Function field_group_group_delete not found\\.$#"
			count: 3
			path: docroot/modules/custom/va_gov_backend/va_gov_backend.install

		-
			message: "#^Variable \\$node might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/va_gov_backend.install

		-
			message: "#^Variable \\$saved might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/va_gov_backend.install

		-
			message: "#^Variable \\$swap_key might not be defined\\.$#"
			count: 2
			path: docroot/modules/custom/va_gov_backend/va_gov_backend.install

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Entity\\\\FieldableEntityInterface\\:\\:\\$path\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_backend/va_gov_backend.module

		-
			message: "#^Call to an undefined method Psr\\\\Log\\\\LoggerInterface\\:\\:success\\(\\)\\.$#"
			count: 2
			path: docroot/modules/custom/va_gov_build_trigger/src/Commands/SiteStatusCommands.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 3
			path: docroot/modules/custom/va_gov_build_trigger/src/Form/PreviewForm.php

		-
			message: "#^Method Drupal\\\\va_gov_build_trigger\\\\Plugin\\\\AdvancedQueue\\\\JobType\\\\ReleaseDispatch\\:\\:process\\(\\) should return Drupal\\\\advancedqueue\\\\JobResult but return statement is missing\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_build_trigger/src/Plugin/AdvancedQueue/JobType/ReleaseDispatch.php

		-
			message: "#^Method Drupal\\\\va_gov_build_trigger\\\\Plugin\\\\AdvancedQueue\\\\JobType\\\\ReleaseRequest\\:\\:process\\(\\) should return Drupal\\\\advancedqueue\\\\JobResult but return statement is missing\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_build_trigger/src/Plugin/AdvancedQueue/JobType/ReleaseRequest.php

		-
			message: "#^Method Symfony\\\\Contracts\\\\EventDispatcher\\\\EventDispatcherInterface\\:\\:dispatch\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 2
			path: docroot/modules/custom/va_gov_clone/src/CloneManager.php

		-
			message: "#^Access to an undefined property Drupal\\\\va_gov_consumers\\\\Git\\\\GithubFactory\\:\\:\\$logger\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_consumers/src/Git/GithubFactory.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$children\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_consumers/va_gov_consumers.module

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Form\\\\FormInterface\\:\\:getEntity\\(\\)\\.$#"
			count: 3
			path: docroot/modules/custom/va_gov_consumers/va_gov_consumers.module

		-
			message: "#^Call to an undefined method Drupal\\\\node\\\\Entity\\\\Node\\:\\:setRevisionAuthorId\\(\\)\\.$#"
			count: 2
			path: docroot/modules/custom/va_gov_db/va_gov_db.install

		-
			message: "#^PHPDoc tag @throws with type DrupalUpdateException is not subtype of Throwable$#"
			count: 1
			path: docroot/modules/custom/va_gov_db/va_gov_db.install

		-
			message: "#^Variable \\$nids might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_db/va_gov_db.post_update.php

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\ContentEntityInterface\\:\\:isPublished\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_govdelivery/src/Service/ProcessStatusBulletin.php

		-
			message: "#^Call to method renderPlain\\(\\) on an unknown class Drupal\\\\va_gov_govdelivery\\\\Service\\\\Drupal\\\\Core\\\\Render\\\\RendererInterface\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_govdelivery/src/Service/ProcessStatusBulletin.php

		-
			message: "#^Property Drupal\\\\va_gov_govdelivery\\\\Service\\\\ProcessStatusBulletin\\:\\:\\$renderer has unknown class Drupal\\\\va_gov_govdelivery\\\\Service\\\\Drupal\\\\Core\\\\Render\\\\RendererInterface as its type\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_govdelivery/src/Service/ProcessStatusBulletin.php

		-
			message: "#^Variable \\$subject_prefix might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_govdelivery/src/Service/ProcessStatusBulletin.php

		-
			message: "#^Variable \\$time might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_govdelivery/src/Service/ProcessStatusBulletin.php

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Form\\\\FormInterface\\:\\:getEntity\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_govdelivery/va_gov_govdelivery.module

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/modules/custom/va_gov_graphql/src/Routing/RouteSubscriber.php

		-
			message: "#^Call to method getFormObject\\(\\) on an unknown class Drupal\\\\va_gov_menu_access\\\\Service\\\\Drupal\\\\Core\\\\Form\\\\FormStateInterface\\.$#"
			count: 2
			path: docroot/modules/custom/va_gov_menu_access/src/Service/MenuReductionService.php

		-
			message: "#^Call to method getValue\\(\\) on an unknown class Drupal\\\\va_gov_menu_access\\\\Service\\\\Drupal\\\\Core\\\\Form\\\\FormStateInterface\\.$#"
			count: 2
			path: docroot/modules/custom/va_gov_menu_access/src/Service/MenuReductionService.php

		-
			message: "#^Property Drupal\\\\va_gov_menu_access\\\\Service\\\\MenuReductionService\\:\\:\\$formState has unknown class Drupal\\\\va_gov_menu_access\\\\Service\\\\Drupal\\\\Core\\\\Form\\\\FormStateInterface as its type\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_menu_access/src/Service/MenuReductionService.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 3
			path: docroot/modules/custom/va_gov_migrate/src/EventSubscriber/PostRowSave.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 4
			path: docroot/modules/custom/va_gov_migrate/src/Form/MigrateConfigForm.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Obtainer/ObtainAlertBlockTitles.php

		-
			message: "#^Variable \\$anomalies might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Obtainer/ObtainAndTestBody.php

		-
			message: "#^Method Drupal\\\\va_gov_migrate\\\\Paragraph\\\\CollapsiblePanel\\:\\:isParagraph\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Paragraph/CollapsiblePanel.php

		-
			message: "#^Variable \\$error might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Paragraph/ReactWidget.php

		-
			message: "#^Variable \\$link_button might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Paragraph/ReactWidget.php

		-
			message: "#^Variable \\$link_text might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Paragraph/ReactWidget.php

		-
			message: "#^Variable \\$link_url might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Paragraph/ReactWidget.php

		-
			message: "#^Variable \\$loading might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Paragraph/ReactWidget.php

		-
			message: "#^Variable \\$timeout might not be defined\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Paragraph/ReactWidget.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 5
			path: docroot/modules/custom/va_gov_migrate/src/ParagraphMigrator.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/ParagraphType.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Plugin/migrate/source/AlertBlockSource.php

		-
			message: "#^Cannot access property \\$data on object\\|false\\.$#"
			count: 2
			path: docroot/modules/custom/va_gov_migrate/src/Plugin/migrate/source/MetalsmithSource.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 3
			path: docroot/modules/custom/va_gov_migrate/src/Plugin/migrate/source/MetalsmithSource.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/src/Plugin/migrate/source/SupportService.php

		-
			message: "#^Undefined variable\\: \\$source_id$#"
			count: 1
			path: docroot/modules/custom/va_gov_migrate/va_gov_migrate.install

		-
			message: "#^Call to method setEditedFlag\\(\\) on an unknown class Drupal\\\\va_gov_notifications\\\\FlagDecisionsInterface\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_notifications/src/Event/Entity/EditedFlag.php

		-
			message: "#^Property Drupal\\\\va_gov_notifications\\\\Event\\\\Entity\\\\EditedFlag\\:\\:\\$flaggingService has unknown class Drupal\\\\va_gov_notifications\\\\FlagDecisionsInterface as its type\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_notifications/src/Event/Entity/EditedFlag.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 6
			path: docroot/modules/custom/va_gov_post_api/src/Form/VaGovFacilityForceQueueForm.php

		-
			message: "#^Access to an undefined property Drupal\\\\va_gov_post_api\\\\Service\\\\PostFacilityService\\:\\:\\$Facility\\.$#"
			count: 5
			path: docroot/modules/custom/va_gov_post_api/src/Service/PostFacilityService.php

		-
			message: "#^Method Drupal\\\\va_gov_post_api\\\\Service\\\\PostFacilityService\\:\\:queueFacilityService\\(\\) should return int but return statement is missing\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_post_api/src/Service/PostFacilityService.php

		-
			message: "#^Method Drupal\\\\va_gov_preview\\\\Encoder\\\\StaticEncoder\\:\\:encode\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_preview/src/Encoder/StaticEncoder.php

		-
			message: "#^Access to an undefined property Drupal\\\\va_gov_user\\\\EventSubscriber\\\\UserImport\\:\\:\\$string_translation\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_user/src/EventSubscriber/UserImport.php

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Database\\\\Database\\:\\:select\\(\\)\\.$#"
			count: 1
			path: docroot/modules/custom/va_gov_user/src/Service/UserPermsService.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 2
			path: docroot/modules/custom/va_gov_user/src/Service/UserPermsService.php

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Field\\\\FieldItemInterface\\:\\:\\$value\\.$#"
			count: 2
			path: docroot/modules/custom/va_gov_resources_and_support/va_gov_resources_and_support.deploy.php
