parameters:
  paths:
    - docroot/modules/custom
    - docroot/themes/custom
    - tests
  excludePaths:
    - *Test.php
    - *TestBase.php
  level: 2
  ignoreErrors:
    - '#Unsafe usage of new static\(\)#'
    - '#Access to an undefined property Drupal\\Core\\Entity\\ContentEntityInterface::\$[^\.]+\.#'
    - '#Access to an undefined property Drupal\\Core\\Entity\\EntityInterface::\$[^\.]+\.#'
    - '#Access to an undefined property Drupal\\Core\\Field\\FieldItemListInterface::\$[^\.]+\.#'
    - '#Call to an undefined method Drupal\\Core\\Entity\\EntityInterface::[^\(]+\(\)\.#'
    - '#Call to an undefined method Drupal\\Core\\Field\\FieldDefinitionInterface::[^\(]+\(\)\.#'
    - '#Call to an undefined method Drupal\\Core\\Field\\FieldItemListInterface::[^\(]+\(\)\.#'
    - '#Call to deprecated function _va_gov_db_uninstall_modules\(\).*#'
  reportUnmatchedIgnoredErrors: false
  bootstrapFiles:
    - phpstan_bootstrap.php
includes:
  - docroot/vendor/mglaman/phpstan-drupal/extension.neon
  - docroot/vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - phpstan-baseline.neon
