parameters:
  paths:
    - docroot/modules/custom
    - docroot/themes/custom
    - tests
  excludePaths:
    - *Test.php
    - *TestBase.php
  level: 2
  ignoreErrors:
    - '#Unsafe usage of new static\(\)#'
    - '#Access to an undefined property Drupal\\Core\\Field\\FieldItemListInterface::\$value.#'
  reportUnmatchedIgnoredErrors: false
  bootstrapFiles:
    - phpstan_bootstrap.php
includes:
  - docroot/vendor/mglaman/phpstan-drupal/extension.neon
  - docroot/vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - phpstan-baseline.neon
