<table style="margin: 0 auto;">
  <h2>Colors</h2>
  <hr>

  <table style="text-align: left">
    <tr>
      <th>Swatch</th>
      <th>Name</th>
      <th>Value</th>
      <th>Usage</th>
    </tr>
    {% for name, value in vars %}
      <tr>
        <td><div class="swatch-color" style="background-color: {{ value }};"></div></td>
        <td>{{ name }}</td>
        <td>{{ value }}</td>
        <td>var({{ name }});</td>
      </tr>
    {% endfor %}
  </table>
</div>
