/**
 * This file is particularly for displaying tokens in storybook.
 * The tokens themselves are consumed by other styles in Drupal and should not be included in that bundle.
 */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,600&display=swap&subset=latin-ext');
@import './claro.css';

.swatches {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.swatch-color {
  padding: 2rem;
}

.spacer {
  background-color: var(--va-blue-light);

  p {
    margin: var(--spacing-xxs);
  }
}
