/**
 * This file is solely for extra styles needed by various sb-*.twig files.
 * It is not included in the output bundle for Drupal.
 */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,600&display=swap&subset=latin-ext');
@import './claro.css';

.swatches {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.swatch-color {
  padding: 2rem;
}

.spacer {
  background-color: var(--va-blue-light);

  p {
    margin: var(--spacing-xxs);
  }
}

th {
  padding-right: 1rem;
}
