openapi: 3.0.1
info:
  title: VA.gov CMS Content API
  description: RESTful API for reading CMS content.
  version: Versioning not supported
servers:
  - url: https://pr6811-d2ogupvg2fodkdfjyl95sjzwzinh2zev.ci.cms.va.gov/{basePath}
    description: Environment serving CMS API prototypes.
    variables:
      basePath:
        description: This prefix will change based on which API subsystem is responding.
        default: jsonapi
paths:
  /banner-alerts:
    get:
      operationId: getBannersByPage
      parameters:
        - name: path
          in: query
          description: Get the banners for a page.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Get Banners for a Page.
          content:
            application/json:
              schema:
                type: object
                required:
                  - jsonapi
                  - data
                  - links
                properties:
                  jsonapi:
                    $ref: '#/components/schemas/jsonapi_metadata'
                  data:
                    type: array
                    items:
                      oneOf:
                      - $ref: '#/components/schemas/BannerAlert'
                      - $ref: '#/components/schemas/FacilityBannerAlert'
                  meta:
                    $ref: '#/components/schemas/list_metadata'
                  links:
                    $ref: '#/components/schemas/links_metadata'

  /resources:
    get:
      operationId: getResources
      parameters:
        - name: search
          in: query
          description: Search term.
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'

      responses:
        '200':
          description: Get All Resources
          content:
            applicaion/json:
              schema:
                type: object
                required:
                  - jsonapi
                  - data
                  - links
                properties:
                  jsonapi:
                    $ref: '#/components/schemas/jsonapi_metadata'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/QA'
                  meta:
                    $ref: '#/components/schemas/list_metadata'
                  links:
                    $ref: '#/components/schemas/links_metadata'

  /resources/tag/{tag}:
    get:
      operationId: getResourcesByTag
      parameters:
        - name: tag
          in: path
          required: true
          description: The tag to search by.
          schema:
            type: string
      responses:
        '200':
          description: Get All Resources
          content:
            applicaion/json:
              schema:
                type: object
                required:
                  - jsonapi
                  - data
                  - links
                properties:
                  jsonapi:
                    $ref: '#/components/schemas/jsonapi_metadata'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/QA'
                  meta:
                    $ref: '#/components/schemas/list_metadata'
                  links:
                    $ref: '#/components/schemas/links_metadata'
  /resources/qa:
    get:
      operationId: getQandA
      parameters:
        - name: path
          in: query
          description: URL for the Q&A page
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Get a signle Q&A Page
          content:
            application/json:
              schema:
                type: object
                required:
                  - jsonapi
                  - data
                  - links
                properties:
                  jsonapi:
                    $ref: '#/components/schemas/jsonapi_metadata'
                  data:
                    $ref: '#/components/schemas/QA'
                  links:
                    $ref: '#/components/schemas/links_metadata'
  /block_content/alert/{entity}/block_content_type:
    get:
      tags: []
      summary: 'Related: block_content_type (Custom block type)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the block_content_type--block_content_type resource type through the <em
        class="placeholder">block_content_type</em> relationship. The related
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content alert
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content: {}
  /block_content/alert/{entity}/relationships/block_content_type:
    get:
      tags: []
      summary: 'Relationship: block_content_type (Custom block type)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the block_content_type--block_content_type
        resource type through the <em
        class="placeholder">block_content_type</em> relationship. The
        relationship endpoint contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content alert
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - block_content_type--block_content_type
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /block_content/alert:
    get:
      tags: []
      summary: List (Custom block - Alert)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the block_content--alert resource type. Collections are a list of
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: block_content:alert Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'block_content' entities of the
                  'alert' bundle.
  /block_content/alert/{entity}/field_alert_content:
    get:
      tags: []
      summary: 'Related: field_alert_content (Paragraph - Rich text)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the paragraph--wysiwyg resource type through the <em
        class="placeholder">field_alert_content</em> relationship. The related
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content alert
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/paragraph--wysiwyg'
  /block_content/alert/{entity}/relationships/field_alert_content:
    get:
      tags: []
      summary: 'Relationship: field_alert_content (Paragraph - Rich text)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the paragraph--wysiwyg resource type through the
        <em class="placeholder">field_alert_content</em> relationship. The
        relationship endpoint contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content alert
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - paragraph--wysiwyg
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /block_content/alert/{entity}/field_owner:
    get:
      tags: []
      summary: 'Related: field_owner (Taxonomy term - Sections)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the taxonomy_term--administration resource type through the <em
        class="placeholder">field_owner</em> relationship. The related endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content alert
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/taxonomy_term--administration'
  /block_content/alert/{entity}/relationships/field_owner:
    get:
      tags: []
      summary: 'Relationship: field_owner (Taxonomy term - Sections)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the taxonomy_term--administration resource type
        through the <em class="placeholder">field_owner</em> relationship. The
        relationship endpoint contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content alert
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - taxonomy_term--administration
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /block_content/alert/{entity}:
    get:
      tags: []
      summary: View (Custom block - Alert)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the block_content--alert resource type. The individual endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content alert
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/block_content--alert'
  /block_content/alert/{entity}/revision_user:
    get:
      tags: []
      summary: 'Related: revision_user (User)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the user--user resource type through the <em
        class="placeholder">revision_user</em> relationship. The related
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content alert
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/user--user'
  /block_content/alert/{entity}/relationships/revision_user:
    get:
      tags: []
      summary: 'Relationship: revision_user (User)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the user--user resource type through the <em
        class="placeholder">revision_user</em> relationship. The relationship
        endpoint contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content alert
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - user--user
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /block_content/promo/{entity}/block_content_type:
    get:
      tags: []
      summary: 'Related: block_content_type (Custom block type)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the block_content_type--block_content_type resource type through the <em
        class="placeholder">block_content_type</em> relationship. The related
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content promo
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content: {}
  /block_content/promo/{entity}/relationships/block_content_type:
    get:
      tags: []
      summary: 'Relationship: block_content_type (Custom block type)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the block_content_type--block_content_type
        resource type through the <em
        class="placeholder">block_content_type</em> relationship. The
        relationship endpoint contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content promo
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - block_content_type--block_content_type
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /block_content/promo:
    get:
      tags: []
      summary: List (Custom block - Promo)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the block_content--promo resource type. Collections are a list of
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: block_content:promo Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'block_content' entities of the
                  'promo' bundle.
  /block_content/promo/{entity}/field_image:
    get:
      tags: []
      summary: 'Related: field_image (Media - Image)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the media--image resource type through the <em
        class="placeholder">field_image</em> relationship. The related endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content promo
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/media--image'
  /block_content/promo/{entity}/relationships/field_image:
    get:
      tags: []
      summary: 'Relationship: field_image (Media - Image)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the media--image resource type through the <em
        class="placeholder">field_image</em> relationship. The relationship
        endpoint contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content promo
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - media--image
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /block_content/promo/{entity}/field_owner:
    get:
      tags: []
      summary: 'Related: field_owner (Taxonomy term - Sections)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the taxonomy_term--administration resource type through the <em
        class="placeholder">field_owner</em> relationship. The related endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content promo
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/taxonomy_term--administration'
  /block_content/promo/{entity}/relationships/field_owner:
    get:
      tags: []
      summary: 'Relationship: field_owner (Taxonomy term - Sections)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the taxonomy_term--administration resource type
        through the <em class="placeholder">field_owner</em> relationship. The
        relationship endpoint contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content promo
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - taxonomy_term--administration
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /block_content/promo/{entity}/field_promo_link:
    get:
      tags: []
      summary: 'Related: field_promo_link (Paragraph - Link teaser)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the paragraph--link_teaser resource type through the <em
        class="placeholder">field_promo_link</em> relationship. The related
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content promo
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/paragraph--link_teaser'
  /block_content/promo/{entity}/relationships/field_promo_link:
    get:
      tags: []
      summary: 'Relationship: field_promo_link (Paragraph - Link teaser)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the paragraph--link_teaser resource type through
        the <em class="placeholder">field_promo_link</em> relationship. The
        relationship endpoint contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content promo
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - paragraph--link_teaser
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /block_content/promo/{entity}:
    get:
      tags: []
      summary: View (Custom block - Promo)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the block_content--promo resource type. The individual endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content promo
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/block_content--promo'
  /block_content/promo/{entity}/revision_user:
    get:
      tags: []
      summary: 'Related: revision_user (User)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the user--user resource type through the <em
        class="placeholder">revision_user</em> relationship. The related
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content promo
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/user--user'
  /block_content/promo/{entity}/relationships/revision_user:
    get:
      tags: []
      summary: 'Relationship: revision_user (User)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the user--user resource type through the <em
        class="placeholder">revision_user</em> relationship. The relationship
        endpoint contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content promo
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - user--user
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /file/file:
    get:
      tags: []
      summary: List (File)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the file--file resource type. Collections are a list of <em
        class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: file Schema
                type: object
                additionalProperties:
                  type: object
                description: Describes the payload for 'file' entities.
  /file/file/{entity}:
    get:
      tags: []
      summary: View (File)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the file--file resource type. The individual endpoint contains a <em
        class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the file file
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/file--file'
  /file/file/{entity}/uid:
    get:
      tags: []
      summary: 'Related: uid (User)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the user--user resource type through the <em
        class="placeholder">uid</em> relationship. The related endpoint contains
        a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the file file
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/user--user'
  /file/file/{entity}/relationships/uid:
    get:
      tags: []
      summary: 'Relationship: uid (User)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the user--user resource type through the <em
        class="placeholder">uid</em> relationship. The relationship endpoint
        contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: entity
          in: path
          description: The uuid of the file file
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - user--user
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /media/image/{entity}/bundle:
    get:
      tags: []
      summary: 'Related: bundle (Media type)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the media_type--media_type resource type through the <em
        class="placeholder">bundle</em> relationship. The related endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the media image
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content: {}
  /media/image/{entity}/relationships/bundle:
    get:
      tags: []
      summary: 'Relationship: bundle (Media type)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the media_type--media_type resource type through
        the <em class="placeholder">bundle</em> relationship. The relationship
        endpoint contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the media image
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - media_type--media_type
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /media/image:
    get:
      tags: []
      summary: List (Media - Image)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the media--image resource type. Collections are a list of <em
        class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: media:image Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'media' entities of the 'image'
                  bundle.
  /media/image/{entity}/field_owner:
    get:
      tags: []
      summary: 'Related: field_owner (Taxonomy term - Sections)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the taxonomy_term--administration resource type through the <em
        class="placeholder">field_owner</em> relationship. The related endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the media image
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/taxonomy_term--administration'
  /media/image/{entity}/relationships/field_owner:
    get:
      tags: []
      summary: 'Relationship: field_owner (Taxonomy term - Sections)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the taxonomy_term--administration resource type
        through the <em class="placeholder">field_owner</em> relationship. The
        relationship endpoint contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the media image
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - taxonomy_term--administration
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /media/image/{entity}/image:
    get:
      tags: []
      summary: 'Related: image (File)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the file--file resource type through the <em
        class="placeholder">image</em> relationship. The related endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the media image
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/file--file'
  /media/image/{entity}/relationships/image:
    get:
      tags: []
      summary: 'Relationship: image (File)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the file--file resource type through the <em
        class="placeholder">image</em> relationship. The relationship endpoint
        contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the media image
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - file--file
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /media/image/{entity}:
    get:
      tags: []
      summary: View (Media - Image)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the media--image resource type. The individual endpoint contains a
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the media image
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/media--image'
  /media/image/{entity}/revision_user:
    get:
      tags: []
      summary: 'Related: revision_user (User)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the user--user resource type through the <em
        class="placeholder">revision_user</em> relationship. The related
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the media image
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/user--user'
  /media/image/{entity}/relationships/revision_user:
    get:
      tags: []
      summary: 'Relationship: revision_user (User)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the user--user resource type through the <em
        class="placeholder">revision_user</em> relationship. The relationship
        endpoint contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the media image
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - user--user
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /media/image/{entity}/thumbnail:
    get:
      tags: []
      summary: 'Related: thumbnail (File)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the file--file resource type through the <em
        class="placeholder">thumbnail</em> relationship. The related endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the media image
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/file--file'
  /media/image/{entity}/relationships/thumbnail:
    get:
      tags: []
      summary: 'Relationship: thumbnail (File)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the file--file resource type through the <em
        class="placeholder">thumbnail</em> relationship. The relationship
        endpoint contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the media image
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - file--file
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /media/image/{entity}/uid:
    get:
      tags: []
      summary: 'Related: uid (User)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the user--user resource type through the <em
        class="placeholder">uid</em> relationship. The related endpoint contains
        a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the media image
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/user--user'
  /media/image/{entity}/relationships/uid:
    get:
      tags: []
      summary: 'Relationship: uid (User)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the user--user resource type through the <em
        class="placeholder">uid</em> relationship. The relationship endpoint
        contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the media image
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - user--user
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /node/banner:
    get:
      tags: []
      summary: List (Content - Full Width Alert)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the node--banner resource type. Collections are a list of <em
        class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: node:banner Schema
                type: object
                additionalProperties:
                  type: object
                description: A full width dismissible banner
  /node/banner/{entity}/field_administration:
    get:
      tags: []
      summary: 'Related: field_administration (Taxonomy term - Sections)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the taxonomy_term--administration resource type through the <em
        class="placeholder">field_administration</em> relationship. The related
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node banner
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/taxonomy_term--administration'
  /node/banner/{entity}/relationships/field_administration:
    get:
      tags: []
      summary: 'Relationship: field_administration (Taxonomy term - Sections)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the taxonomy_term--administration resource type
        through the <em class="placeholder">field_administration</em>
        relationship. The relationship endpoint contains a <em
        class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node banner
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - taxonomy_term--administration
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /node/banner/{entity}:
    get:
      tags: []
      summary: View (Content - Full Width Alert)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the node--banner resource type. The individual endpoint contains a
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node banner
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/node--banner'
  /node/banner/{entity}/node_type:
    get:
      tags: []
      summary: 'Related: node_type (Content type)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the node_type--node_type resource type through the <em
        class="placeholder">node_type</em> relationship. The related endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node banner
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content: {}
  /node/banner/{entity}/relationships/node_type:
    get:
      tags: []
      summary: 'Relationship: node_type (Content type)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the node_type--node_type resource type through the
        <em class="placeholder">node_type</em> relationship. The relationship
        endpoint contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node banner
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - node_type--node_type
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /node/banner/{entity}/revision_uid:
    get:
      tags: []
      summary: 'Related: revision_uid (User)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the user--user resource type through the <em
        class="placeholder">revision_uid</em> relationship. The related endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node banner
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/user--user'
  /node/banner/{entity}/relationships/revision_uid:
    get:
      tags: []
      summary: 'Relationship: revision_uid (User)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the user--user resource type through the <em
        class="placeholder">revision_uid</em> relationship. The relationship
        endpoint contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node banner
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - user--user
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /node/banner/{entity}/uid:
    get:
      tags: []
      summary: 'Related: uid (User)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the user--user resource type through the <em
        class="placeholder">uid</em> relationship. The related endpoint contains
        a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node banner
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/user--user'
  /node/banner/{entity}/relationships/uid:
    get:
      tags: []
      summary: 'Relationship: uid (User)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the user--user resource type through the <em
        class="placeholder">uid</em> relationship. The relationship endpoint
        contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node banner
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - user--user
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /node/checklist:
    get:
      tags: []
      summary: List (Content - Checklist)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the node--checklist resource type. Collections are a list of <em
        class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: node:checklist Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'node' entities of the 'checklist'
                  bundle.
  /node/checklist/{entity}/field_administration:
    get:
      tags: []
      summary: 'Related: field_administration (Taxonomy term - Sections)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the taxonomy_term--administration resource type through the <em
        class="placeholder">field_administration</em> relationship. The related
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node checklist
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/taxonomy_term--administration'
  /node/checklist/{entity}/relationships/field_administration:
    get:
      tags: []
      summary: 'Relationship: field_administration (Taxonomy term - Sections)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the taxonomy_term--administration resource type
        through the <em class="placeholder">field_administration</em>
        relationship. The relationship endpoint contains a <em
        class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node checklist
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - taxonomy_term--administration
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /node/checklist/{entity}/field_alert_single:
    get:
      tags: []
      summary: 'Related: field_alert_single (Paragraph - Alert (single))'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the paragraph--alert_single resource type through the <em
        class="placeholder">field_alert_single</em> relationship. The related
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node checklist
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/paragraph--alert_single'
  /node/checklist/{entity}/relationships/field_alert_single:
    get:
      tags: []
      summary: 'Relationship: field_alert_single (Paragraph - Alert (single))'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the paragraph--alert_single resource type through
        the <em class="placeholder">field_alert_single</em> relationship. The
        relationship endpoint contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node checklist
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - paragraph--alert_single
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /node/checklist/{entity}/field_buttons:
    get:
      tags: []
      summary: 'Related: field_buttons (Paragraph - Call to action)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the paragraph--button resource type through the <em
        class="placeholder">field_buttons</em> relationship. The related
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node checklist
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: paragraph:button Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'paragraph' entities of the 'button'
                  bundle.
  /node/checklist/{entity}/relationships/field_buttons:
    get:
      tags: []
      summary: 'Relationship: field_buttons (Paragraph - Call to action)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the paragraph--button resource type through the
        <em class="placeholder">field_buttons</em> relationship. The
        relationship endpoint contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node checklist
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    uniqueItems: true
                    type: array
                    description: >-
                      An array of objects each containing \"type\" and \"id\"
                      members for to-many relationships.
                    items:
                      required:
                        - id
                        - type
                      type: object
                      properties:
                        type:
                          title: Resource type name
                          type: string
                          enum:
                            - paragraph--button
                        id:
                          title: Resource ID
                          type: string
                          format: uuid
                        meta:
                          type: object
                          properties: {}
                          description: >-
                            Non-standard meta-information that can not be
                            represented as an attribute or relationship.
                      description: The "type" and "id" to non-empty members.
  /node/checklist/{entity}/field_checklist:
    get:
      tags: []
      summary: 'Related: field_checklist (Paragraph - Checklist)'
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Related endpoint</a></em> for
        the paragraph--checklist resource type through the <em
        class="placeholder">field_checklist</em> relationship. The related
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular related resource or
        entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node checklist
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/paragraph--checklist'
  /node/checklist/{entity}/relationships/field_checklist:
    get:
      tags: []
      summary: 'Relationship: field_checklist (Paragraph - Checklist)'
      description: >-
        <em class="placeholder"><a
        href="https://jsonapi.org/format/#fetching-relationships">Relationship
        endpoint</a></em> for the paragraph--checklist resource type through the
        <em class="placeholder">field_checklist</em> relationship. The
        relationship endpoint contains a <em class="placeholder"><a
        href="https://jsonapi.org/format/#document-resource-identifier-objects">resource
        identifier object</a></em> with the data for a particular relationship.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node checklist
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    required:
                      - id
                      - type
                    type: object
                    properties:
                      type:
                        title: Resource type name
                        type: string
                        enum:
                          - paragraph--checklist
                      id:
                        title: Resource ID
                        type: string
                        format: uuid
                      meta:
                        type: object
                        properties: {}
                        description: >-
                          Non-standard meta-information that can not be
                          represented as an attribute or relationship.
                    description: The "type" and "id" to non-empty members.
  /node/checklist/{entity}/field_contact_information:
    get:
      tags: []
      summary: 'Related: field_contact_information (Paragraph - Contact information)'
      description: >-
        <em class="placeholder"><a
[...]
