#block-sitealert {
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 500;
}

#block-sitealert div.site-alert div.severity-low,
#block-sitealert div.site-alert div.severity-medium,
#block-sitealert div.site-alert div.severity-high {
  background-image: none;
  color: #000;
  margin-bottom: 0;
}

#block-sitealert div.site-alert div.severity-low {
  background-color: #e1f3f8;
}

#block-sitealert div.site-alert div.severity-medium {
  background-color: #fff1d2;
}

#block-sitealert div.site-alert div.severity-high {
  background-color: rgb(255, 241, 210);
  background-color: rgba(255, 241, 210, 0.9);
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 800;
}

#block-sitealert div.severity-high div.text {
  background-color: rgb(255, 241, 210);
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50vh;
}
