.toolbar-oriented .toolbar-bar .toolbar-tab.content-release-toolbar-tab,
.toolbar-oriented .toolbar-bar .toolbar-tab.content-release-toolbar-tab-prod,
.toolbar-oriented .toolbar-bar .toolbar-tab.branch-toolbar-tab {
  float: right;
  height: 39px;
  z-index: 300;
}

.toolbar-oriented .toolbar-bar .toolbar-tab.branch-toolbar-tab .toolbar-icon-branch {
  padding-left: 1em;
}

.toolbar-icon-content-release .button-text {
  font-size: 0;
}

#content-release-status-icon-prod {
  background-image: url('../images/content-release-tooltip.svg');
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding-bottom: 10px;
  z-index: 300;
}

#content-release-status-icon {
  background-image: url('../images/content-release-tooltip-gray.svg');
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding-bottom: 10px;
  z-index: 300;
}

.toolbar .toolbar-icon-content-release.toolbar-item:hover,
.toolbar .toolbar-icon-content-release.toolbar-item:focus {
  text-decoration: none;
}
