.toolbar-oriented .toolbar-bar .toolbar-tab.content-release-toolbar-tab,
.toolbar-oriented .toolbar-bar .toolbar-tab.branch-toolbar-tab {
  float: right;
}

.toolbar-oriented .toolbar-bar .toolbar-tab.branch-toolbar-tab .toolbar-icon-branch {
  padding-left: 1em;
}

.content-release-toolbar-tab {
  background-image: url('../images/content-release-tooltip.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.toolbar .toolbar-icon-content-release.toolbar-item:hover,
.toolbar .toolbar-icon-content-release.toolbar-item:focus {
  text-decoration: none;
}
