#group-covid-19-safety-guidelines .fieldset__description {
  margin-bottom: 0;
}

#covid-safety-guidelines-status-text-prefix h5 {
  margin: 0;
}

#covid-safety-guidelines-status-text {
  background-color: rgba(243, 244, 249, 0.4);
  position: relative;
}

#covid-safety-guidelines-status-text-target {
  display: inline-block;
}
