{% if uswds_grid_class %}
    <div class="{{ uswds_grid_class }}">
{% endif %}

{% include "@uiComponents/organisms/grey-box/pattern-grey-box.html.twig" with
    {
        'contents' : content.field_grey_box_contents,
    }
%}

{% if uswds_grid_class %}
    </div>
{% endif %}

