{#{%#}
    {#set classes = [#}
    {#'paragraph',#}
    {#'paragraph--type--' ~ paragraph.bundle|clean_class,#}
    {#view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,#}
{#]#}
{#%}#}
{%
    set classes = [
    'usa-accordion'
]
%}

{% block paragraph %}

    {% if uswds_grid_class %}
        <div class="{{ uswds_grid_class }}">
    {% endif %}

    <ul{{ attributes.addClass(classes) }}>
        {% block content %}

            {% for key,value in paragraph.field_va_paragraphs.value %}
                {{ content.field_va_paragraphs[key] }}
            {% endfor %}

        {% endblock %}
    </ul>

    {% if uswds_grid_class %}
        </div>
    {% endif %}

{% endblock paragraph %}
