{#
/**
 * @file
 * VAGov theme implementation for a collapsible panel item
 */
#}
{%
    set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
{% block paragraph %}
    <li{{ attributes.addClass(classes) }}>

        {% include "@uiComponents/molecules/collapsible-panel-item/pattern-collapsible-panel-item.html.twig" with
            {
               'title' : content.field_title,
                'wysiwyg' : content.field_wysiwyg
            }
        %}

    </li>
{% endblock paragraph %}
