    <ul>
    {% for node in nodes %}
        <li class="vagov-node">
            <h4>Title: {{ node.nodeTitle }}</h4>
            <p>Intro Text: {{ node.introText }}</p>
        </li>
    {% else %}
        <h3> There are no nodes to show </h3>
    {% endfor %}
</ul>