{% for node in nodes %}
    <div class="vagov-node">
        <h4> {{ node.nodeTitle }}</h4>
        <p>Intro Text: {{ node.introText }}</p>
    </div>
{% else %}
    <h3> There are no nodes to show </h3>
{% endfor %}