/**
 * Content release form styling.
 */

form.va-gov-content-release-form {
  margin-top: 2em;
}

form h2 {
  margin-top: 2em;
}

.form-actions .form-item-confirm {
  margin-top: 2em;
}

.form-item.form-item-details {
  margin-top: 2em;
}

fieldset.form-item {
  margin-top: 1em;
}

#edit-content-release-status-block--2 {
  margin-top: 1.5em;
}

#edit-content-release-status-block--2 [colspan]:not([colspan='1']) {
  font-style: italic;
  padding: 1.5em;
  text-align: center;
}

.form-item-cta.button--primary a {
  color: #fff;
}

/* ensures button to release content is on its own line */
.va-gov-content-release-form .form-actions {
  flex-direction: column;
}
