.documentation-page {

  // override of _proofing.scss for kb only
  #block-vagovclaro-content .paragraph {
    /* stylelint-disable */
    border: none;
    /* stylelint-enable */
    margin-bottom: 0;
    padding: 0;
  }

  .paragraph {
    &.paragraph--type--q-a,
    &.paragraph--type--collapsible-panel-item {
      /* stylelint-disable */
      border: none;
      /* stylelint-enable */
      margin-bottom: 0;
      padding: 0;

      .paragraph {
        /* stylelint-disable */
        border: none;
        /* stylelint-enable */
      }

      .paragraph--metadata {
        display: none;
      }


      details {
        border: 3px solid var(--va-gray-lightest);
        /* stylelint-disable */
        border-top: none;
        /* stylelint-enable */
        display: block;
        margin: -10px 0 0;
        position: relative;
        width: auto;

        .field__item {
          font-size: inherit;
          line-height: 1.5;
          margin-bottom: 0;

          &.field--name-field-title {
            background-color: transparent;
            padding: 0;
          }
        }

        /* stylelint-disable -- Need this naked [open] selector. */
        &[open] {
          summary::after {
            content: '-';
            float: right;
            font-size: 2.5em;
            font-weight: bold;
            margin-right: 10px;
            margin-top: 3px;
          }
        }
        /* stylelint-enable */

        .details-body {
          padding-left: 20px;
        }

        summary {
          background: var(--va-gray-lightest);
          cursor: pointer;
          font-family: var(--font-family-sans);
          font-weight: 600;
          list-style: none;
          padding: 10px 10px 10px 20px;
          text-decoration: none !important;

          h3 {
            display: inline-block;
            font-family: var(--font-family-sans);
            font-size: 1em;
            font-weight: 600;
            margin: 0;
            max-width: 95%;
            padding: 0;
            text-transform: none;
          }

          &::after {
            content: '+';
            float: right;
            font-size: 2em;
            font-weight: bold;
            margin-right: 10px;
            margin-top: 3px;
          }

          ::marker {
            display: none;
          }

          &::-webkit-details-marker {
            display: none;
          }
        }
      }
    }

    &.paragraph--type--q-a.paragraph--view-mode--default details summary h3 {
      max-width: 100%;
    }
  }

  // prevents some long KB page titles overlapping with the header form
  .page-title {
    max-width: 70%;
  }
}

.kb-search-block-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--space-s);
  margin-top: -2.5rem;
}

.header-search-form form {
  display: flex;

  .form-item {
    margin: 0;
  }

  .form-element {
    background: var(--va-blue-darker);
    border-color: var(--va-gray-cool-med);
    color: var(--color-white);
    min-height: 32px;

    &::placeholder {
      color: var(--color-white);
    }
  }

  .form-actions {
    align-items: flex-end;
    margin: 0 0 0 var(--space-m);
  }

  .form-actions .button {
    margin: 0;
  }
}

.tags {
  display: flex;

  .taxonomy-term {
    margin-left: 2px;

    a {
      background: var(--va-gray-lightest);
      border-radius: 20px;
      display: inline-block;
      font-size: 14px !important;
      font-weight: 700;
      margin-right: var(--space-s) !important;
      padding: var(--space-xs) var(--space-m);
      text-decoration: none;
    }

    a:hover {
      background: var(--va-blue-light);
      text-decoration: none;
    }
  }
}
