.va-login-header {
  background-color: var(--color-blue-darkest);
  margin-bottom: 0;
}

.va-header-logo {
  background-color: transparent;
  border-bottom: 0;
  display: block;
  height: auto;
  margin-bottom: 1.5rem;
  max-width: 264px;
  width: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-container--login {
  flex: 1;
}

// overriding get help button styles for homepage only
.layout-container--login #get-help-button {
  display: none;
}

// Hide non-PIV login elements by default
.piv-login {
  .js-login-username,
  .js-login-password,
  .js-login-submit {
    display: none;
  }
}

// Hide PIV login elements when default is shown.
.form-login {
  .js-piv-container {
    display: none;
  }
}
