.va-login-header {
  background-color: var(--color-blue-darkest);
}

.va-header-logo {
  background-color: transparent;
  border-bottom: 0;
  display: block;
  height: auto;
  margin-bottom: 1.5rem;
  max-width: 264px;
  width: 100%;
}
