.block--unpublished {
  background-color: var(--va-red-lightest);
  padding: var(--spacing-m);
}
/*Unset background for child elements that use .block--unpublished*/

#block-vagovclaro-content .block--unpublished.field--name-field-alert > .field__item {
  background-color: unset !important;
}
