{# Demo file for Storybook, not a real template for Drupal consumption #}
<div class="icons">
  {% for icon in vars %}
    <div>
      <i class="fas fa-{{ icon }}"></i>
      <p>fas-{{ icon }}</p>
    </div>
  {% endfor %}
</div>
