.va-nav-linkslist--related {
  background: #f1f1f1;
  padding: 0.1rem 1.6rem;
  margin: 2.6rem 0 4rem;
  a {
    font-weight: 700;
    text-decoration: none;
  }
  .paragraph--type--link-teaser {
    margin: 1.6rem 0;
  }
  .va-nav-linkslist-heading {
    border-bottom: 1px solid #aeb0b5;
    margin: 0;
    padding: 1.6rem 0 0.4rem;
    font-size: 1.5em;
  }
}
