details {
  &.va-accordion {
    &.va-accordions-set {
      margin: 5px 0;
      h3 {
        font-size: 1.6rem;
      }
      summary:after {
        position: absolute;
        right: 10px;
        content: "+";
        color: #000;
        font-size: 2em;
        font-weight: bold;
      }
    }
  }
}
