$medium-phone-screen: 375px;
/* OVERRIDE */
.merger {
  // Begin new-grid override
  // Overrides some default properties with a
  // class name that makes it more clear we remove
  // it when the work is complete.
  .va-sidebarnav.new-grid {
    width: 100% !important;
  }
  // End new-grid override

  .login {
    .container {
      width: 100%;
    }
  }

  .va-dropdown-panel {
    min-width: 100%;
  }

  .vet-toolbar {
    min-height: 50px;
  }

  .va-modal {
    font-size: 1.6rem;
  }

  #modal-crisisline {
    display: block;

    p {
      font-size: 100%;
    }
  }

  #dashboard-title {
    margin-top: 0;
  }

  #va-header-logo-menu {
    align-items: center;
  }
  $color-primary-lightest: #e1f3f8;

  section.usa-grid {
    padding-top: 3em;
  }

  /* logo size override */

  .va-header-logo {
    height: auto;
    max-width: 264px;
    width: 100%;
  }

  article {
    &:last-of-type {
      padding-bottom: 3em;
    }
  }

  .va-helpmenu-contents {
    > p {
      line-height: 1.2em;
      margin-bottom: 0.8em;
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      text-decoration: none;
    }
  }

  #menu-rule {
    border-bottom: 1px solid #fff;
    margin-left: -0.55em;
    padding-bottom: 1em;
    padding-right: 1.2em;
  }

  /* new pattern? where we use old VA icons with h3 */
  .va-icon-header {
    height: 40px;
    margin-left: -6px;
    width: 100%;

    .va-icon-icon {
      display: inline;
      float: left;
      height: auto;
      margin: 0;
      padding: 0;
      width: 12%;
    }

    .va-icon-h {
      display: inline;
      width: 87%;
    }
  }

  .va-icon-cols {
    p {
      margin-top: 0;
    }

    padding-bottom: 3em;
  }

  h3,
  h4 {
    .fa {
      padding-right: 0.35em;
    }
  }

  .merger-majorlinks {
    .link {
      margin-bottom: 1em;

      p {
        margin: 0;
      }

      a {
        padding-bottom: 0;
        text-decoration: none;
      }
    }
  }

  .va-nav-breadcrumbs-list {
    padding-left: 0;

    li {
      list-style: none;
      padding-bottom: 1em;
      padding-top: 1em;
    }
  }

  .hub-main-title {
    width: 90%;
  }

  .usa-grid {
    .usa-width-two-thirds {
      .hub-main-icon {
        margin-top: 8px;
        vertical-align: top;

        > .icon-large {
          margin-right: 10px;
        }
      }
    }
  }

  .vet-toolbar {
    .va-dropdown {
      span {
        white-space: nowrap;
      }
    }
  }

  .sign-in-nav {
    .va-dropdown-trigger {
      display: flex;

      span {
        max-width: 60px;
        overflow: hidden;
        padding-left: 6px;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.user-dropdown-email {
          margin-top: 5px;
        }
      }
    }
  }

  va-accordion,
  .usa-accordion-bordered {
    &.social,
    &.links {
      a {
        text-decoration: underline;
      }

      .social-icon {
        text-decoration: none;
      }

      va-accordion-item,
      .usa-accordion-content {
        h4:first-child {
          margin-top: 0;
        }

        > section {
          margin-bottom: 1.5em;
        }

        > section:last-child {
          margin-bottom: 0;
        }

        > h4 {
          margin: 1.5em auto;
        }

        ul > h4 {
          margin: 1em auto;
        }

        ul > li {
          margin: 1em auto;

          &:last-child {
            margin: unset;
          }
        }
      }

      .usa-accordion-button {
        border: 0;
      }
    }
  }

  .va-sign-in-alert {
    .usa-button-primary {
      margin-top: 10px;
    }
  }

  .va-modal-close {
    .fa {
      color: inherit;
    }
  }

  .hub-links-container {
    flex: 1;
  }

  .white {
    color: #fff;
  }

  .sidenav-previous-page {
    font-size: 15px;
    padding-bottom: 12px;

    a {
      &::before {
        content: " \2039 ";
        display: inline-block;
        padding: 0 0.35em 0 0;
      }
    }
  }

  // These next two rules override some styles in user-nav.scss, should be moved there
  // after WBC is live
  .sign-in-links {
    flex-shrink: 0;
  }

  .sign-in-link {
    margin: 0;
  }
}

// There are styles in our sidebar styles that set a small
// amount of padding on the grid for detail pages, which we
// are overriding for WBC with no padding
.va-l-detail-page > .usa-grid-full {
  padding-left: inherit;
  padding-right: inherit;
}

.flex-container {
  display: flex;
}

.vet-toolbar .va-dropdown {
  margin-left: 0;
}

.profile-nav {
  margin-top: 6px;
}

.process-accordion > li {
  list-style: none !important;
}

.circular-profile-image {
  border-radius: 50%;
  position: relative;
}

.usa-grid > :last-child,
.usa-grid-full > :last-child {
  &.half-em-bottom-margin {
    margin-bottom: 0.5em;
  }
}

.inline-table-helper {
  display: inline-table;
}

.usa-accordion > ul li ul,
.usa-accordion-bordered > ul li ul {
  list-style: square;
}

.no-left-button-right-radius-treatment {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.no-right-button-left-radius-treatment {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.no-p-bottom-margin p {
  margin-bottom: 0;
}

.operating-status-title {
  margin: auto;
}

.clearfix-text {
  clear: both;
  display: block;
}

.va-u-outline--none:focus {
  outline: none;
}

.image-detail {
  width: 25%;

  .alt-text-container {
    min-height: 200px;
  }
}

.image-desc {
  width: 50%;
}

#vetnav-menu {
  border-radius: 0;
  border-top: 3px solid transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  height: auto;
  line-height: 1;
  list-style: none;
  margin: 0;
  overflow-y: visible;
  padding-left: 0;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;

  button {
    margin-bottom: 0;
    margin-top: 0;
  }

  li {
    line-height: 2.5;
  }

  a {
    text-decoration: none;
  }
}

.vetnav-level1 {
  background-color: transparent;
  background-size: 1rem auto;
}

.node-title {
  i {
    &.icon-large {
      float: left;
    }
  }
  h1 {
    float: left;
  }
  clear: both;
  display: flex;
}

.field--name-field-intro-text {
  font-family: Bitter, Georgia, Cambria, Times New Roman, Times, serif;
  font-size: 2rem;
  font-weight: 400;
  max-width: 77rem;
}

.merger-r-rail {
  margin-bottom: 1.5em;
  &.hub-promo {
    background-color: #f1f1f1;
    border: none;
  }
}

.merger article {
  width: 100%;
}

.hub-promo-text {
  padding: 1em;
}

details {
  &.va-accordion {
    border: 3px solid #f1f1f1;
    display: block;
    width: 100%;
    margin: 10px 0;
    &[open] {
      summary::-webkit-details-marker {
        color: #0000ff;
        background: #00ffff;
      }
      summary:after {
        content: "-";
        color: #000;
      }
    }
    summary {
      position: relative;
      cursor: pointer;
      line-height: 1;
      background-color: #f1f1f1;
      display: flex;
      h3 {
        font-family: var(--font-source-sans);
        font-size: 1.17em;
        margin-bottom: 0;
        margin-top: 0;
        padding: 10px 10px 10px 20px;
      }
      &::-webkit-details-marker {
        display: none;
      }
      &:after {
        position: absolute;
        right: 10px;
        content: "+";
        color: #000;
        font-size: 2.5em;
        font-weight: bold;
      }
    }

    .details-content {
      padding: 10px 10px 10px 20px;
      .views-row,
      .row {
        padding: 10px 0;
      }
    }
  }
}

.flex-container {
  display: flex;
}

#block-vagov-uswds-node-link-report {
  .usa-alert {
    cursor: pointer;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 1.5em;
    details {
      display: inline;
    }
    &:before {
      float: left;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
    }
  }
}

.usa-alert {
  &.usa-alert--success {
    margin-top: 0;
    margin-bottom: 1.5em;
    padding: 10px;
    font-weight: 700;
    border-left-color: green;
  }
}

#block-vagov-uswds-views-block-right-sidebar-latest-revision-block-1 {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .featured-content-list-item {
    width: 33%;
    margin-right: 1em;
  }
}

.field--name-field-cc-vet-center-call-center {
  p {
    background: #fff1d2;
    padding: 20px;
  }
}
