.centralized.tooltip-layout {
  padding-right: 37px;
}

.centralized.tooltip-layout .tooltip-toggle {
  right: 6px;
  top: 2rem;
}

.centralized.tooltip-layout .field--name-field-vet-center-service-descrip {
  color: #595959;
  margin-top: 10px;
  padding-top: 10px;
}

.field--name-field-health-services .field__items .field__item > *:not(:nth-child(1)) {
  margin-left: 1rem;
}

.field--name-field-health-services .field__items .field__item ul {
  padding-left: 1rem;
}

.field--name-field-health-services .centralized.tooltip-layout div.field__item {
  max-width: initial;
}

#block-vagovclaro-content .field--name-field-health-services .centralized.tooltip-layout div.field__item:last-child {
  margin-bottom: 0;
}

