.centralized.tooltip-layout {
  margin-bottom: 0;
}

.centralized.tooltip-layout .tooltip-toggle {
  right: 2rem;
}

.centralized.tooltip-layout .field--name-field-vba-service-descrip {
  color: #595959;
  margin-top: 10px;
  padding-top: 10px;
}

.field--name-field-vba-services .field__items .field__item > *:not(:nth-child(1)) {
  margin: 0 1rem;
}

