{% include '@va_gov_form_builder/components/banner.html.twig' with {
  heading: 'Non-editable pattern',
  heading_level: heading_level,
  body: '<p>This standardized pattern has no editable elements. It will be included as shown below.</p>',
  aria_label: 'Non-editable pattern',
  type: 'info',
} %}
