.vagov-c-linkteaser {
  &--item {
    margin: $spacing-md-small 0;
    &--header {
      font-weight: bold;
      @include display-icon('arrow-right', 'after','10px', $spacing-x-small, 'null');
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &--description {
      color: $color-black;
      margin: 0;
    }
  }
}