<div class="vagov-c-linkteaser--item">
    {%  for item in link %}
        <span class="vagov-c-linkteaser--item--header">
            {% if item.url %}
                <a href="{{ item.url }}" class="no-external-icon">{{ item.title }}</a>
            {% else %}
                {{ item.title }}
            {% endif %}
        </span>
    {% endfor %}

    <p class="vagov-c-linkteaser--item--description">
        {{ link_summary }}
    </p>
</div>