{#
/**
 * @file
 * Claro's theme implementation for maintenance page on the FRONT PAGE.
 *
 * This template is used for rendering the front page during maintenance mode.
 *
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 * @see vagovclaro_theme_suggestions_page_alter()
 * @see maintenance-page.html.twig
 */
#}
<!-- DEBUG: maintenance-page--front.html.twig is being used -->
<div class="maintenance-page-front-template">

  <main role="main" class="main-content">
    <div class="maintenance-mode-alert">
      <p><strong>System update in progress</strong><br><br>Sit tight! Stay on this page to avoid losing unsaved changes. <br>We will let you know when it is ok to resume working again.</p>
    </div>
  </main>

</div>{# /.layout-container #}
