{#
/**
 * @file
 * Claro's theme implementation for maintenance page.
 *
 * This template is used for renderingpage maintenance pages.
 *
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 * @see maintenance-page-.html.twig
 */
#}
<!-- DEBUG: maintenance-page.html.twig is being used -->
<div class="maintenance-page-template">

  <main role="main" class="main-content">
    <div class="maintenance-mode-alert">
      <p><strong>System update in progress</strong><br><br>Sit tight! Stay on this page to avoid losing unsaved changes. <br>We will let you know when it is ok to resume working again.</p>
    </div>
  </main>

</div>{# /.layout-container #}
