{#
/**
 * @file
 * Theme for the inline guidance trigger button. .
 *
 * Available variables:
 * - title: Title of the field the guidance is for.
 * - classes: Any classes to be added to the button.
 */
#}
<button id="inline-guidance-trigger" class="inline-guidance-trigger-text {{ classes }}" aria-expanded="false" aria-controls="inline-guidance-text-box">Tips for {{ title }}</button>
