{#
/**
 * @file
 * Theme inline guidance text box.
 *
 * Available variables:
 * - content: The content passed in to be displayed in the box. Can be markup.
 * - classes: Any classes to be added to the text box.
 */
#}
<div id="inline-guidance-text-box" class="inline-guidance-text hide {{ classes }}">
  {{ content|raw }}
</div>
