.layout__region.layout__region--first,
.layout__region.layout__region--second,
.layout__region.layout__region--third {
  display: flex;
  flex-wrap: wrap;
}

.block-va-gov-dashboards {
  background-color: #f1f1f1;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  display: inline-grid;
  flex-wrap: wrap;
  margin: 10px;
  padding: 16px;
  /* stylelint-disable */
  width: -webkit-fill-available;
  width: -moz-available;
  /* stylelint-enable */
}

.dashboard-block-img-wrap {
  display: block;
  margin: 0 auto;
}

.dashboard-block-link-right {
  float: right;
}
