/* layout builder builds the whole term page, we only want to target
   the dashboard block container */
.layout.layout--onecol:first-child {
  margin: 0 auto;
  max-width: 1200px;
}

.layout.layout--onecol:first-child .layout__region--content {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

@media screen and (min-width: 40em) {
  .layout.layout--onecol:first-child .layout__region--content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 70em) {
  .layout.layout--onecol:first-child .layout__region--content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.block-va-gov-dashboards {
  background-color: #f5f5f2;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  display: inline-grid;
  flex-wrap: wrap;
  margin: 10px auto;
  padding: 16px;
  width: 284px;
}

.dashboard-block-img-wrap {
  display: block;
  margin: 8px auto 22px;
}

.dashboard-block-link-right {
  float: right;
}

.dashboard-block-link {
  font-size: 1.15em;
}

/* Vet center facilities list block */
.block-views-blockvet-center-facility-listing-vc-facility-listing {
  margin-top: 3em;
}

.block-vet-center-facility-button {
  margin: 1em 0;
}

.view-vet-center-facility-listing img {
  height: 100px;
  width: auto;
}
