<div class="usa-alert usa-alert-info va-alert-info">
    <div class="usa-alert-body va-alert-body">
        <p class="usa-alert-text va-alert-text">
            {{ example_text }}
        </p>
    </div>
</div>