{#
/**
 * @file
 * VA.gov Claro implementation of VA footer. Appearance should be relatively
 * consistent with other VA digital properties.
 */
#}

<footer class="va-footer">
  <div class="layout-container">
    {# these links should be tied to a menu imo #}
    <nav>
      <ul class="va-footer-links">
        <li><a href="https://www.section508.va.gov/">Accessibility</a></li>
        <li><a href="https://www.va.gov/opa/Plain_Language.asp">Plain Language</a></li>
        <li><a href="https://www.va.gov/web/">Web Policies</a></li>
        <li><a href="https://www.oprm.va.gov/default.aspx">Privacy</a></li>
      </ul>
    </nav>

    <a href="https://www.va.gov/">
      <img class="va-footer-logo" alt="VA.gov homepage" src="{{ directory }}/images/va-logo-white.png" />
    </a>
  </div>
</footer>
