{#
/**
 * @file
 * VA.gov Claro implementation of VA footer. Appearance should be relatively
 * consistent with other VA digital properties.
 */
#}

<footer class="va-footer">
  <div class="layout-container">
    {{page.footer}}
    <a href="https://www.va.gov/">
      <img class="va-footer-logo" alt="VA.gov homepage" src="{{ base_path ~ directory }}/images/va-logo-white.png" />
    </a>
  </div>
</footer>
