/**
 * Tabledrag overrides.
 */

.field--widget-magichead-paragraphs-classic .tabledrag-cell-content > * {
  border-left: 1px dashed var(--va-gray-dark);
}

.field--widget-magichead-paragraphs-classic .tabledrag-cell-content .indentation {
  border-left: 0;
}

.field--widget-magichead-paragraphs-classic .tabledrag-cell-content__item:empty {
  display: table-cell;
}

.field--widget-magichead-paragraphs-classic .tabledrag-cell-content__item:empty {
  border-left: 0;
  border-right: 1px dashed var(--va-gray-dark);
}

.draggable .tabledrag-changed {
  border-left: 0;
}
