//drupal alert styles
.va-alert {
  border-left-style: solid;
  border-left-width: 10px;
  box-sizing: border-box;
  color: var(--color-text);
  padding: var(--space-l) var(--space-l) var(--space-l) var(--space-s);
  vertical-align: middle;
  width: 100%;
}

.va-alert.messages--status {
  background-color: var(--va-blue-light);
  border-color: var(--va-blue-bright-med);
}

.va-alert.messages--status a {
  background-color: var(--va-blue-light);
  color: var(--va-blue-bright-med);
}

.va-alert.messages--warning {
  background-color: var(--va-gold-lightest);
  border-color: var(--va-gold-med);
}

.va-alert.messages--warning a {
  background-color: var(--va-gold-lightest);
  color: var(--va-gold-med);
}

.va-alert.messages--success {
  background-color: var(--va-green-lightest);
  border-color: var(--va-green);
}

.va-alert.messages--success a {
  background-color: var(--va-green-lightest);
  color: var(--va-green);
}

.va-alert.messages--error {
  background-color: var(--va-red-lightest);
  border-color: var(--va-red-bright);
}

.va-alert.messages--error a {
  background-color: var(--va-red-lightest);
  color: var(--va-red-bright);
}

.messages-list {
  margin-bottom: var(--space-m);
  margin-top: var(--space-m);
}

// node link report tweaks
.block-node-link-report-block h2 {
  display: inline-block;
  margin-left: var(--space-s);
  width: 90%;
}

.node-link-report-list .messages__header {
  margin-bottom: 0;
}
