.va-alert {
  background-color: #f1f1f1;
  border-left-style: solid;
  border-left-width: 10px;
  box-sizing: border-box;
  color: #323a45;
  padding: 3.2rem 6.4rem 3.2rem 2.4rem;
  vertical-align: middle;
  width: 100%;
}

.va-alert.messages--warning {
  border-color: #fdb81e;
}

.va-alert.messages--warning a {
  color: #fdb81e;
}

.va-alert.messages--success {
  border-color: #2e8540;
}

.va-alert.messages--success a {
  color: #2e8540;
}

.va-alert.messages--error {
  border-color: #cd2026;
}

.va-alert.messages--error a {
  color: #cd2026;
}

.va-alert.messages--status {
  border-color: #00a6d2;
}

.va-alert.messages--status a {
  color: #00a6d2;
}
