.fieldset__legend {
  color: var(--color-text);
}

.claro-details__summary {
  color: var(--color-text);
}

// classes for consistent styles on various help-texts around the cms
.form-item__description,
.fieldset__description,
.claro-details__description,
.field--widget-markup,
.textfield_counter_counter,
.description {
  color: var(--input-fg-color--description);
  font-size: var(--font-size-s);
  line-height: 1.0625rem;
}

.field--widget-markup {
  h2,
  h3,
  h4 {
    color: var(--color-text);
  }
}

.fieldset__description {
  margin-bottom: var(--space-m);
  margin-top: 0;
}

.form-item {
  margin-top: 0;
}

.cc-suffix-text {
  margin-bottom: var(--space-l);
}

.entities-list .item-container > input {
  display: inline-block;
  margin: var(--space-s) var(--space-xs) var(--space-s) 0;
}

// help text on a non-white background needs more contrast
.claro-details__wrapper--accordion-item .form-item__description {
  color: var(--input-fg-color-description--alt);
}

th {
  .label {
    margin-bottom: 0;
  }

  .form-item__description {
    color: var(--color-text);
    font-weight: normal;
    margin-top: 0;
  }
}

.table--widget-entity_reference_browser_table_widget {
  .moderation-status {
    font-weight: 400;
    text-transform: uppercase;
  }
}

.taxonomy-term-preview {
  background-color: unset;
}

#block-entitymetadisplay {
  border: 1px solid var(--color-gray-light);
  border-radius: 2px;
  margin: 1em 0;
  padding: 10px 18px;

  div {
    padding: 2px 0;
  }
}

.ief-entity-table {
  th:last-child {
    font-size: 0;
  }
}

p.vc-help-text {
  line-height: 1.5;

  a {
    text-decoration: underline;

    &:hover {
      opacity: 0.8;
    }
  }
}

.visual-layout-svg {
  padding-bottom: 55px;
  padding-left: 0;
  padding-right: 30px;
  padding-top: 30px;
}

.item-list {
  .qa-list {
    margin-left: 0;

    li {
      list-style: none;
      margin-left: 0;
      padding: 10px 0 0;
    }
  }
}

.ui-widget {
  font-family: var(--font-family-sans);
}

// linkit results should be scrollable
.ui-autocomplete {
  overflow: auto;
}

.linkit-result-line--title {
  color: var(--color-text);
}

.linkit-result-line:hover .linkit-result-line--title {
  color: var(--color-white);
}

.filter-wrapper {
  margin: 0;
}

// question mark icon for text formats
.filter-help {
  margin-right: var(--space-l);
  position: relative;
}

.filter-help a::after {
  background: transparent url('../../../../../core/misc/help.png');
  content: '';
  display: block;
  height: 16px;
  position: absolute;
  right: -20px;
  top: 4px;
  width: 16px;
}

.breadcrumb__link:hover {
  color: var(--color-blue-dark);
}

.form-item--error-message {
  color: var(--color-error);
}

// focus states for general form inputs. fixes spacing with character counter
.form-element:focus {
  box-shadow: 0 0 0 3px var(--color-focus);
}

.form-element:hover:focus {
  box-shadow: 0 0 0 3px var(--color-focus), inset 0 0 0 var(--input-border-size) var(--input--hover-border-color);
}

// Update to checkbox colors
.form-boolean:active,
.form-boolean:hover {
  box-shadow: inset 0 0 0 1px var(--color-blue-darker);
}

.form-boolean:focus:active,
.form-boolean:focus:hover {
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 5px var(--color-focus), inset 0 0 0 1px var(--color-blue-darker);
}

.form-boolean--type-checkbox:checked:active,
.form-boolean--type-checkbox:checked:hover {
  background-color: var(--color-blue-darker);
}

.no-wrap {
  white-space: nowrap;
}
