#block-vagovadmin-content {
  .external-content {
    .external-content--message {
      margin-bottom: 1rem;
    }

    .field--label-above {
      margin-bottom: 0.25rem;

      .field__label {
        text-transform: none;
      }
    }
  }
}
