.va-footer {
  background-color: var(--color-blue-darkest);
  padding: var(--spacing-s) 0;
}

.va-footer .layout-container {
  @include breakpoint('md') {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  // hiding drupal layout clearfix for footer positioning
  &::after {
    display: none;
  }
}

.va-footer nav ul {
  list-style-type: none;
  margin: 0;

  .menu-dropdown {
    display: none;
  }

  @include breakpoint('md') {
    display: flex;
    flex-direction: row;

    li {
      list-style-type: none;

      &::after {
        color: var(--color-white);
        content: ' | ';
        padding-right: 1rem;
      }

      &:last-child::after {
        content: '';
      }
    }
  }

  a {
    color: var(--color-white);
    margin-right: 1rem;
  }
}

.va-footer-logo {
  margin-top: 2rem;

  @include breakpoint('md') {
    margin-top: 0;
  }
}
