.content-header {
  background-color: var(--va-blue-darkest);
  color: var(--color-white);

  .breadcrumb,
  .breadcrumb__item,
  .breadcrumb__link {
    color: var(--va-gray-lighter);
  }

  .breadcrumb__link:hover {
    color: var(--va-gold-med);
  }

  // claro inlines svgs & currentColor in url() doesn't work with css variables. need to inline here.
  .breadcrumb__item + .breadcrumb__item::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' height='8' width='5'%3e%3cpath fill='%23e4e2e0' d='M1.207.647L.5 1.354 3.146 4 .5 6.647l.707.707L4.561 4z'/%3e%3c/svg%3e");
  }

  // only re-color primary tab links when not in menu layout.
  @include breakpoint('tabs') {
    .is-horizontal .tabs {
      .tabs__link {
        color: var(--va-gray-lighter);
      }

      .tabs__link:hover {
        color: var(--va-blue-med);
      }

      .tabs__link.is-active {
        color: var(--va-gold-med);
      }

      .tabs__link.is-active::before {
        border-bottom: var(--tabs--active-height) solid var(--va-gold-med);
      }

      .tabs__link.is-active:hover {
        color: var(--color-text);
      }
    }
  }
}

.layout-region--node-secondary {
  margin-top: 0;
}

// editorial fields above form footer
#edit-group-e,
#edit-group-editorial-workflow {
  margin-bottom: 0;

  .form-item {
    margin-bottom: var(--spacing-xs);
  }
}
