.content-header {
  background-color: var(--color-blue-darkest);
  color: var(--color-white);

  .breadcrumb,
  .breadcrumb__item,
  .breadcrumb__link {
    color: var(--color-gray-lighter);
  }

  // claro inlines svgs & currentColor in url() doesn't work with css variables. need to inline here.
  .breadcrumb__item + .breadcrumb__item::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' height='8' width='5'%3e%3cpath fill='%23d6d7d9' d='M1.207.647L.5 1.354 3.146 4 .5 6.647l.707.707L4.561 4z'/%3e%3c/svg%3e");
  }

  .tabs__link {
    color: var(--color-gray-lighter);
  }

  .tabs__link.is-active {
    color: var(--color-warning);
  }

  .tabs__link.is-active::before {
    border-bottom: var(--tabs--active-height) solid var(--color-warning);
  }
}
