.content-header {
  background-color: var(--va-blue-darkest);
  color: var(--color-white);

  .breadcrumb,
  .breadcrumb__item,
  .breadcrumb__link {
    color: var(--va-gray-lighter);
  }

  .breadcrumb__link:hover {
    color: var(--va-gold-med);
  }

  // claro inlines svgs & currentColor in url() doesn't work with css variables. need to inline here.
  .breadcrumb__item + .breadcrumb__item::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' height='8' width='5'%3e%3cpath fill='%23e4e2e0' d='M1.207.647L.5 1.354 3.146 4 .5 6.647l.707.707L4.561 4z'/%3e%3c/svg%3e");
  }

  // only re-color primary tab links when not in menu layout.
  @include breakpoint('tabs') {
    .is-horizontal .tabs {
      .tabs__link {
        color: var(--va-gray-lighter);
      }

      .tabs__link:hover {
        color: var(--va-blue-med);
      }

      .tabs__link.is-active {
        color: var(--va-gold-med);
      }

      .tabs__link.is-active::before {
        border-bottom: var(--tabs--active-height) solid var(--va-gold-med);
      }

      .tabs__link.is-active:hover {
        color: var(--color-text);
      }
    }
  }
}

// editorial fields above form footer
#edit-group-e,
#edit-group-editorial-workflow {
  margin-bottom: 0;

  .form-item {
    margin-bottom: var(--spacing-xs);
  }
}

.page-content {
  margin-top: 0;
}

.node-columns {
  margin-top: var(--space-l);
}

.region-sidebar-first h2 {
  margin-top: 0;
}

.region-help {
  margin-bottom: var(--spacing-m);
}

// !important here to beat some nonsense core is doing that we inherit as claro subtheme
.vagovclaro .layout-container {
  margin-left: 2rem !important;
  margin-right: 2rem !important;

  @include breakpoint('lg') {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
}

// see node-edit-form.html.twig
.layout--edit {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: 1rem;
  grid-template-columns: 1fr;

  @include breakpoint('sm') {
    grid-template-columns: 1fr 300px;
  }
  @include breakpoint('md') {
    grid-gap: 2rem;
  }
  @include breakpoint('lg') {
    grid-template-columns: 1fr 360px;
  }
}

.layout--node-main {
  min-width: 0;

  @include breakpoint('sm') {
    grid-area: 1 / 1 / 1 / 2;
  }

  .layout-region__content {
    margin: 0 auto;
    max-width: 52rem;
  }
}

.layout--node-secondary {
  min-width: 0;

  @include breakpoint('sm') {
    grid-area: 1 / 2 / 1 / 3;
    max-width: 100%;

    .layout-region__content {
      position: sticky;
      top: 50px; // height from top of viewport to start sticky
    }
  }
}

.toolbar-tray-open .layout--node-secondary .layout-region__content {
  top: 90px; // slighter lower sticky position if toolbar open
}

.layout--node-footer {
  .layout-region__content {
    margin: 0 auto;
    max-width: 52rem;
  }

  @include breakpoint('sm') {
    grid-area: 2 / 1 / 2 / 2;
  }
}
