a {
  color: var(--va-blue-dark);
  text-decoration: underline;
  transition-duration: 0.3s;
  transition-property: color, background-color, border-color;
  transition-timing-function: ease-in-out;

  &:hover,
  &:focus {
    background-color: var(--va-blue-lightest);
    color: var(--va-blue-darkest);
    text-decoration: none;
  }
}
