.media-library-item--grid .field--name-field-description {
  margin-left: 0.5rem;
  padding: 0.3125rem;
}

/* Overriding from docroot/core/themes/claro/css/theme/media-library.css for media widget display with more
 specificity to beat claro default. Keeping it wider allows lengthy strings to fit neatly in the card. */
@media screen and (min-width: 77em) {
  .media-library-widget-modal .media-library-item.media-library-item--grid,
  .media-library-selection .media-library-item.media-library-item--grid {
    width: 33.3%;
  }
}

// targeting lengthy PDF filenames with underscores
.file--application-pdf {
  word-break: break-word;
}

.downloadable-file-link {
  padding-left: 20px;
  position: relative;

  &::before {
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 16px;
    position: absolute;
    top: 2px;
    width: 16px;
  }
}

.downloadable-file-link--document::before {
  background-image: url('../images/icons/000000/download.svg');
}

.downloadable-file-link--video::before {
  background-image: url('../images/icons/000000/play.svg');
}

.downloadable-file-link--image::before {
  background-image: url('../images/icons/000000/download.svg');
}

// Fix image hover state
.media-library-item__preview-wrapper {
  .media-library-item__attributes {
    bottom: 8px;
    max-width: calc(100% - 1.7rem);
  }
}

//Media inline entity form updates
#edit-field-media-wrapper.field--widget-inline-entity-form-simple {
  .fieldset__wrapper {
    margin: var(--space-xs) var(--space-l) var(--space-m);

    @include breakpoint('lg') {
      display: grid;
      grid: auto / 60% 40%;
      grid-auto-flow: dense;
      grid-gap: var(--space-l);
    }

    .fieldset__description {
      color: var(--va-gray-dark);
      grid-column: 2;
    }

    .field--type-image {
      .claro-details {
        border: 0;
        box-shadow: none;
        margin: 0;

        summary {
          display: none;
        }

        .claro-details__wrapper {
          margin: 0;
        }

        .image-widget {
          vertical-align: top;

          .form-managed-file__image-preview {
            margin-bottom: var(--space-xxs);
          }

          .form-managed-file__main {
            width: 100%;
          }

          .form-managed-file__meta-items {
            margin: var(--space-l) 0;
          }

          img {
            margin-top: -10px;
          }
        }
      }
    }
  }
}

#edit-field-media-widget-0-inline-entity-form-group-governance {
  display: none;
}

.image-preview__img-wrapper {
  background: none;
  box-shadow: none;

  .focal-point-preview-link {
    line-height: 2em;

    &::before {
      display: inline-block;
      font-size: 14px;
      margin-right: 5px;
    }
  }
}
