.va-site-alert {
  background-color: var(--va-gray-lightest);
  border-top: 8px solid var(--va-gray-darkest);
  color: var(--va-gray-darkest);
  padding: 32px 0;

  h2 {
    font-size: var(--va-subsection-s);
    margin: 0 0 1rem;
  }
}

.va-site-alert .layout-container {
  display: flex;
  flex-direction: row;
}

.va-site-alert__content {

  display: flex;
  flex: 1;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 1rem;
}

.va-site-alert__dismiss {
  align-self: start;
  border: 2px solid var(--color-text);
  border-radius: 50%;
  height: 24px;
  padding: 0;
  transform: rotate(45deg);
  width: 24px;
}

.va-site-alert--info {
  border-top-color: var(--va-blue-lightest);
}

.va-site-alert--warning,
.va-site-alert--shield {
  border-top-color: var(--va-gold-med);
}

.va-site-alert .svg-inline--fa {
  color: var(--color-text);
}

// full screen
.va-site-alert--shield {
  align-items: center;
  background-color: rgba(255, 241, 210, 0.9);   // va-gold-lightest 90%
  border-top-width: 16px;
  bottom: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;

  position: fixed;
  right: 0;
  z-index: 9999;
}
