body.vagovclaro .form-item.textcount_warning {
  .textfield-counter-element {
    border-color: unset;
    border-width: 1px;
  }

  .textfield_counter_counter .remaining_count {
    color: var(--va-gray-darkest);
  }
}

body.vagovclaro .form-item.textcount_over {
  .textfield-counter-element {
    border-color: unset;
    border-width: 1px;
  }

  label.has-error ~ .textfield-counter-element {
    border-color: var(--va-red-dark);
    border-width: 2px;
  }

  .textfield_counter_counter, .remaining_count {
    color: var(--va-red-dark);
    font-weight: 600;
  }
}

body.vagovclaro .form-textarea-wrapper.textcount_warning {
  .textfield-counter-element {
    border-color: unset;
    border-width: 1px;
  }

  .cke {
    border-color: unset;
    border-width: 1px;
  }

  .textfield_counter_counter .remaining_count {
    color: var(--va-gray-darkest);
  }
}

body.vagovclaro {
  .form-textarea-wrapper.textcount_over {
    .textfield-counter-element {
      border-color: unset;
      border-width: 1px;
    }

    .cke {
      border-color: unset;
      border-width: 1px;
    }

    .textfield_counter_counter, .remaining_count {
      color: var(--va-red-dark);
      font-weight: 600;
    }
  }

  label.has-error ~ .form-textarea-wrapper.textcount_over .textfield-counter-element{
    border-color: var(--va-red-dark);
    border-width: 2px;
  }
}

