.form-item.textcount_warning {
  .textfield-counter-element {
    border-color: var(--color-textfield-counter-warning);
  }

  .textfield_counter_counter .remaining_count {
    color: var(--va-gray-darkest);
  }
}

.form-item.textcount_over {
  .textfield-counter-element {
    border-color: var(--color-textfield-counter-over);
  }

  .textfield_counter_counter .remaining_count {
    color: var(--va-gray-darkest);
  }
}

.form-textarea-wrapper.textcount_warning {
  .textfield-counter-element {
    border-color: var(--color-textfield-counter-warning);
  }

  .cke {
    border-color: var(--color-textfield-counter-warning);
    border-width: 2px;
  }

  .textfield_counter_counter .remaining_count {
    color: var(--va-gray-darkest);
  }
}

.form-textarea-wrapper.textcount_over {
  .textfield-counter-element {
    border-color: var(--color-textfield-counter-over);
  }

  .cke {
    border-color: var(--color-textfield-counter-over);
    border-width: 2px;
  }

  .textfield_counter_counter .remaining_count {
    color: var(--va-gray-darkest);
  }
}
