
.tooltip-layout {
  border: 1px solid var(--color-gray-light);
  border-radius: 2px;
  margin: 1em 0;
  min-width: 0;
  padding: 30px 18px 18px;
  position: relative;
}

.tooltip-toggle {
  // image doesn't resolve here but does in compiled css?
  background-image: url('../../images/icons/questionmark-disc-000000.svg');
  background-size: cover;
  border: 0;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
}

.tooltip-layout {
  [id^='add-tooltip-'] {
    display: none;
  }
}
