/* Workarounds for toolbar flickering issues on longer page loads. */
body.toolbar-fixed {
  /* Set top padding to avoid content "jumping" down. */
  padding-top: 79px;
}

#toolbar-bar {
  /* Set toolbar background color to avoid flicker on prod. See settings.prod.php */
  background-color: #082142;
  left: 0;
  /* Set fixed position on toolbar avoid flicker. */
  position: fixed;
  right: 0;
  top: 0;
}

// replace druplicon with VA icon in the toolbar
.toolbar-icon-9 .toolbar-icon-admin-toolbar-tools-help::before,
.toolbar-icon-9 .toolbar-icon-admin-toolbar-tools-help:active::before,
.toolbar-icon-9 .toolbar-icon-admin-toolbar-tools-help.active::before {
  background-image: url('../images/toolbar-logo.png');
}

.toolbar-bar {
  .toolbar-icon {
    // Help center icon.
    &-toolbar-menu-cms_help_center {
      &::before {
        background-image: url('/core/misc/icons/bebebe/questionmark-disc.svg');
      }

      &.is-active::before {
        background-image: url('/core/misc/icons/ffffff/questionmark-disc.svg');
      }
    }

    // Sections icon.
    &-toolbar-menu-sections {
      &::before {
        background-image: url('../images/icons/sections-bebebe.svg');
      }

      &.is-active::before {
        background-image: url('../images/icons/sections-ffffff.svg');
      }
    }
  }

  // Special treatment for the tab showing the indicator.
  .toolbar-tab &.branch-toolbar-tab {
    float: right;

    .toolbar-item {
      cursor: auto; // Remove the pointer cursor.
      padding-left: 1.333em; // No icon.

      // Remove hover behaviors.
      &:hover {
        background-image: none;
        text-decoration: none;
      }
    }
  }
}

.toolbar-tray .button--primary {
  color: var(--color-white);
  margin: 5px 10px;
}

// !important because top-level toolbar items have styles inline on the element
.toolbar .toolbar-bar .toolbar-tab > .toolbar-item:hover,
.toolbar .toolbar-bar .toolbar-tab > .toolbar-item:focus {
  color: var(--va-blue-dark) !important;
}

/* Admin menus with route:<nolink> links should look OK */
.toolbar-tray span.toolbar-icon {
  color: var(--va-gray-med);
  cursor: pointer;
  display: block;
  padding: 1em 1.333em;
}
