.views-field-rendered-entity h2 {
  font-size: 20px;
}

/* Non-clinical services view - block displays */
.field--name-field-non-clinical-services {
  background-color: #fff;
}

.view-grouping.node--unpublished {
  margin: 0;
  padding: 0;
}

.view-non-clinical-services {
  .view-empty {
    border: 1px solid var(--va-gray-cool-med);
    border-radius: 2px;
    margin: 1em 0;
    padding: 1em 1.5em;
  }

  .view-grouping-content {
    border: 1px solid var(--va-gray-cool-med);
    border-radius: 2px;
    margin: 1em 0;
    padding: 1em 1.5em;

    .view-grouping-content {
      border: 0;
      margin: 0;
      padding: 0;
    }

    .views-row {
      margin: 2em 0;

      .location-details span:not(:first-child)::before {
        content: ', ';
      }

      .address {
        margin-top: 0;

        br,
        span {
          &:last-child {
            display: none;
          }
        }
      }
    }
  }
}

/* Views exposed form with inline action button */
.exposed-filter-flex {
  display: flex;

  .form-actions {
    align-self: flex-end;
  }
}

.views-exposed-form__item.views-exposed-form__item.views-exposed-form__item--actions {
  // force buttons to new line
  flex-basis: 100%;
  margin-top: 0;
}

// fixes fieldset display inside views exposed forms
.views-exposed-form {
  fieldset.form-wrapper {
    border: unset;
    box-shadow: none;
    margin-right: var(--space-xs);
  }

  .fieldset__legend {
    display: block;
    margin: 0;
  }

  .fieldset__label {
    line-height: var(--line-height-form-label);
    margin-bottom: calc(var(--space-xs)/2);
    margin-top: calc(var(--space-xs)/2);
    padding: 0;
  }

  .fieldset__wrapper {
    margin: 0;
  }

  .form-item {
    margin-bottom: var(--space-xs);
    margin-top: 0;
  }
}

//Adding button css to views
.views-field {
  @include va-basic-styling;
}

//fixes export button
.csv-feed .feed-icon {
  @include va-buttons;
  background-color: var(--va-blue-med);
  background-image: none;
  text-indent: unset;
  
  &:hover {
    background-color: var(--va-blue-darker);
  }
}
