.views-field-rendered-entity h2 {
  font-size: 20px;
}

/* Non-clinical services view - block displays */
.view-non-clinical-services {
  .view-empty {
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    margin: 1em 0;
    padding: 1em 1.5em;
  }

  .view-grouping-content {
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    margin: 1em 0;
    padding: 1em 1.5em;

    .views-row {
      margin: 2em 0;
  
      .location-details span:not(:first-child)::before {
        content: ', ';
      }
  
      .address {
        margin-top: 0;
  
        br,
        span {
          &:last-child {
            display: none;
          }
        }
      }
    }
  }
}

/* Views exposed form with inline action button */
.exposed-filter-flex {
  display: flex;

  .form-actions {
    align-self: flex-end;
  }
}
