#group-registration-link {
  border: 0;
  padding-left: 0;

  legend {
    span {
      font-size: 120%;
      letter-spacing: 0;
      text-transform: none;
    }
  }
}

#edit-group-registration-link {
  border: 0;
  padding-left: 0;
}

.field--name-field-event-registrationrequired,
#edit-field-event-cta-wrapper {
  padding-bottom: 15px;
  padding-top: 5px;
}

.required-fields {
  #edit-field-link-wrapper {
    display: none;
  }
}
