#block-vagovadmin-content {
  .external-content {
    border: 1px solid #dddddd;
    padding: 1rem;

    .external-content--header {
      margin-bottom: 1rem;
      border-bottom: 1px solid #666;
      color: #666;

      .external-content--label {
        letter-spacing: 0.08em;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: bold;
      }

      .external-content--message {
        font-style: italic;
      }
    }
    .field__label {
      font-weight: bold;
      text-transform: none;
    }
  }
}
