//Styling for Flags
//Variables
$color-gray-light: #d6d7d9;
$color-warning: #fff1d2;
$color-error: #f9f2f8;
$color-success: #d5e7d9;
$color-status: #ccf2fa;

.flag {
  background: $color-gray-light;
  border-radius: 30px;
  padding: 4px 16px;
  
  &.new {
    background: $color-status;
  }
  
  &.changed_filename,
  &.changed_title,
  &.changed {
    background: $color-warning;
  }
  
  &.deleted,
  &.removed-from-source {
    background: $color-error;
  }
  
  &.removal-complete {
    background: $color-success;
  }
  
}
