#edit-field-service-location-wrapper {
  border-bottom: 2 px solid #c0c0c0;
  padding-bottom: 15px;
  margin-bottom: 15px;
  .paragraph-type-label {
    padding-left: 18px;
  }
  .field-multiple-drag,
  .field-multiple-drag.paragraph-bullet {
    display: none;
  }
  .paragraph-type--service-location {
    padding: 30px 0 30px 18px;
  }
  fieldset {
    border: none;
    border-bottom: 1px dashed #c0c0c0;
    th.field-label {
      display: none;
    }
    &.form-tablefield {
      padding-top: 0;
    }
  }
}
