// For service locations, such as Facility health services.

#edit-field-service-location-wrapper {
  border-bottom: 2 px solid #c0c0c0;
  margin-bottom: 15px;
  padding-bottom: 15px;

  // Hide Collapse, label, and info buttons.
  .paragraphs-icon-button-collapse,
  .paragraph-type-label,
  .paragraph-info {
    display: none;
  }

  .field-multiple-drag,
  .field-multiple-drag.paragraph-bullet {
    display: none;
  }

  .paragraph-type--service-location {
    padding: 30px 0 30px 18px;
  }

  fieldset {
    border: hidden;

    th.field-label {
      display: none;
    }

    &.form-tablefield {
      padding-top: 0;
    }
  }

  // Hide redundant Service Location thead
  thead {
    display: none;
  }

  // Hide row weights (shouldn't be draggable)
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }

  .field--name-field-service-location-address {
    .paragraphs-actions {
      display: none;
    }

    tr {
      border-bottom: hidden;
    }
  }
}
