/**
 * @file
 * Element help styles.
 */

.proofing-element-help {
  display: inline-block;
  position: absolute;
  top: 0;
  margin-left: 4px;
  box-sizing: content-box;
  background-color: #0074bd;
  line-height: 16px;
  height: 16px;
  width: 16px;
  font-size: 12px;
  color: #fff;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  font-family: "Bitter", "Georgia", "Cambria", "Times New Roman", "Times", serif;

  &:focus,
  &:hover,
  &:active {
    cursor: pointer;
  }
}

.proofing-element-help--title {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0 0 0.2em 0;
}

.ui-tooltip.proofing-element-help--tooltip {
  max-width: 680px;
}
.ui-tooltip-content {
  border: 0.1rem solid #cccccc;
  background-color: #ffffff;
  max-width: 600px;
  min-width: 400px;
  -moz-box-shadow:    3px 2px 2px #ccc;
  -webkit-box-shadow: 3px 2px 2px #ccc;
  box-shadow:         3px 2px 2px #ccc;
  border-radius: 5px;
  padding: 0.6rem;
}

@media only screen and (max-width: 400px) {
  .ui-tooltip.proofing-element-help--tooltip {
    max-width: 300px;
  }
}
