.toolbar-bar {
  .toolbar-icon {
    // Help center icon.
    &-toolbar-menu-cms_help_center {
      &:before {
        background-image: url(/core/misc/icons/bebebe/questionmark-disc.svg)
      }
      &.is-active:before {
        background-image: url(/core/misc/icons/ffffff/questionmark-disc.svg)
      }
    }

    // Sections icon.
    &-toolbar-menu-sections {
      &:before {
        background-image: url(../../images/icons/sections-bebebe.svg)
      }

      &.is-active:before {
        background-image: url(../../images/icons/sections-ffffff.svg)
      }
    }
  }

  .toolbar-tab {

    // Special treatment for the tab showing the indicator.
    &.branch-toolbar-tab {
      float: right;

      .toolbar-item {
        padding-left: 1.333em; // No icon.
        cursor: auto; // Remove the pointer cursor.

        // Remove hover behaviors.
        &:hover {
          text-decoration: none;
          background-image: none;
        }
      }
    }
  }
}
