@import 'undo_field_styling';
@import 'paragraphs';
@import 'tooltip';
@import 'mixins';

.node--unpublished {
  background-color: #fff;
}

#block-vagovadmin-content {
  font-size: 1rem;

  .node__content > .field {
    margin-bottom: 1.5rem;
  }

  .meta-content-wrapper tr {
    border: hidden;
    display: block;

    &:hover {
      background-color: inherit;
    }

    td {
      font-size: 0.8rem;
      margin-right: 0.8rem;
      padding: 0;
      vertical-align: top;

      @media all and (max-width: 48em) { /* 768px */
        display: block;
        width: 100%;
      }

      &:first-child {
        padding-right: 1rem;
      }

      &.field__label div {
        width: 100px;
      }
    }

    &.field--label-inline .field__label {
      float: none;

      &::after {
        content: '';
      }
    }
  }

  fieldset:not(.fieldgroup) {
    margin: 9px 0 10px;
    padding: 10px 18px 0;

    > legend {
      font-size: 0.8em;
      letter-spacing: 0.06em;
      padding: 0 4px;
      position: static;
      text-transform: none;
    }
  }

  details.form-wrapper > summary {
    font-size: 0.8em;
    text-transform: none;
  }

  .field__item {
    margin: 0 0 1rem;
  }

  .field--label-above {
    .field__label {
      color: #6b6b6b;
      font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', 'Lucida Sans', sans-serif;
      font-size: 1rem;
      font-weight: normal;
      margin: 0;
      padding: 0.2rem 0 0;
      position: relative;
    }
  }

  .field--name-field-intro-text .field__item {
    @include intro-text;

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  .field--name-field-featured-content {
    .field__items {
      background-color: #eaf6ff;
    }
  }

  .field--name-field-related-links .field__item {
    background: #f1f1f1;
  }

  table {
    caption {
      font-family: Bitter, Georgia, Cambria, Times New Roman, Times, serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: 0.5em;
    }
  }
}
