@import 'mixins';
@import 'services';
@import 'external_content';
@import 'toolbar';

.node-form textarea {
  max-width: 750px;
}

.node {
  &__content {
    @include va-basic-styling;
  }
}

/* Node view from page--node.html.twig */

.node-columns {
  display: flex;
  flex-flow: row wrap;

  /* Single column */
  > * {
    flex: 1 100%;
  }

  /* Asides form two columns on small tablets. */
  @media all and (min-width: 600px) {
    aside {
      flex: 1 0 0;
    }
  }

  /* Three column layout on larger devices. */
  @media all and (min-width: 800px) {
    main {
      flex: 3 0;
    }

    .layout-sidebar-first {
      order: 1;
      padding-right: 2em;
    }

    main {
      order: 2;
      padding-right: 1em;
    }

    .layout-sidebar-second {
      order: 3;
      padding-left: 1em;
    }
  }
}

/* Node view content, aimed primarily at page Detail pages, for now. */
#block-vagovadmin-content {
  .field__label {
    text-transform: uppercase;
  }

  .field--name-field-related-links {
    > .field__item,
    > .field__items {
      background: #eee;
      padding: 1em;
    }
  }
}

/* Right sidebar on node view pages. */

.view-id-right_sidebar_latest_revision .views-row {
  padding-bottom: 1em;
}

/* Admin menus with route:<nolink> links should look OK */
.toolbar-tray span.toolbar-icon {
  color: #888;
  cursor: pointer;
  display: block;
  padding: 1em 1.333em;
}

#block-vagovadmin-content {
  .layout-region-node-main,
  .layout-region-node-footer {
    display: grid;
    overflow: auto;
  }
}

.page-content {
  h1 {
    font-family: Bitter, Georgia, Cambria, Times New Roman, Times, serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 0.5em;
  }
}

.views-field-rendered-entity h2 {
  font-size: 20px;
}

.field--name-field-phone-number,
.field--name-field-phone-extension {
  float: left;
}

.field--name-field-phone-extension {
  margin-left: 20px;
}

.field--name-field-phone-label {
  clear: both;
}

.paragraph-type--service-location-address {
  .field--type-address {
    display: none;
  }
}

.table--widget-entity_reference_browser_table_widget {
  margin-top: 25px;

  .moderation-status {
    font-weight: 400;
    text-transform: uppercase;
  }
}

#block-entitymetadisplay {
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  margin: 1em 0;
  padding: 10px 18px;

  div {
    padding: 2px 0;
  }
}

.ief-entity-table {
  th:last-child {
    font-size: 0;
  }
}

.field--type-smartdate {
  .smartdate--widget {
    .allday-label {
      clear: both;
      display: block;
      float: none;

      input.allday {
        margin: 0.65em 0.5em 0 6em;
      }
    }
  }
}

.downloadable-file-link {
  padding-left: 20px;
  position: relative;

  &::before {
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 16px;
    position: absolute;
    top: 2px;
    width: 16px;
  }
}

.downloadable-file-link--document::before {
  background-image: url('../../../vagovadmin/images/icons/download-000000.svg');
}

.downloadable-file-link--video::before {
  background-image: url('../../../vagovadmin/images/icons/play-000000.svg');
}

.downloadable-file-link--image::before {
  background-image: url('../../../vagovadmin/images/icons/download-000000.svg');
}

.item-list {
  .qa-list {
    margin-left: 0;

    li {
      list-style: none;
      margin-left: 0;
      padding: 10px 0 0;
    }
  }
}

/* Views exposed form with inline action button */
.exposed-filter-flex {
  display: flex;

  .form-actions {
    align-self: flex-end;
  }
}

#field-clp-spotlight-cta-add-more-wrapper,
#field-clp-spotlight-cta-add-more-wrapper,
.field--name-field-primary-call-to-action,
.field--name-field-clp-faq-paragraphs {
  .clearfix::after {
    clear: none;
  }

  [id^='edit-field-tags-0-subform-field-non-beneficiares-wrapper'] {
    display: none;
  }
}

.node-campaign-landing-page-edit-form,
.node-campaign-landing-page-form {
  summary {
    text-transform: none;
  }
}

.visual-layout-svg {
  padding-bottom: 55px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.field--name-field-service-location .paragraph-type-title {
  display: none;
}

.field--name-field-facility-service-hours {
  .tablefield-addrow.button,
  .seven-details {
    display: none;
  }
}
