@import "mixins";
@import "services";
@import "external_content";

.node-form textarea {
  max-width: 750px;
}

.node {
  &__content {
    @include va-basic-styling;
  }
}

/* Node view from page--node.html.twig */

.node-columns {
  display: flex;
  flex-flow: row wrap;

  /* Single column */
  > * {
    flex: 1 100%;
  }

  /* Asides form two columns on small tablets. */
  @media all and (min-width: 600px) {
    aside {
      flex: 1 0 0;
    }
  }

  /* Three column layout on larger devices. */
  @media all and (min-width: 800px) {
    main {
      flex: 3 0;
    }

    .layout-sidebar-first {
      order: 1;
      padding-right: 2em;
    }

    main {
      order: 2;
      padding-right: 1em;
    }

    .layout-sidebar-second {
      order: 3;
      padding-left: 1em;
    }
  }
}

/* Node view content, aimed primarily at page Detail pages, for now. */
#block-vagovadmin-content {
  .field__label {
    text-transform: uppercase;
  }

  .field--name-field-related-links {
    > .field__item,
    > .field__items {
      padding: 1em;
      background: #eee;
    }
  }
}

/* Right sidebar on node view pages. */

.view-id-right_sidebar_latest_revision .views-row {
  padding-bottom: 1em;
}

/* Admin menus with route:<nolink> links should look OK */
.toolbar-tray span.toolbar-icon {
  padding: 1em 1.333em;
  display: block;
  color: #888;
  cursor: pointer;
}

#block-vagovadmin-content {
  .layout-region-node-main,
  .layout-region-node-footer {
    display: grid;
    overflow: auto;
  }
}

.page-content {
  h1 {
    margin: 0;
    font-weight: 700;
    font-family: Bitter, Georgia, Cambria, Times New Roman, Times, serif;
    line-height: 1.3;
    margin-bottom: 0.5em;
    font-size: 2.5rem;
  }
}

.views-field-rendered-entity h2 {
  font-size: 20px;
}

.paragraphs-subform {
  .field--name-field-phone-number,
  .field--name-field-phone-extension {
    float: left;
  }
  .field--name-field-phone-extension {
    margin-left: 20px;
  }
  .field--name-field-phone-label {
    clear: both;
  }
}

.paragraph-type--service-location-address {
  .field--type-address {
    display: none;
  }
}
