@import 'mixins';

.cke_editable {
  font-family: 'Source Sans Pro', Sans-Serif;
  margin: .5em; /* to provide padding within ckeditor */
  max-width: 700px;
  font-size: 15px;
  color: #323a45;
  background: #fff;

  @include va-basic-styling;
}
