<div class="usa-alert usa-alert-info va-alert-info">
    <div class="usa-alert-body va-alert-body">
        <p class="usa-alert-text va-alert-text">
            This is an example component.
        </p>
    </div>
</div>
