{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

<details class="va-accordion" open>
	<summary>
		<h3>
			Connect with us
		</h3>
	</summary>
	<div class="details-content">

		<h4 class="va-nav-linkslist-list">
			<a href="https://www.va.gov/health/">Veterans Health Administration</a>
		</h4>

		<h4>Get updates</h4>
		<div class="row">
			<a href="https://public.govdelivery.com/accounts/USVHA/subscribers/qualify?category_id=USVHA_C4&amp;email=dwdw%40gmail.com&amp;commit.x=36&amp;commit.y=11" id="0a8d5a36ce00a7e7e68e3487e150c7cc" target="_blank" rel="noopener ">
				<i class="fas fa-envelope vads-u-padding-right--1"></i>
				Veterans health email updates
			</a>
		</div>

		<h4>Follow us</h4>
		<div class="row">
			<a href="http://twitter.com/VeteransHealth" id="0a46a98546d662d705731e5cf369dfcb" target="_blank" rel="noopener ">
				<i class="fab fa-twitter vads-u-padding-right--1"></i>
				Veterans Health Administration Twitter
			</a>
		</div>
		<div class="row">
			<a href="http://facebook.com/VeteransHealth" id="154791c426fd1c2ec606a7e16f83cbfa" target="_blank" rel="noopener ">
				<i class="fab fa-facebook vads-u-padding-right--1"></i>
				Veterans Health Administration Facebook
			</a>
		</div>
		<div class="row">
			<a href="http://youtube.com/user/VeteransHealthAdmin" id="5d08312b70e6a9cb951d07d78491d713" target="_blank" rel="noopener ">
				<i class="fab fa-youtube vads-u-padding-right--1"></i>
				Veterans Health Administration YouTube
			</a>
		</div>
	</div>
</details>
