{#
/**
 * @file
 * Theme implementation for node link report BigPipe JS placeholder interface preview.
 * cf. https://www.drupal.org/project/drupal/issues/2632750
 *
 * @see \Drupal\big_pipe\Render\Placeholder\BigPipeStrategy::createBigPipeJsPlaceholder()
 * @ingroup themeable
 */
#}
<div id="block-nodelinkreport-skeleton" class="block block-node-link-report-skeleton block-node-link-report-block-skeleton">
    <div class="skeleton"></div>
</div>