{#
/**
 * @file
 * Theme implementation for node link report BigPipe JS placeholder interface preview.
 * cf. https://www.drupal.org/project/drupal/issues/2632750
 *
 * @see \Drupal\big_pipe\Render\Placeholder\BigPipeStrategy::createBigPipeJsPlaceholder()
 * @ingroup themeable
 */
#}
<div id="block-nodelinkreport-placeholder" class="block block-node-link-report-placeholder block-node-link-report-block-placeholder" style="height: 130px">
    <div class="progress" data-drupal-progress>
        <h3 class="progress__label">Loading Node Link Report...</h3>
        <div class="progress__track"><div class="progress__bar" style="width: 100%"></div></div>
    </div>
</div>