{% extends '@va_gov_form_builder/page-content/base/non-editable-pattern.html.twig' %}

{% set page_id = 'identification-info' %}
{% set page_heading = 'Collecting identifying information' %}
{% set step_label = 'Your personal information' %}

{% block step_description %}
  <p>
    <strong>Note:</strong> Below is the default pattern for asking a submitter for this information.
    Some forms may ask for other types of information. The guidance for this item can be found
    here:
    <a target="_blank" href="https://design.va.gov/patterns/ask-users-for/social-security-number#examples">
      https://design.va.gov/patterns/ask-users-for/social-security-number#examples
    </a>
  </p>
{% endblock %}
