{% embed '@va_gov_form_builder/page-content/layout/non-editable-pattern.html.twig' with {
  page_id: 'review-and-sign',
  page_heading: 'Reviewing the submission',
  step_label: 'Review and sign',
  preview: preview,
  primary_button: primary_button,
} only %}
  {% block step_description %}
    <p>
      This step of the form allows the submitter to review their inputs and then affirm that what
      was provided is accurate. Not shown in this tool are all of the steps that are part of this form.
      Steps are listed on the layout page.
    </p>

    <p>
      <span style="font-weight: bold;">Note:</span> For any added step that can map signatures to an
      alternate certification or attestation, the universal statement of truth on the review
      step covers those situations as well. There is no need to add in additional text.
    </p>
  {% endblock %}
{% endembed %}
