<div class="form-builder-content form-builder-page-content form-builder-page-content--review-and-sign">
  <h2>Reviewing the submission</h2>

  {% include '@va_gov_form_builder/components/banner--non-editable-pattern.html.twig' %}


</div>
