{% extends '@va_gov_form_builder/page-content/base/single-column-with-buttons.html.twig' %}

{% set page_id = 'step-layout' %}
{# page_heading passed from controller #}

{% block main_content %}
  {% if supported_step_type %}
    <div class="form-builder-step-layout__step_label"><strong>Step label:</strong> <a href="{{ step_label.url }}">{{ step_label.label }}</a></div>

    {% for page in pages %}
      <div class="form-builder-step-layout__page">
        <a class="form-builder-step-layout__page_title" href="{{ page.url }}">{{ page.title }}</a>
        {% if pages|length > 1 %}
          <div class="form-builder-paragraph-sort-and-delete form-builder-step-layout__paragraph-sort-and-delete">
            <i class="form-builder-paragraph-sort-and-delete__test">(Placeholder for sort-and-delete controls)</i>
          </div>
        {% endif %}
      </div>
    {% endfor %}

    {% if pages|length == 0 %}
      <p>There are no questions or responses added to this step.</p>
    {% endif %}
    <p>If you want to add a question to this step, select Add question.</p>
    <p>If you are done with this step, select return to steps.</p>
  {% endif %}
{% endblock %}
