{% extends '@va_gov_form_builder/page-content/base/single-column-with-buttons.html.twig' %}

{% set page_id = 'step-layout' %}
{# page_heading passed from controller #}

{% block main_content %}
  <p>Step Layout - Empty</p>
{% endblock %}
