{% extends '@va_gov_form_builder/page-content/base/single-column-with-buttons.html.twig' %}

{% set page_id = 'step-layout' %}
{% set page_heading = 'Step type not yet supported' %}

{% block main_content %}
  <p>Click the button below to return to the list of steps on this form.</p>
{% endblock %}
