{% extends '@va_gov_form_builder/page-content/base/single-column-with-buttons.html.twig' %}

{% set page_id = 'view-form' %}
{% set page_heading = 'Reviewing the form' %}

{% block main_content %}
  <p>It is not possible to view the content choices and steps selected as part of this form creation.</p>
  <p>An application must be established creating a URL on the VA Staging site to host the choice that have been selected in Form Builder in order to view this form.</p>
  <p>Please contact your engineering resource for further details.</p>
{% endblock %}
