{% extends '@va_gov_form_builder/page-content/base/single-column-with-buttons.html.twig' %}

{% set page_id = 'view-form' %}
{% set page_heading = 'Reviewing the form' %}

{% block main_content %}
  <p>By selecting Launch view, it is possible to view the content choices and steps selected as part of this form creation.</p>
  <p>Please note that not all of your most recent updates may have been picked up by the build process yet. Note that content builds typically happen daily.</p>
  <p>If you do not see your most recent content choices in the preview, you may need to refresh or check back later.</p>
  <p>To experience this form as a signed in user you may need be signed into a test account.</p>
{% endblock %}
