{#
/**
 * @file
 * Template for Form Builder step page: Page title
 */
#}
{% extends '@va_gov_form_builder/form/base/single-column-with-buttons.html.twig' %}

{% set page_id = 'custom-single-question-page-title' %}
{% set page_heading = 'Customize the question for the response' %}

{% block main_content %}
  <section class="form-builder-content-section form-builder-content-section--custom-single-question-page-title">
    <h3 class="form-builder-content-section__heading">What is the question or statement?</h3>
    <p class="form-builder-content-section__help-text">
      Guidelines for crafting a question
    </p>

    <div class="form-builder-form-fields">
      <div class="form-builder-form-fields__field form-builder-form-fields__field--field-title">
        {{ form.title }}
      </div>

      <div class="form-builder-form-fields__field form-builder-form-fields__field--field-digital-form-body-text">
        {{ form.body_text }}
      </div>
    </div>
  </section>
{% endblock %}

{% block after_buttons %}
  {# render rest of form so it functions properly #}
  {{ form|without(
    'status_messages',
    'title',
    'body_text',
    'actions',
  )}}
{% endblock %}
