{#
/**
 * @file
 * Template for Form Builder form page: Form Info
 */
#}
<div class="form-builder-content form-builder-form-page-content form-builder-page-content form-builder-page-content--form-info">
  <form{{ attributes }}>
    <h2 class="form-builder-page-title">TEST FORM INFO</h2>
  </form>
</div>
