{#
/**
 * @file
 * VAGov theme implementation for a breadcrumb trail.
 */
#}
{% if breadcrumb %}
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>

    {% include "@uiComponents/molecules/breadcrumbs/pattern-breadcrumbs.html.twig" with
        { 'breadcrumb' : breadcrumb }
    %}

{% endif %}