# I want to have a file like this for setting up behat.
# I think we can include the environment vars from a .env file in the FeatureContext.php file.
# This is so developers can run "behat" on the command line without worrying about configuring it against the right site.

SITE_URI="va-gov-cms.lndo.site"
SITE_URL="http://$SITE_URI"
SITE_ALIAS="@self"
SITE_ROOT="../"
BEHAT_PARAMS="{'extensions':{'Behat\\\\MinkExtension':{'base_url':'$SITE_URL'},'Drupal\\\\DrupalExtension':{'drush':{'root':'$SITE_ROOT','alias':'$SITE_ALIAS'},'drupal':{'drupal_root':'$SITE_ROOT'}}}}"

