.va-alert {
  background-color: #f1f1f1;
  color: #323a45;
  border-left-width: 10px;
  border-left-style: solid;
  padding: 3.2rem 6.4rem 3.2rem 2.4rem;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}
.va-alert.messages--warning {
  border-color: #fdb81e;
}
.va-alert.messages--warning a {
  color: #fdb81e;
}
.va-alert.messages--success {
  border-color: #2e8540;
}
.va-alert.messages--success a {
  color: #2e8540;
}
.va-alert.messages--error {
  border-color: #cd2026;
}
.va-alert.messages--error a {
  color: #cd2026;
}
.va-alert.messages--status {
  border-color: #00a6d2;
}
.va-alert.messages--status a {
  color: #00a6d2;
}

.va-login-header {
  background-color: #112e51;
}

.va-header-logo {
  height: auto;
  max-width: 264px;
  width: 100%;
  background-color: transparent;
  border-bottom: none;
  display: block;
  margin-bottom: 1.5rem;
}
