.field--name-field-spokes {
  .paragraph--type--link-teaser {
    margin: 1.6rem 0;
    .field--name-field-link {
      a {
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}
