//drupal alert styles
.va-alert {
  background-color: var(--color-gray-lightest);
  border-left-style: solid;
  border-left-width: 10px;
  box-sizing: border-box;
  color: var(--color-gray-darkest);
  padding: 3.2rem 6.4rem 3.2rem 2.4rem;
  vertical-align: middle;
  width: 100%;
}

.va-alert.messages--warning {
  border-color: var(--color-warning);
}

.va-alert.messages--warning a {
  color: var(--color-warning);
}

.va-alert.messages--success {
  border-color: var(--color-success);
}

.va-alert.messages--success a {
  color: var(--color-success);
}

.va-alert.messages--error {
  border-color: var(--color-error);
}

.va-alert.messages--error a {
  color: var(--color-error);
}

.va-alert.messages--status {
  border-color: var(--color-status);
}

.va-alert.messages--status a {
  color: var(--color-status);
}

// site alert styles
