.va-login-header {
  background-color: var(--color-blue-darkest);
  margin-bottom: 0;
}

.va-header-logo {
  background-color: transparent;
  border-bottom: 0;
  display: block;
  height: auto;
  margin-bottom: 1.5rem;
  max-width: 264px;
  width: 100%;
}

.layout-container--login {
  max-width: 700px;
}

// overriding get help button styles for homepage only
.layout-container--login #get-help-button {
  display: none;
}
