.va-login-header {
  background-color: #112e51;
}

.va-header-logo {
  background-color: transparent;
  border-bottom: 0;
  display: block;
  height: auto;
  margin-bottom: 1.5rem;
  max-width: 264px;
  width: 100%;
}
