$color-white: #fff;
$color-gray-lightest: #f1f1f1;
$color-gray-lighter: #d6d7d9;
$color-gray-light: #aeb0b5;
$color-gray-dark: #757575;
$color-gray-darker: #212121;
$color-gray-darkest: #323a45;
$color-black: #000;

$color-blue-lightest: #e1f3f8;
$color-blue: #3e94cf;
$color-blue-dark: #0071bb;
$color-blue-darker: #003e73;
$color-blue-darkest: #112e51;

$color-warning: #fdb81e;
$color-error: #e31c3d;
$color-success: #2e8540;
$color-status: #02bfe7;

:root {
  /*
   * Our vagovclaro variables.
   */
  --color-va-blue: $color-blue-darker;

  /*
   * Variables originally defined in core/themes/claro, overridden here.
   */
  --color-absolutezero: var(--color-va-blue);
}
