/**
 * Global stylesheet loaded for all pages that use this theme.
 */
// import variables & mixins first to ensure they are available to the rest
@import 'tokens/variables';
@import 'tokens/mixins';
@import 'components/alerts';
@import 'components/elements';
@import 'components/layout';
@import 'components/buttons';
@import 'components/media';
@import 'components/paragraphs';
@import 'components/centralized_content';
@import 'components/tooltip';
@import 'components/process_list';
@import 'pages/login-page';
@import 'pages/kb-pages';
@import 'pages/node-view';
// @import 'services';
// @import 'external_content';
// @import 'toolbar';

/* Admin menus with route:<nolink> links should look OK */
.toolbar-tray span.toolbar-icon {
  color: #888;
  cursor: pointer;
  display: block;
  padding: 1em 1.333em;
}

.views-field-rendered-entity h2 {
  font-size: 20px;
}

.field--name-field-phone-number {
  .form-type-textfield {
    float: left;
  }
}

.field--name-field-phone-extension {
  .form-type-textfield {
    float: left;
    margin-left: 20px;
  }
}

.field--name-field-phone-label {
  clear: both;
}

.paragraph-type--service-location-address {
  .field--type-address {
    display: none;
  }
}

.table--widget-entity_reference_browser_table_widget {
  margin-top: 25px;

  .moderation-status {
    font-weight: 400;
    text-transform: uppercase;
  }
}

#block-entitymetadisplay {
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  margin: 1em 0;
  padding: 10px 18px;

  div {
    padding: 2px 0;
  }
}

.ief-entity-table {
  th:last-child {
    font-size: 0;
  }
}

.field--type-smartdate {
  .smartdate--widget {
    .allday-label {
      clear: both;
      display: block;
      float: none;

      input.allday {
        margin: 0.65em 0.5em 0 6em;
      }
    }
  }
}

.downloadable-file-link {
  padding-left: 20px;
  position: relative;

  &::before {
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 16px;
    position: absolute;
    top: 2px;
    width: 16px;
  }
}

.downloadable-file-link--document::before {
  background-image: url('../../images/icons/download-000000.svg');
}

.downloadable-file-link--video::before {
  background-image: url('../../images/icons/play-000000.svg');
}

.downloadable-file-link--image::before {
  background-image: url('../../images/icons/download-000000.svg');
}

.item-list {
  .qa-list {
    margin-left: 0;

    li {
      list-style: none;
      margin-left: 0;
      padding: 10px 0 0;
    }
  }
}

/* Views exposed form with inline action button */
.exposed-filter-flex {
  display: flex;

  .form-actions {
    align-self: flex-end;
  }
}

#field-clp-spotlight-cta-add-more-wrapper,
#field-clp-spotlight-cta-add-more-wrapper,
.field--name-field-primary-call-to-action,
.field--name-field-clp-faq-paragraphs {
  .clearfix::after {
    clear: none;
  }

  [id^='edit-field-tags-0-subform-field-non-beneficiares-wrapper'] {
    display: none;
  }
}

.node-campaign-landing-page-edit-form,
.node-campaign-landing-page-form {
  summary {
    text-transform: none;
  }
}

.visual-layout-svg {
  padding-bottom: 55px;
  padding-left: 0;
  padding-right: 30px;
  padding-top: 30px;
}

.field--name-field-service-location .paragraph-type-title {
  display: none;
}

.field--name-field-facility-service-hours {
  .tablefield-addrow.button,
  .seven-details {
    display: none;
  }
}

.claro-spinner {
  background-image: url('../../../../../core/themes/claro/images/spinner-ltr.gif');
}

#edit-group-facility-api {
  .field--name-field-facility-hours {
    input {
      pointer-events: none;
    }
  }
}

.field--name-field-facility-hours table tr td p {
  margin: 0;
}

#external-content h3 {
  text-transform: uppercase;
}

p.vc-help-text {
  line-height: 1.5;

  a {
    text-decoration: underline;

    &:hover {
      opacity: 0.8;
    }
  }
}
