#block-whatsnewinthecms {

  background: rgb(217, 238, 251); // Light blue.
  font-size: 16px;
  min-width: 308px;
  padding: 24px;

  div {
    margin-top: 16px;
  }

  h2 {
    font-size: 17px;
    font-weight: bold;
    margin-top: 0;

    &::before {
      background-image: url('../../../vagovadmin/images/icons/bullhorn-000000.svg');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: inline-block;
      height: 23px;
      padding-right: 5px;
      vertical-align: -28%;
      width: 27px;
    }
  }
}
