/**
 * These styles used by the library called in va_gov_help_center/src/Plugin/Block/WhatsNew.php
 */
#block-whatsnewinthecms {
  background: var(--va-blue-light); // Light blue.
  font-size: 16px;
  min-width: 308px;
  padding: 24px;

  div {
    margin-top: 16px;
  }

  h2 {
    font-size: 17px;
    font-weight: bold;
    margin-top: 0;

    &::before {
      background-image: url('../images/icons/000000/bullhorn.svg');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: inline-block;
      height: 23px;
      padding-right: 5px;
      vertical-align: -28%;
      width: 27px;
    }
  }
}
