{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "info": {
    "description": "This is a JSON API compliant implementation",
    "title": "VA.gov CMS - JSON API",
    "version": "Versioning not supported"
  },
  "host": "va-gov-cms.ddev.site",
  "basePath": "\/jsonapi",
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    },
    "csrf_token": {
      "type": "apiKey",
      "name": "X-CSRF-Token",
      "in": "header",
      "x-tokenUrl": "https:\/\/va-gov-cms.ddev.site\/user\/token"
    }
  },
  "security": {
    "basic_auth": [],
    "csrf_token": []
  },
  "definitions": {
    "node--banner": {
      "title": "node:banner Schema",
      "description": "A full width dismissible banner",
      "type": "object",
      "required": [
        "data"
      ],
      "properties": {
        "data": {
          "description": "\\\u0022Resource objects\\\u0022 appear in a JSON:API document to represent resources.",
          "type": "object",
          "required": [
            "type",
            "id"
          ],
          "properties": {
            "type": {
              "type": "string",
              "title": "type",
              "description": "Resource type",
              "enum": [
                "node--banner"
              ]
            },
            "id": {
              "type": "string",
              "title": "Resource ID",
              "format": "uuid",
              "maxLength": 128
            },
            "attributes": {
              "description": "Entity attributes",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "drupal_internal__nid": {
                  "type": "integer",
                  "title": "ID"
                },
                "drupal_internal__vid": {
                  "type": "integer",
                  "title": "Revision ID"
                },
                "langcode": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "title": "Language code"
                    },
                    "language": {
                      "type": "language_reference",
                      "title": "Language object",
                      "description": "The referenced language"
                    }
                  },
                  "required": [
                    "value"
                  ],
                  "title": "Language"
                },
                "revision_timestamp": {
                  "type": "number",
                  "title": "Revision create time",
                  "format": "utc-millisec",
                  "description": "The time that the current revision was created."
                },
                "revision_log": {
                  "type": "string",
                  "title": "Revision log message",
                  "description": "Briefly describe the changes you have made.",
                  "default": ""
                },
                "status": {
                  "type": "boolean",
                  "title": "Published",
                  "default": true
                },
                "title": {
                  "type": "string",
                  "title": "Heading",
                  "maxLength": 255
                },
                "created": {
                  "type": "number",
                  "title": "Authored on",
                  "format": "utc-millisec",
                  "description": "The time that the node was created."
                },
                "changed": {
                  "type": "number",
                  "title": "Changed",
                  "format": "utc-millisec",
                  "description": "The time that the node was last edited."
                },
                "promote": {
                  "type": "boolean",
                  "title": "Promoted to front page",
                  "default": false
                },
                "sticky": {
                  "type": "boolean",
                  "title": "Sticky at top of lists",
                  "default": false
                },
                "default_langcode": {
                  "type": "boolean",
                  "title": "Default translation",
                  "description": "A flag indicating whether this is the default translation.",
                  "default": true
                },
                "revision_default": {
                  "type": "boolean",
                  "title": "Default revision",
                  "description": "A flag indicating whether this was a default revision when it was saved."
                },
                "revision_translation_affected": {
                  "type": "boolean",
                  "title": "Revision translation affected",
                  "description": "Indicates if the last edit of a translation belongs to current revision."
                },
                "moderation_state": {
                  "type": "string",
                  "title": "Moderation state",
                  "maxLength": 255,
                  "description": "The moderation state of this piece of content."
                },
                "metatag": {
                  "type": "object",
                  "title": "Metatags (Hidden field for JSON support)",
                  "description": "The meta tags for the entity."
                },
                "path": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "title": "URL alias"
                },
                "body": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "title": "Body"
                },
                "alert_type": {
                  "type": "string",
                  "title": "Alert type",
                  "enum": [
                    "information",
                    "warning"
                  ]
                },
                "dismissible_option": {
                  "type": "string",
                  "title": "Persistence",
                  "enum": [
                    "perm",
                    "dismiss"
                  ],
                  "default": "perm"
                },
                "target_paths": {
                  "type": "array",
                  "title": "Paths",
                  "items": {
                    "type": "string",
                    "title": "Text value",
                    "maxLength": 255
                  }
                }
              },
              "required": [
                "title",
                "revision_translation_affected",
                "metatag",
                "path",
                "body"
              ]
            },
            "relationships": {
              "description": "Entity relationships",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "node_type": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": [
                            "node_type--node_type"
                          ]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Content type"
                },
                "revision_uid": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": [
                            "user--user"
                          ]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Revision user"
                },
                "uid": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": [
                            "user--user"
                          ]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Authored by"
                },
                "menu_link": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource"
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Menu link"
                },
                "administration": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": [
                            "taxonomy_term--administration"
                          ]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Section"
                }
              },
              "required": []
            },
            "links": {
              "type": "object",
              "additionalProperties": {
                "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
                "type": "object",
                "required": [
                  "href"
                ],
                "properties": {
                  "href": {
                    "description": "A string containing the link\u0027s URL . ",
                    "type": "string",
                    "format": "uri - reference"
                  },
                  "meta": {
                    "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        },
        "meta": {
          "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
          "type": "object",
          "additionalProperties": true
        },
        "links": {
          "type": "object",
          "additionalProperties": {
            "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
            "type": "object",
            "required": [
              "href"
            ],
            "properties": {
              "href": {
                "description": "A string containing the link\u0027s URL . ",
                "type": "string",
                "format": "uri - reference"
              },
              "meta": {
                "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "jsonapi": {
          "description": "An object describing the server\u0027s implementation",
          "type": "object",
          "properties": {
            "version": {
              "type": "string"
            },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        }
      },
      "additionalProperties": true
    }
  },
  "consumes": [
    "application\/vnd.api+json"
  ],
  "produces": [
    "application\/vnd.api+json"
  ],
  "paths": {
    "\/node\/banner\/{entity}\/administration": {
      "get": {
        "summary": "Related: administration (Taxonomy term - Sections)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003ERelated endpoint\u003C\/a\u003E\u003C\/em\u003E for the taxonomy_term--administration resource type through the \u003Cem class=\u0022placeholder\u0022\u003Eadministration\u003C\/em\u003E relationship. The related endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular related resource or entity.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node banner"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "\/node\/banner\/{entity}\/relationships\/administration": {
      "get": {
        "summary": "Relationship: administration (Taxonomy term - Sections)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#fetching-relationships\u0022\u003ERelationship endpoint\u003C\/a\u003E\u003C\/em\u003E for the taxonomy_term--administration resource type through the \u003Cem class=\u0022placeholder\u0022\u003Eadministration\u003C\/em\u003E relationship. The relationship endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#document-resource-identifier-objects\u0022\u003Eresource identifier object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular relationship.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node banner"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "The \u0022type\u0022 and \u0022id\u0022 to non-empty members.",
                  "type": "object",
                  "required": [
                    "type",
                    "id"
                  ],
                  "properties": {
                    "type": {
                      "title": "Resource type name",
                      "type": "string",
                      "enum": [
                        "taxonomy_term--administration"
                      ]
                    },
                    "id": {
                      "title": "Resource ID",
                      "type": "string",
                      "format": "uuid"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {}
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "\/node\/banner": {
      "get": {
        "summary": "List (Content - Full Width Alert)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003ECollection endpoint\u003C\/a\u003E\u003C\/em\u003E for the node--banner resource type. Collections are a list of \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource objects\u003C\/a\u003E\u003C\/em\u003E for a particular resource type. In the JSON API module for Drupal all collections are homogeneous, which means that all the items in a collection are of the same type.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "filter",
            "in": "query",
            "type": "array",
            "required": false,
            "description": "The JSON:API module has some of the most robust and feature-rich filtering features around. All of that power comes with a bit of a learning curve though. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/filtering\u0022\u003ELearn more in the documentation\u003C\/a\u003E.",
            "items": []
          },
          {
            "name": "sort",
            "in": "query",
            "type": "array",
            "required": false,
            "description": "The JSON:API module allows you to sort collections based on properties in the resource or in nested resources. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/sorting\u0022\u003ELearn more in the documentation\u003C\/a\u003E.",
            "items": []
          },
          {
            "name": "page",
            "in": "query",
            "type": "array",
            "required": false,
            "description": "Pagination can be a deceptively complex topic. It\u0027s easy to fall into traps and not follow best-practices. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/pagination\u0022\u003ELearn more in the documentation\u003C\/a\u003E.",
            "items": []
          },
          {
            "name": "include",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Embed related entities in the response. For example: use a query string like \u003Ccode\u003E?include=comments.author\u003C\/code\u003E to include all the entities referenced by \u003Ccode\u003Ecomments\u003C\/code\u003E and all the entities referenced by \u003Ccode\u003Eauthor\u003C\/code\u003E on those entities!. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/includes\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "title": "node:banner Schema",
              "description": "A full width dismissible banner",
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#\/definitions\/node--banner\/properties\/data"
                  }
                },
                "meta": {
                  "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                  "type": "object",
                  "additionalProperties": true
                },
                "links": {
                  "type": "object",
                  "additionalProperties": {
                    "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
                    "type": "object",
                    "required": [
                      "href"
                    ],
                    "properties": {
                      "href": {
                        "description": "A string containing the link\u0027s URL . ",
                        "type": "string",
                        "format": "uri - reference"
                      },
                      "meta": {
                        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                },
                "jsonapi": {
                  "description": "An object describing the server\u0027s implementation",
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "additionalProperties": true
            }
          }
        }
      }
    },
    "\/node\/banner\/{entity}": {
      "get": {
        "summary": "View (Content - Full Width Alert)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003EIndividual endpoint\u003C\/a\u003E\u003C\/em\u003E for the node--banner resource type. The individual endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular resource or entity.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node banner"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#\/definitions\/node--banner"
            }
          }
        }
      }
    },
    "\/node\/banner\/{entity}\/menu_link": {
      "get": {
        "summary": "Related: menu_link (Custom menu link - User account menu)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003ERelated endpoint\u003C\/a\u003E\u003C\/em\u003E for the menu_link_content--account resource type through the \u003Cem class=\u0022placeholder\u0022\u003Emenu_link\u003C\/em\u003E relationship. The related endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular related resource or entity.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node banner"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "\/node\/banner\/{entity}\/relationships\/menu_link": {
      "get": {
        "summary": "Relationship: menu_link (Custom menu link - User account menu)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#fetching-relationships\u0022\u003ERelationship endpoint\u003C\/a\u003E\u003C\/em\u003E for the menu_link_content--account resource type through the \u003Cem class=\u0022placeholder\u0022\u003Emenu_link\u003C\/em\u003E relationship. The relationship endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#document-resource-identifier-objects\u0022\u003Eresource identifier object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular relationship.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node banner"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "The \u0022type\u0022 and \u0022id\u0022 to non-empty members.",
                  "type": "object",
                  "required": [
                    "type",
                    "id"
                  ],
                  "properties": {
                    "type": {
                      "title": "Resource type name",
                      "type": "string",
                      "enum": [
                        "menu_link_content--account"
                      ]
                    },
                    "id": {
                      "title": "Resource ID",
                      "type": "string",
                      "format": "uuid"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {}
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "\/node\/banner\/{entity}\/node_type": {
      "get": {
        "summary": "Related: node_type (Content type)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003ERelated endpoint\u003C\/a\u003E\u003C\/em\u003E for the node_type--node_type resource type through the \u003Cem class=\u0022placeholder\u0022\u003Enode_type\u003C\/em\u003E relationship. The related endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular related resource or entity.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node banner"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "\/node\/banner\/{entity}\/relationships\/node_type": {
      "get": {
        "summary": "Relationship: node_type (Content type)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#fetching-relationships\u0022\u003ERelationship endpoint\u003C\/a\u003E\u003C\/em\u003E for the node_type--node_type resource type through the \u003Cem class=\u0022placeholder\u0022\u003Enode_type\u003C\/em\u003E relationship. The relationship endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#document-resource-identifier-objects\u0022\u003Eresource identifier object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular relationship.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node banner"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "The \u0022type\u0022 and \u0022id\u0022 to non-empty members.",
                  "type": "object",
                  "required": [
                    "type",
                    "id"
                  ],
                  "properties": {
                    "type": {
                      "title": "Resource type name",
                      "type": "string",
                      "enum": [
                        "node_type--node_type"
                      ]
                    },
                    "id": {
                      "title": "Resource ID",
                      "type": "string",
                      "format": "uuid"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {}
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "\/node\/banner\/{entity}\/revision_uid": {
      "get": {
        "summary": "Related: revision_uid (User)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003ERelated endpoint\u003C\/a\u003E\u003C\/em\u003E for the user--user resource type through the \u003Cem class=\u0022placeholder\u0022\u003Erevision_uid\u003C\/em\u003E relationship. The related endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular related resource or entity.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node banner"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "\/node\/banner\/{entity}\/relationships\/revision_uid": {
      "get": {
        "summary": "Relationship: revision_uid (User)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#fetching-relationships\u0022\u003ERelationship endpoint\u003C\/a\u003E\u003C\/em\u003E for the user--user resource type through the \u003Cem class=\u0022placeholder\u0022\u003Erevision_uid\u003C\/em\u003E relationship. The relationship endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#document-resource-identifier-objects\u0022\u003Eresource identifier object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular relationship.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node banner"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "The \u0022type\u0022 and \u0022id\u0022 to non-empty members.",
                  "type": "object",
                  "required": [
                    "type",
                    "id"
                  ],
                  "properties": {
                    "type": {
                      "title": "Resource type name",
                      "type": "string",
                      "enum": [
                        "user--user"
                      ]
                    },
                    "id": {
                      "title": "Resource ID",
                      "type": "string",
                      "format": "uuid"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {}
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "\/node\/banner\/{entity}\/uid": {
      "get": {
        "summary": "Related: uid (User)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003ERelated endpoint\u003C\/a\u003E\u003C\/em\u003E for the user--user resource type through the \u003Cem class=\u0022placeholder\u0022\u003Euid\u003C\/em\u003E relationship. The related endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular related resource or entity.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node banner"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "\/node\/banner\/{entity}\/relationships\/uid": {
      "get": {
        "summary": "Relationship: uid (User)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#fetching-relationships\u0022\u003ERelationship endpoint\u003C\/a\u003E\u003C\/em\u003E for the user--user resource type through the \u003Cem class=\u0022placeholder\u0022\u003Euid\u003C\/em\u003E relationship. The relationship endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#document-resource-identifier-objects\u0022\u003Eresource identifier object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular relationship.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node banner"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "The \u0022type\u0022 and \u0022id\u0022 to non-empty members.",
                  "type": "object",
                  "required": [
                    "type",
                    "id"
                  ],
                  "properties": {
                    "type": {
                      "title": "Resource type name",
                      "type": "string",
                      "enum": [
                        "user--user"
                      ]
                    },
                    "id": {
                      "title": "Resource ID",
                      "type": "string",
                      "format": "uuid"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {}
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "\/node\/checklist": {
      "get": {
        "summary": "List (Content - Checklist)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003ECollection endpoint\u003C\/a\u003E\u003C\/em\u003E for the node--checklist resource type. Collections are a list of \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource objects\u003C\/a\u003E\u003C\/em\u003E for a particular resource type. In the JSON API module for Drupal all collections are homogeneous, which means that all the items in a collection are of the same type.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "filter",
            "in": "query",
            "type": "array",
            "required": false,
            "description": "The JSON:API module has some of the most robust and feature-rich filtering features around. All of that power comes with a bit of a learning curve though. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/filtering\u0022\u003ELearn more in the documentation\u003C\/a\u003E.",
            "items": []
          },
          {
            "name": "sort",
            "in": "query",
            "type": "array",
            "required": false,
            "description": "The JSON:API module allows you to sort collections based on properties in the resource or in nested resources. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/sorting\u0022\u003ELearn more in the documentation\u003C\/a\u003E.",
            "items": []
          },
          {
            "name": "page",
            "in": "query",
            "type": "array",
            "required": false,
            "description": "Pagination can be a deceptively complex topic. It\u0027s easy to fall into traps and not follow best-practices. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/pagination\u0022\u003ELearn more in the documentation\u003C\/a\u003E.",
            "items": []
          },
          {
            "name": "include",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Embed related entities in the response. For example: use a query string like \u003Ccode\u003E?include=comments.author\u003C\/code\u003E to include all the entities referenced by \u003Ccode\u003Ecomments\u003C\/code\u003E and all the entities referenced by \u003Ccode\u003Eauthor\u003C\/code\u003E on those entities!. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/includes\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/field_administration": {
      "get": {
        "summary": "Related: field_administration (Taxonomy term - Sections)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003ERelated endpoint\u003C\/a\u003E\u003C\/em\u003E for the taxonomy_term--administration resource type through the \u003Cem class=\u0022placeholder\u0022\u003Efield_administration\u003C\/em\u003E relationship. The related endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular related resource or entity.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/relationships\/field_administration": {
      "get": {
        "summary": "Relationship: field_administration (Taxonomy term - Sections)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#fetching-relationships\u0022\u003ERelationship endpoint\u003C\/a\u003E\u003C\/em\u003E for the taxonomy_term--administration resource type through the \u003Cem class=\u0022placeholder\u0022\u003Efield_administration\u003C\/em\u003E relationship. The relationship endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#document-resource-identifier-objects\u0022\u003Eresource identifier object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular relationship.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "The \u0022type\u0022 and \u0022id\u0022 to non-empty members.",
                  "type": "object",
                  "required": [
                    "type",
                    "id"
                  ],
                  "properties": {
                    "type": {
                      "title": "Resource type name",
                      "type": "string",
                      "enum": [
                        "taxonomy_term--administration"
                      ]
                    },
                    "id": {
                      "title": "Resource ID",
                      "type": "string",
                      "format": "uuid"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {}
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/field_alert_single": {
      "get": {
        "summary": "Related: field_alert_single (Paragraph - Alert (single))",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003ERelated endpoint\u003C\/a\u003E\u003C\/em\u003E for the paragraph--alert_single resource type through the \u003Cem class=\u0022placeholder\u0022\u003Efield_alert_single\u003C\/em\u003E relationship. The related endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular related resource or entity.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/relationships\/field_alert_single": {
      "get": {
        "summary": "Relationship: field_alert_single (Paragraph - Alert (single))",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#fetching-relationships\u0022\u003ERelationship endpoint\u003C\/a\u003E\u003C\/em\u003E for the paragraph--alert_single resource type through the \u003Cem class=\u0022placeholder\u0022\u003Efield_alert_single\u003C\/em\u003E relationship. The relationship endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#document-resource-identifier-objects\u0022\u003Eresource identifier object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular relationship.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "The \u0022type\u0022 and \u0022id\u0022 to non-empty members.",
                  "type": "object",
                  "required": [
                    "type",
                    "id"
                  ],
                  "properties": {
                    "type": {
                      "title": "Resource type name",
                      "type": "string",
                      "enum": [
                        "paragraph--alert_single"
                      ]
                    },
                    "id": {
                      "title": "Resource ID",
                      "type": "string",
                      "format": "uuid"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {}
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/field_buttons": {
      "get": {
        "summary": "Related: field_buttons (Paragraph - Call to action)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003ERelated endpoint\u003C\/a\u003E\u003C\/em\u003E for the paragraph--button resource type through the \u003Cem class=\u0022placeholder\u0022\u003Efield_buttons\u003C\/em\u003E relationship. The related endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular related resource or entity.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/relationships\/field_buttons": {
      "get": {
        "summary": "Relationship: field_buttons (Paragraph - Call to action)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#fetching-relationships\u0022\u003ERelationship endpoint\u003C\/a\u003E\u003C\/em\u003E for the paragraph--button resource type through the \u003Cem class=\u0022placeholder\u0022\u003Efield_buttons\u003C\/em\u003E relationship. The relationship endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#document-resource-identifier-objects\u0022\u003Eresource identifier object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular relationship.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "An array of objects each containing \\\u0022type\\\u0022 and \\\u0022id\\\u0022 members for to-many relationships.",
                  "type": "array",
                  "items": {
                    "description": "The \u0022type\u0022 and \u0022id\u0022 to non-empty members.",
                    "type": "object",
                    "required": [
                      "type",
                      "id"
                    ],
                    "properties": {
                      "type": {
                        "title": "Resource type name",
                        "type": "string",
                        "enum": [
                          "paragraph--button"
                        ]
                      },
                      "id": {
                        "title": "Resource ID",
                        "type": "string",
                        "format": "uuid"
                      },
                      "meta": {
                        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {}
                      }
                    },
                    "additionalProperties": false
                  },
                  "uniqueItems": true
                }
              }
            }
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/field_checklist": {
      "get": {
        "summary": "Related: field_checklist (Paragraph - Checklist)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003ERelated endpoint\u003C\/a\u003E\u003C\/em\u003E for the paragraph--checklist resource type through the \u003Cem class=\u0022placeholder\u0022\u003Efield_checklist\u003C\/em\u003E relationship. The related endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular related resource or entity.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/relationships\/field_checklist": {
      "get": {
        "summary": "Relationship: field_checklist (Paragraph - Checklist)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#fetching-relationships\u0022\u003ERelationship endpoint\u003C\/a\u003E\u003C\/em\u003E for the paragraph--checklist resource type through the \u003Cem class=\u0022placeholder\u0022\u003Efield_checklist\u003C\/em\u003E relationship. The relationship endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#document-resource-identifier-objects\u0022\u003Eresource identifier object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular relationship.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "The \u0022type\u0022 and \u0022id\u0022 to non-empty members.",
                  "type": "object",
                  "required": [
                    "type",
                    "id"
                  ],
                  "properties": {
                    "type": {
                      "title": "Resource type name",
                      "type": "string",
                      "enum": [
                        "paragraph--checklist"
                      ]
                    },
                    "id": {
                      "title": "Resource ID",
                      "type": "string",
                      "format": "uuid"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {}
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/field_contact_information": {
      "get": {
        "summary": "Related: field_contact_information (Paragraph - Contact information)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003ERelated endpoint\u003C\/a\u003E\u003C\/em\u003E for the paragraph--contact_information resource type through the \u003Cem class=\u0022placeholder\u0022\u003Efield_contact_information\u003C\/em\u003E relationship. The related endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular related resource or entity.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/relationships\/field_contact_information": {
      "get": {
        "summary": "Relationship: field_contact_information (Paragraph - Contact information)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#fetching-relationships\u0022\u003ERelationship endpoint\u003C\/a\u003E\u003C\/em\u003E for the paragraph--contact_information resource type through the \u003Cem class=\u0022placeholder\u0022\u003Efield_contact_information\u003C\/em\u003E relationship. The relationship endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#document-resource-identifier-objects\u0022\u003Eresource identifier object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular relationship.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "The \u0022type\u0022 and \u0022id\u0022 to non-empty members.",
                  "type": "object",
                  "required": [
                    "type",
                    "id"
                  ],
                  "properties": {
                    "type": {
                      "title": "Resource type name",
                      "type": "string",
                      "enum": [
                        "paragraph--contact_information"
                      ]
                    },
                    "id": {
                      "title": "Resource ID",
                      "type": "string",
                      "format": "uuid"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {}
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/field_other_categories": {
      "get": {
        "summary": "Related: field_other_categories (Taxonomy term - Resources and support Categories)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003ERelated endpoint\u003C\/a\u003E\u003C\/em\u003E for the taxonomy_term--resource_support resource type through the \u003Cem class=\u0022placeholder\u0022\u003Efield_other_categories\u003C\/em\u003E relationship. The related endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular related resource or entity.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/relationships\/field_other_categories": {
      "get": {
        "summary": "Relationship: field_other_categories (Taxonomy term - Resources and support Categories)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#fetching-relationships\u0022\u003ERelationship endpoint\u003C\/a\u003E\u003C\/em\u003E for the taxonomy_term--resource_support resource type through the \u003Cem class=\u0022placeholder\u0022\u003Efield_other_categories\u003C\/em\u003E relationship. The relationship endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#document-resource-identifier-objects\u0022\u003Eresource identifier object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular relationship.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "An array of objects each containing \\\u0022type\\\u0022 and \\\u0022id\\\u0022 members for to-many relationships.",
                  "type": "array",
                  "items": {
                    "description": "The \u0022type\u0022 and \u0022id\u0022 to non-empty members.",
                    "type": "object",
                    "required": [
                      "type",
                      "id"
                    ],
                    "properties": {
                      "type": {
                        "title": "Resource type name",
                        "type": "string",
                        "enum": [
                          "taxonomy_term--resource_support"
                        ]
                      },
                      "id": {
                        "title": "Resource ID",
                        "type": "string",
                        "format": "uuid"
                      },
                      "meta": {
                        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {}
                      }
                    },
                    "additionalProperties": false
                  },
                  "uniqueItems": true
                }
              }
            }
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/field_primary_category": {
      "get": {
        "summary": "Related: field_primary_category (Taxonomy term - Resources and support Categories)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003ERelated endpoint\u003C\/a\u003E\u003C\/em\u003E for the taxonomy_term--resource_support resource type through the \u003Cem class=\u0022placeholder\u0022\u003Efield_primary_category\u003C\/em\u003E relationship. The related endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular related resource or entity.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/relationships\/field_primary_category": {
      "get": {
        "summary": "Relationship: field_primary_category (Taxonomy term - Resources and support Categories)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#fetching-relationships\u0022\u003ERelationship endpoint\u003C\/a\u003E\u003C\/em\u003E for the taxonomy_term--resource_support resource type through the \u003Cem class=\u0022placeholder\u0022\u003Efield_primary_category\u003C\/em\u003E relationship. The relationship endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#document-resource-identifier-objects\u0022\u003Eresource identifier object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular relationship.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "The \u0022type\u0022 and \u0022id\u0022 to non-empty members.",
                  "type": "object",
                  "required": [
                    "type",
                    "id"
                  ],
                  "properties": {
                    "type": {
                      "title": "Resource type name",
                      "type": "string",
                      "enum": [
                        "taxonomy_term--resource_support"
                      ]
                    },
                    "id": {
                      "title": "Resource ID",
                      "type": "string",
                      "format": "uuid"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {}
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/field_related_benefit_hubs": {
      "get": {
        "summary": "Related: field_related_benefit_hubs (Content - Benefits Hub Landing Page)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003ERelated endpoint\u003C\/a\u003E\u003C\/em\u003E for the node--landing_page resource type through the \u003Cem class=\u0022placeholder\u0022\u003Efield_related_benefit_hubs\u003C\/em\u003E relationship. The related endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular related resource or entity.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/relationships\/field_related_benefit_hubs": {
      "get": {
        "summary": "Relationship: field_related_benefit_hubs (Content - Benefits Hub Landing Page)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#fetching-relationships\u0022\u003ERelationship endpoint\u003C\/a\u003E\u003C\/em\u003E for the node--landing_page resource type through the \u003Cem class=\u0022placeholder\u0022\u003Efield_related_benefit_hubs\u003C\/em\u003E relationship. The relationship endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#document-resource-identifier-objects\u0022\u003Eresource identifier object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular relationship.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "An array of objects each containing \\\u0022type\\\u0022 and \\\u0022id\\\u0022 members for to-many relationships.",
                  "type": "array",
                  "items": {
                    "description": "The \u0022type\u0022 and \u0022id\u0022 to non-empty members.",
                    "type": "object",
                    "required": [
                      "type",
                      "id"
                    ],
                    "properties": {
                      "type": {
                        "title": "Resource type name",
                        "type": "string",
                        "enum": [
                          "node--landing_page"
                        ]
                      },
                      "id": {
                        "title": "Resource ID",
                        "type": "string",
                        "format": "uuid"
                      },
                      "meta": {
                        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {}
                      }
                    },
                    "additionalProperties": false
                  },
                  "uniqueItems": true
                }
              }
            }
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/field_related_information": {
      "get": {
        "summary": "Related: field_related_information (Paragraph - Link teaser)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003ERelated endpoint\u003C\/a\u003E\u003C\/em\u003E for the paragraph--link_teaser resource type through the \u003Cem class=\u0022placeholder\u0022\u003Efield_related_information\u003C\/em\u003E relationship. The related endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular related resource or entity.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/relationships\/field_related_information": {
      "get": {
        "summary": "Relationship: field_related_information (Paragraph - Link teaser)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#fetching-relationships\u0022\u003ERelationship endpoint\u003C\/a\u003E\u003C\/em\u003E for the paragraph--link_teaser resource type through the \u003Cem class=\u0022placeholder\u0022\u003Efield_related_information\u003C\/em\u003E relationship. The relationship endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#document-resource-identifier-objects\u0022\u003Eresource identifier object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular relationship.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "An array of objects each containing \\\u0022type\\\u0022 and \\\u0022id\\\u0022 members for to-many relationships.",
                  "type": "array",
                  "items": {
                    "description": "The \u0022type\u0022 and \u0022id\u0022 to non-empty members.",
                    "type": "object",
                    "required": [
                      "type",
                      "id"
                    ],
                    "properties": {
                      "type": {
                        "title": "Resource type name",
                        "type": "string",
                        "enum": [
                          "paragraph--link_teaser"
                        ]
                      },
                      "id": {
                        "title": "Resource ID",
                        "type": "string",
                        "format": "uuid"
                      },
                      "meta": {
                        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {}
                      }
                    },
                    "additionalProperties": false
                  },
                  "uniqueItems": true
                }
              }
            }
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/field_tags": {
      "get": {
        "summary": "Related: field_tags (Paragraph - Audience \u0026amp; Topics)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003ERelated endpoint\u003C\/a\u003E\u003C\/em\u003E for the paragraph--audience_topics resource type through the \u003Cem class=\u0022placeholder\u0022\u003Efield_tags\u003C\/em\u003E relationship. The related endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular related resource or entity.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/relationships\/field_tags": {
      "get": {
        "summary": "Relationship: field_tags (Paragraph - Audience \u0026amp; Topics)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#fetching-relationships\u0022\u003ERelationship endpoint\u003C\/a\u003E\u003C\/em\u003E for the paragraph--audience_topics resource type through the \u003Cem class=\u0022placeholder\u0022\u003Efield_tags\u003C\/em\u003E relationship. The relationship endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#document-resource-identifier-objects\u0022\u003Eresource identifier object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular relationship.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "The \u0022type\u0022 and \u0022id\u0022 to non-empty members.",
                  "type": "object",
                  "required": [
                    "type",
                    "id"
                  ],
                  "properties": {
                    "type": {
                      "title": "Resource type name",
                      "type": "string",
                      "enum": [
                        "paragraph--audience_topics"
                      ]
                    },
                    "id": {
                      "title": "Resource ID",
                      "type": "string",
                      "format": "uuid"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {}
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "\/node\/checklist\/{entity}": {
      "get": {
        "summary": "View (Content - Checklist)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003EIndividual endpoint\u003C\/a\u003E\u003C\/em\u003E for the node--checklist resource type. The individual endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular resource or entity.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/menu_link": {
      "get": {
        "summary": "Related: menu_link (Custom menu link - User account menu)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003ERelated endpoint\u003C\/a\u003E\u003C\/em\u003E for the menu_link_content--account resource type through the \u003Cem class=\u0022placeholder\u0022\u003Emenu_link\u003C\/em\u003E relationship. The related endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular related resource or entity.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/relationships\/menu_link": {
      "get": {
        "summary": "Relationship: menu_link (Custom menu link - User account menu)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#fetching-relationships\u0022\u003ERelationship endpoint\u003C\/a\u003E\u003C\/em\u003E for the menu_link_content--account resource type through the \u003Cem class=\u0022placeholder\u0022\u003Emenu_link\u003C\/em\u003E relationship. The relationship endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022https:\/\/jsonapi.org\/format\/#document-resource-identifier-objects\u0022\u003Eresource identifier object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular relationship.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
            "type": "string",
            "format": "uuid",
            "description": "The uuid of the node checklist"
          }
        ],
        "tags": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "The \u0022type\u0022 and \u0022id\u0022 to non-empty members.",
                  "type": "object",
                  "required": [
                    "type",
                    "id"
                  ],
                  "properties": {
                    "type": {
                      "title": "Resource type name",
                      "type": "string",
                      "enum": [
                        "menu_link_content--account"
                      ]
                    },
                    "id": {
                      "title": "Resource ID",
                      "type": "string",
                      "format": "uuid"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {}
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "\/node\/checklist\/{entity}\/node_type": {
      "get": {
        "summary": "Related: node_type (Content type)",
        "description": "\u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#fetching\u0022\u003ERelated endpoint\u003C\/a\u003E\u003C\/em\u003E for the node_type--node_type resource type through the \u003Cem class=\u0022placeholder\u0022\u003Enode_type\u003C\/em\u003E relationship. The related endpoint contains a \u003Cem class=\u0022placeholder\u0022\u003E\u003Ca href=\u0022http:\/\/jsonapi.org\/format\/#document-resource-objects\u0022\u003Eresource object\u003C\/a\u003E\u003C\/em\u003E with the data for a particular related resource or entity.",
        "parameters": [
          {
            "name": "resourceVersion",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "The JSON:API module exposes entity revisions as resource versions. \u003Ca href=\u0022https:\/\/www.drupal.org\/docs\/8\/modules\/jsonapi\/revisions\u0022\u003ELearn more in the documentation\u003C\/a\u003E."
          },
          {
            "name": "entity",
            "required": true,
            "in": "path",
[...]
