openapi: 3.0.1
info:
  title: VA.gov CMS - JSON API
  description: This is a JSON API compliant implementation
  version: Versioning not supported
servers:
  - url: https://va-gov-cms.ddev.site/jsonapi
paths:
  /block_content/alert:
    get:
      tags: []
      summary: List (Custom block - Alert)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the block_content--alert resource type. Collections are a list of
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: block_content:alert Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'block_content' entities of the
                  'alert' bundle.
  /block_content/alert/{entity}:
    get:
      tags: []
      summary: View (Custom block - Alert)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the block_content--alert resource type. The individual endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content alert
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/block_content--alert'
  /block_content/promo:
    get:
      tags: []
      summary: List (Custom block - Promo)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the block_content--promo resource type. Collections are a list of
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: block_content:promo Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'block_content' entities of the
                  'promo' bundle.
  /block_content/promo/{entity}:
    get:
      tags: []
      summary: View (Custom block - Promo)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the block_content--promo resource type. The individual endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the block_content promo
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/block_content--promo'
  /file/file:
    get:
      tags: []
      summary: List (File)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the file--file resource type. Collections are a list of <em
        class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: file Schema
                type: object
                additionalProperties:
                  type: object
                description: Describes the payload for 'file' entities.
  /file/file/{entity}:
    get:
      tags: []
      summary: View (File)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the file--file resource type. The individual endpoint contains a <em
        class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the file file
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/file--file'
  /media/image:
    get:
      tags: []
      summary: List (Media - Image)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the media--image resource type. Collections are a list of <em
        class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: media:image Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'media' entities of the 'image'
                  bundle.
  /media/image/{entity}:
    get:
      tags: []
      summary: View (Media - Image)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the media--image resource type. The individual endpoint contains a
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the media image
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/media--image'
  /node/banner:
    get:
      tags: []
      summary: List (Content - Full Width Alert)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the node--banner resource type. Collections are a list of <em
        class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: node:banner Schema
                type: object
                additionalProperties:
                  type: object
                description: A full width dismissible banner
  /node/banner/{entity}:
    get:
      tags: []
      summary: View (Content - Full Width Alert)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the node--banner resource type. The individual endpoint contains a
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node banner
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/node--banner'
  /node/checklist:
    get:
      tags: []
      summary: List (Content - Checklist)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the node--checklist resource type. Collections are a list of <em
        class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: node:checklist Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'node' entities of the 'checklist'
                  bundle.
  /node/checklist/{entity}:
    get:
      tags: []
      summary: View (Content - Checklist)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the node--checklist resource type. The individual endpoint contains
        a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node checklist
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/node--checklist'
  /node/documentation_page:
    get:
      tags: []
      summary: List (Content - CMS Knowledge Base Article)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the node--documentation_page resource type. Collections are a list
        of <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: node:documentation_page Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Articles about how to use the VA.gov Drupal Content Management
                  System (CMS).
  /node/documentation_page/{entity}:
    get:
      tags: []
      summary: View (Content - CMS Knowledge Base Article)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the node--documentation_page resource type. The individual endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node documentation_page
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/node--documentation_page'
  /node/faq_multiple_q_a:
    get:
      tags: []
      summary: List (Content - FAQ - multiple Q&amp;As)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the node--faq_multiple_q_a resource type. Collections are a list of
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: node:faq_multiple_q_a Schema
                type: object
                additionalProperties:
                  type: object
                description: Curated collection of Q&As.
  /node/faq_multiple_q_a/{entity}:
    get:
      tags: []
      summary: View (Content - FAQ - multiple Q&amp;As)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the node--faq_multiple_q_a resource type. The individual endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node faq_multiple_q_a
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/node--faq_multiple_q_a'
  /node/full_width_banner_alert:
    get:
      tags: []
      summary: List (Content - VAMC System Banner Alert with Situation Updates)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the node--full_width_banner_alert resource type. Collections are a
        list of <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: node:full_width_banner_alert Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  A full-width alert that will be added to a VAMC system, or
                  multiple VAMC systems.
  /node/full_width_banner_alert/{entity}:
    get:
      tags: []
      summary: View (Content - VAMC System Banner Alert with Situation Updates)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the node--full_width_banner_alert resource type. The individual
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node full_width_banner_alert
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/node--full_width_banner_alert'
  /node/landing_page:
    get:
      tags: []
      summary: List (Content - Benefits Hub Landing Page)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the node--landing_page resource type. Collections are a list of <em
        class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: node:landing_page Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  A special page for top-level Benefits content with its own
                  one-off layout and content.
  /node/landing_page/{entity}:
    get:
      tags: []
      summary: View (Content - Benefits Hub Landing Page)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the node--landing_page resource type. The individual endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node landing_page
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/node--landing_page'
  /node/media_list_images:
    get:
      tags: []
      summary: List (Content - Media list - Images)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the node--media_list_images resource type. Collections are a list of
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: node:media_list_images Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'node' entities of the
                  'media_list_images' bundle.
  /node/media_list_images/{entity}:
    get:
      tags: []
      summary: View (Content - Media list - Images)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the node--media_list_images resource type. The individual endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node media_list_images
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/node--media_list_images'
  /node/media_list_videos:
    get:
      tags: []
      summary: List (Content - Media list - Videos)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the node--media_list_videos resource type. Collections are a list of
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: node:media_list_videos Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'node' entities of the
                  'media_list_videos' bundle.
  /node/media_list_videos/{entity}:
    get:
      tags: []
      summary: View (Content - Media list - Videos)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the node--media_list_videos resource type. The individual endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node media_list_videos
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/node--media_list_videos'
  /node/office:
    get:
      tags: []
      summary: List (Content - Office)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the node--office resource type. Collections are a list of <em
        class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: node:office Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  An office at the VA, which may have contact info, events,
                  news, and a leadership page in some cases.
  /node/office/{entity}:
    get:
      tags: []
      summary: View (Content - Office)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the node--office resource type. The individual endpoint contains a
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node office
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/node--office'
  /node/q_a:
    get:
      tags: []
      summary: List (Content - Q&amp;A)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the node--q_a resource type. Collections are a list of <em
        class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: node:q_a Schema
                type: object
                additionalProperties:
                  type: object
                description: Single Question and Answer.
  /node/q_a/{entity}:
    get:
      tags: []
      summary: View (Content - Q&amp;A)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the node--q_a resource type. The individual endpoint contains a <em
        class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node q_a
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/node--q_a'
  /node/step_by_step:
    get:
      tags: []
      summary: List (Content - Step-by-Step)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the node--step_by_step resource type. Collections are a list of <em
        class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: node:step_by_step Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  An ordered list (1, 2, 3, 4, N) of steps with Call to Action
                  buttons.
  /node/step_by_step/{entity}:
    get:
      tags: []
      summary: View (Content - Step-by-Step)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the node--step_by_step resource type. The individual endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node step_by_step
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/node--step_by_step'
  /node/support_resources_detail_page:
    get:
      tags: []
      summary: List (Content - Resources and support Detail Page)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the node--support_resources_detail_page resource type. Collections
        are a list of <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: node:support_resources_detail_page Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'node' entities of the
                  'support_resources_detail_page' bundle.
  /node/support_resources_detail_page/{entity}:
    get:
      tags: []
      summary: View (Content - Resources and support Detail Page)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the node--support_resources_detail_page resource type. The
        individual endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node support_resources_detail_page
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/node--support_resources_detail_page'
  /node/support_service:
    get:
      tags: []
      summary: List (Content - Support Service)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the node--support_service resource type. Collections are a list of
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: node:support_service Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Help desks, hotlines, etc, to be contextually placed alongside
                  relevant content.
  /node/support_service/{entity}:
    get:
      tags: []
      summary: View (Content - Support Service)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the node--support_service resource type. The individual endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: resourceVersion
          in: query
          description: >-
            The JSON:API module exposes entity revisions as resource versions.
            <a
            href="https://www.drupal.org/docs/8/modules/jsonapi/revisions">Learn
            more in the documentation</a>.
          schema:
            type: string
        - name: entity
          in: path
          description: The uuid of the node support_service
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/node--support_service'
  /paragraph/alert_single:
    get:
      tags: []
      summary: List (Paragraph - Alert (single))
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the paragraph--alert_single resource type. Collections are a list of
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: paragraph:alert_single Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'paragraph' entities of the
                  'alert_single' bundle.
  /paragraph/alert_single/{entity}:
    get:
      tags: []
      summary: View (Paragraph - Alert (single))
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the paragraph--alert_single resource type. The individual endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the paragraph alert_single
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/paragraph--alert_single'
  /paragraph/audience_topics:
    get:
      tags: []
      summary: List (Paragraph - Audience &amp; Topics)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the paragraph--audience_topics resource type. Collections are a list
        of <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: paragraph:audience_topics Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'paragraph' entities of the
                  'audience_topics' bundle.
  /paragraph/audience_topics/{entity}:
    get:
      tags: []
      summary: View (Paragraph - Audience &amp; Topics)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the paragraph--audience_topics resource type. The individual
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the paragraph audience_topics
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/paragraph--audience_topics'
  /paragraph/checklist:
    get:
      tags: []
      summary: List (Paragraph - Checklist)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the paragraph--checklist resource type. Collections are a list of
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: paragraph:checklist Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'paragraph' entities of the
                  'checklist' bundle.
  /paragraph/checklist/{entity}:
    get:
      tags: []
      summary: View (Paragraph - Checklist)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the paragraph--checklist resource type. The individual endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the paragraph checklist
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/paragraph--checklist'
  /paragraph/contact_information:
    get:
      tags: []
      summary: List (Paragraph - Contact information)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the paragraph--contact_information resource type. Collections are a
        list of <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: paragraph:contact_information Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'paragraph' entities of the
                  'contact_information' bundle.
  /paragraph/contact_information/{entity}:
    get:
      tags: []
      summary: View (Paragraph - Contact information)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the paragraph--contact_information resource type. The individual
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the paragraph contact_information
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/paragraph--contact_information'
  /paragraph/email_contact:
    get:
      tags: []
      summary: List (Paragraph - Email address)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the paragraph--email_contact resource type. Collections are a list
        of <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: paragraph:email_contact Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'paragraph' entities of the
                  'email_contact' bundle.
  /paragraph/email_contact/{entity}:
    get:
      tags: []
      summary: View (Paragraph - Email address)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the paragraph--email_contact resource type. The individual endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the paragraph email_contact
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/paragraph--email_contact'
  /paragraph/expandable_text:
    get:
      tags: []
      summary: List (Paragraph - Expandable Text)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the paragraph--expandable_text resource type. Collections are a list
        of <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: paragraph:expandable_text Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'paragraph' entities of the
                  'expandable_text' bundle.
  /paragraph/expandable_text/{entity}:
    get:
      tags: []
      summary: View (Paragraph - Expandable Text)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the paragraph--expandable_text resource type. The individual
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the paragraph expandable_text
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/paragraph--expandable_text'
  /paragraph/link_teaser:
    get:
      tags: []
      summary: List (Paragraph - Link teaser)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the paragraph--link_teaser resource type. Collections are a list of
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: paragraph:link_teaser Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'paragraph' entities of the
                  'link_teaser' bundle.
  /paragraph/link_teaser/{entity}:
    get:
      tags: []
      summary: View (Paragraph - Link teaser)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the paragraph--link_teaser resource type. The individual endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the paragraph link_teaser
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/paragraph--link_teaser'
  /paragraph/list_of_link_teasers:
    get:
      tags: []
      summary: List (Paragraph - List of link teasers)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the paragraph--list_of_link_teasers resource type. Collections are a
        list of <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: paragraph:list_of_link_teasers Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'paragraph' entities of the
                  'list_of_link_teasers' bundle.
  /paragraph/list_of_link_teasers/{entity}:
    get:
      tags: []
      summary: View (Paragraph - List of link teasers)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the paragraph--list_of_link_teasers resource type. The individual
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the paragraph list_of_link_teasers
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/paragraph--list_of_link_teasers'
  /paragraph/media_list_images:
    get:
      tags: []
      summary: List (Paragraph - Media list - Images)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the paragraph--media_list_images resource type. Collections are a
        list of <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: paragraph:media_list_images Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'paragraph' entities of the
                  'media_list_images' bundle.
  /paragraph/media_list_images/{entity}:
    get:
      tags: []
      summary: View (Paragraph - Media list - Images)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the paragraph--media_list_images resource type. The individual
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the paragraph media_list_images
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/paragraph--media_list_images'
  /paragraph/media_list_videos:
    get:
      tags: []
      summary: List (Paragraph - Media list - Videos)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the paragraph--media_list_videos resource type. Collections are a
        list of <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: paragraph:media_list_videos Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'paragraph' entities of the
                  'media_list_videos' bundle.
  /paragraph/media_list_videos/{entity}:
    get:
      tags: []
      summary: View (Paragraph - Media list - Videos)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the paragraph--media_list_videos resource type. The individual
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the paragraph media_list_videos
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/paragraph--media_list_videos'
  /paragraph/non_reusable_alert:
    get:
      tags: []
      summary: List (Paragraph - Non-reusable Alert)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the paragraph--non_reusable_alert resource type. Collections are a
        list of <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: paragraph:non_reusable_alert Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'paragraph' entities of the
                  'non_reusable_alert' bundle.
  /paragraph/non_reusable_alert/{entity}:
    get:
      tags: []
      summary: View (Paragraph - Non-reusable Alert)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the paragraph--non_reusable_alert resource type. The individual
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the paragraph non_reusable_alert
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/paragraph--non_reusable_alert'
  /paragraph/phone_number:
    get:
      tags: []
      summary: List (Paragraph - Phone number)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the paragraph--phone_number resource type. Collections are a list of
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: paragraph:phone_number Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'paragraph' entities of the
                  'phone_number' bundle.
  /paragraph/phone_number/{entity}:
    get:
      tags: []
      summary: View (Paragraph - Phone number)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the paragraph--phone_number resource type. The individual endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the paragraph phone_number
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/paragraph--phone_number'
  /paragraph/rich_text_char_limit_1000:
    get:
      tags: []
      summary: List (Paragraph - Rich text - char limit 1000)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the paragraph--rich_text_char_limit_1000 resource type. Collections
        are a list of <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: paragraph:rich_text_char_limit_1000 Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'paragraph' entities of the
                  'rich_text_char_limit_1000' bundle.
  /paragraph/rich_text_char_limit_1000/{entity}:
    get:
      tags: []
      summary: View (Paragraph - Rich text - char limit 1000)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the paragraph--rich_text_char_limit_1000 resource type. The
        individual endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the paragraph rich_text_char_limit_1000
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/paragraph--rich_text_char_limit_1000'
  /paragraph/wysiwyg:
    get:
      tags: []
      summary: List (Paragraph - Rich text)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the paragraph--wysiwyg resource type. Collections are a list of <em
        class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: paragraph:wysiwyg Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'paragraph' entities of the
                  'wysiwyg' bundle.
  /paragraph/wysiwyg/{entity}:
    get:
      tags: []
      summary: View (Paragraph - Rich text)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the paragraph--wysiwyg resource type. The individual endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the paragraph wysiwyg
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/paragraph--wysiwyg'
  /taxonomy_term/administration:
    get:
      tags: []
      summary: List (Taxonomy term - Sections)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the taxonomy_term--administration resource type. Collections are a
        list of <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: taxonomy_term:administration Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'taxonomy_term' entities of the
                  'administration' bundle.
  /taxonomy_term/administration/{entity}:
    get:
      tags: []
      summary: View (Taxonomy term - Sections)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the taxonomy_term--administration resource type. The individual
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the taxonomy_term administration
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/taxonomy_term--administration'
  /taxonomy_term/audience_beneficiaries:
    get:
      tags: []
      summary: List (Taxonomy term - Audience - Beneficiaries)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the taxonomy_term--audience_beneficiaries resource type. Collections
        are a list of <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: taxonomy_term:audience_beneficiaries Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'taxonomy_term' entities of the
                  'audience_beneficiaries' bundle.
  /taxonomy_term/audience_beneficiaries/{entity}:
    get:
      tags: []
      summary: View (Taxonomy term - Audience - Beneficiaries)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the taxonomy_term--audience_beneficiaries resource type. The
        individual endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the taxonomy_term audience_beneficiaries
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/taxonomy_term--audience_beneficiaries'
  /taxonomy_term/audience_non_beneficiaries:
    get:
      tags: []
      summary: List (Taxonomy term - Audience - Non-beneficiaries)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the taxonomy_term--audience_non_beneficiaries resource type.
        Collections are a list of <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: taxonomy_term:audience_non_beneficiaries Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'taxonomy_term' entities of the
                  'audience_non_beneficiaries' bundle.
  /taxonomy_term/audience_non_beneficiaries/{entity}:
    get:
      tags: []
      summary: View (Taxonomy term - Audience - Non-beneficiaries)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the taxonomy_term--audience_non_beneficiaries resource type. The
        individual endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the taxonomy_term audience_non_beneficiaries
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/taxonomy_term--audience_non_beneficiaries'
  /taxonomy_term/lc_categories:
    get:
      tags: []
      summary: List (Taxonomy term - Resources and support Categories)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the taxonomy_term--lc_categories resource type. Collections are a
        list of <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: taxonomy_term:lc_categories Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'taxonomy_term' entities of the
                  'lc_categories' bundle.
  /taxonomy_term/lc_categories/{entity}:
    get:
      tags: []
      summary: View (Taxonomy term - Resources and support Categories)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the taxonomy_term--lc_categories resource type. The individual
        endpoint contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the taxonomy_term lc_categories
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/taxonomy_term--lc_categories'
  /taxonomy_term/products:
    get:
      tags: []
      summary: List (Taxonomy term - Products)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the taxonomy_term--products resource type. Collections are a list of
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: taxonomy_term:products Schema
                type: object
                additionalProperties:
                  type: object
                description: >-
                  Describes the payload for 'taxonomy_term' entities of the
                  'products' bundle.
  /taxonomy_term/products/{entity}:
    get:
      tags: []
      summary: View (Taxonomy term - Products)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the taxonomy_term--products resource type. The individual endpoint
        contains a <em class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the taxonomy_term products
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/taxonomy_term--products'
  /user/user:
    get:
      tags: []
      summary: List (User)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Collection endpoint</a></em>
        for the user--user resource type. Collections are a list of <em
        class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        objects</a></em> for a particular resource type. In the JSON API module
        for Drupal all collections are homogeneous, which means that all the
        items in a collection are of the same type.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: user Schema
                type: object
                additionalProperties:
                  type: object
                description: Describes the payload for 'user' entities.
  /user/user/{entity}:
    get:
      tags: []
      summary: View (User)
      description: >-
        <em class="placeholder"><a
        href="http://jsonapi.org/format/#fetching">Individual endpoint</a></em>
        for the user--user resource type. The individual endpoint contains a <em
        class="placeholder"><a
        href="http://jsonapi.org/format/#document-resource-objects">resource
        object</a></em> with the data for a particular resource or entity.
      parameters:
        - name: entity
          in: path
          description: The uuid of the user user
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/user--user'
components:
  parameters:
    filter:
      name: filter
      in: query
      description: >-
        <a
        href="https://www.drupal.org/docs/8/modules/jsonapi/filtering">Filter documentation</a>.
      style: form
      explode: false
      schema:
        type: string
    sort:
      name: sort
      in: query
      description: >-
        <a
        href="https://www.drupal.org/docs/8/modules/jsonapi/sorting">Sort documentation</a>.
      style: form
      explode: false
      schema:
        type: string
    page:
      name: page
      in: query
      description: >-
        <a
        href="https://www.drupal.org/docs/8/modules/jsonapi/pagination">Page documentation</a>.
      style: form
      explode: false
      schema:
        type: string
    include:
      name: include
      in: query
      description: >-
        <a
        href="https://www.drupal.org/docs/8/modules/jsonapi/includes">Include documentation</a>.
      schema:
        type: string
  schemas:
    block_content--alert:
      title: block_content:alert Schema
      required:
        - data
      type: object
      properties:
        data:
          required:
            - id
            - type
          type: object
          properties:
            type:
              title: type
              type: string
              description: Resource type
              enum:
                - block_content--alert
            id:
              title: Resource ID
              maxLength: 128
              type: string
              format: uuid
            attributes:
              required:
                - field_alert_title
                - field_alert_type
                - field_reusability
                - info
                - metatag
                - revision_translation_affected
              type: object
              properties:
                drupal_internal__id:
                  title: Custom block ID
                  type: integer
                  description: The custom block ID.
                drupal_internal__revision_id:
                  title: Revision ID
                  type: integer
                  description: The revision ID.
                langcode:
                  title: Language
                  required:
                    - value
                  type: object
                  properties:
                    value:
                      title: Language code
                      type: string
                  description: The custom block language code.
                revision_created:
                  title: Revision create time
                  type: number
                  description: The time that the current revision was created.
                  format: utc-millisec
                revision_log:
                  title: Revision log message
                  type: string
                  description: The log entry explaining the changes in this revision.
                  default: ''
                status:
                  title: Published
                  type: boolean
                  default: true
                info:
                  title: Block description
                  maxLength: 255
                  type: string
                  description: A brief description of your block.
                changed:
                  title: Changed
                  type: number
                  description: The time that the custom block was last edited.
                  format: utc-millisec
                reusable:
                  title: Reusable
                  type: boolean
                  description: A boolean indicating whether this block is reusable.
                  default: true
                default_langcode:
                  title: Default translation
                  type: boolean
                  description: A flag indicating whether this is the default translation.
                  default: true
                revision_default:
                  title: Default revision
                  type: boolean
                  description: >-
                    A flag indicating whether this was a default revision when
                    it was saved.
                revision_translation_affected:
                  title: Revision translation affected
                  type: boolean
                  description: >-
                    Indicates if the last edit of a translation belongs to
                    current revision.
                moderation_state:
                  title: Moderation state
                  maxLength: 255
                  type: string
                  description: The moderation state of this piece of content.
                metatag:
                  title: Metatags (Hidden field for JSON support)
                  type: object
                  properties: {}
                  description: The meta tags for the entity.
                field_alert_title:
                  title: Alert title
                  maxLength: 255
                  type: string
                  description: This will appear as an h2 at the top of the alert.
                field_alert_type:
                  title: Alert Type
                  type: string
                  description: "Currently, the CMS supports two types of alerts:\r\n\r\n\r\n\tInformational alerts, which are used to provide helpful information to a user or something that warrants attention. Not used for negative consequences.\r\n\tWarning alerts, which are used to warn a user, such as when there are negative consequences, but necessary when something has gone wrong.\r\n\r\n\r\nYou can read more about these alert types in the VA Design System."
                  default: warning
                  enum:
                    - information
                    - warning
                field_reusability:
                  title: Reusability
                  type: string
                  default: reusable
                  enum:
                    - reusable
                    - reusable_but_ask
                    - restricted
              description: Entity attributes
            relationships:
              type: object
              properties:
                block_content_type:
                  title: Block type
                  type: object
                  properties:
                    data:
                      required:
                        - id
                        - type
                      type: object
                      properties:
                        type:
                          title: Referenced resource
                          type: string
                          enum:
[...]
