<div id="form-builder-content-{{ page_id }}" class="form-builder-content form-builder-single-column-content form-builder-{{ page_type }}-content form-builder-content--single-column-with-buttons">
  <h2 class="form-builder-page-title">{{ page_heading }}</h2>

  {% if block('main_content') is not empty %}
    <div class="form-builder-single-column-with-buttons__main-content">
      {% block main_content %}{% endblock %}
    </div>
  {% endif %}

  {% if block('buttons') is not empty %}
    <div class="form-builder-single-column-with-buttons__buttons form-builder-button-group">
      {% block buttons %}{% endblock %}
    </div>
  {% endif %}

  {% if block('after_buttons') is not empty %}
    <div class="form-builder-single-column-with-buttons__after-buttons">
      {% block after_buttons %}{% endblock %}
    </div>
  {% endif %}
</div>
