<div style="font-family: sans-serif; color: #212121; width: 100%; mso-element-frame-width: 100%;">
  <div style="width: 100%; height: 78px; background: #112e51;">
    <img alt="VA logo and seal, U.S. Department of Veterans Affairs" width="700" height="78" style="width: 700px;" src="https://prod.cms.va.gov/modules/custom/va_gov_notifications/assets/outdated-content-email-banner.png" />
  </div>
  {{ content }}
</div>
