<div style="font-family: sans-serif; color: #212121">
  <div style="width: 100%; height: 78px; background: #112e51;">
    <img alt="VA logo and seal, U.S. Department of Veterans Affairs" width="700" style="width: 700px;" src="https://prod.cms.va.gov/modules/custom/va_gov_notifications/assets/outdated-content-email-banner.png" />
  </div>
  <h1>Content Report</h1>
  {{ content }}
</div>

<div style="font-family: sans-serif; font-style: normal; font-weight: 600;">
  <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%; height: auto;">
    <tr>
      <td width="100%" style="margin: auto; width: 100%; padding: 0 10%;">
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" style="width: 100%; height: 69px; background: #F9DEDE; border-left: 4px solid #B20D01;">
          <tr>
            <td style="width: 70%; height: 100%; padding-top: 6px; padding-left: 20px;">
              <h2 style="margin: 0; line-height: 130%; color: #212121;">Outdated Content</h2>
              <h3 style="margin: 0; line-height: 130%; color: #212121;">High Priority</h3>
            </td>
            <td style="width: 30%; padding: 10px; mso-padding-alt: 10px;">
              <table style="margin-right: 20px; width: 100px; height: 46px;">
                <tr>
                  <td style="padding: 0 10px; mso-padding-alt: 0 10px; width: 100px; height: 46px; background: #B20D01; border: 2px solid #B20D01;">
                    <div style="padding: 0 10px; mso-padding-alt: 0 10px;">
                      <a style="mso-border-alt: 8px solid #B20D01; mso-padding-alt: 0; color: #ffffff; text-decoration: none;" href="https://prod.cms.va.gov/admin/content/outdated_content"><strong style="color: #ffffff;">Review</strong></a>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
