<table border="0" cellpadding="0" cellspacing="0" style="width: 700px; height: auto;">
  <tr>
    <td colspan="3" width="700" style="width: 700px; height: auto;">
      <img alt="VA logo and seal, U.S. Department of Veterans Affairs" width="700" style="width: 700px;" src="{{ banner }}" />
    </td>
  </tr>
  <tr>
    <td width="50" style="width: 50px;"></td>
    <td width="600" style="margin: auto; width: 600px; max-height: 885px;">
      <h1 style="font-family: sans-serif; font-style: normal; font-weight: 600; font-size: 40px; line-height: 130%; color: #212121; width: 604px; margin: 20px auto;">Content Report</h1>
      <p style="font-family: sans-serif; font-style: normal; font-weight: 400; font-size: 18px; line-height: 150%; color: #212121; width: 604px; margin: auto auto 32px;">VA Directive 6102 requires that VA content be reviewed yearly to ensure information is still relevant. Outdated content will need to be updated or removed to be compliant. <a href="https://www.va.gov/web">Learn more about VA Directive 6102.</a></p>
      <hr>
      <p style="font-family: sans-serif; font-style: normal; font-weight: 400; font-size: 18px; line-height: 150%; color: #212121; margin-top: 32px;">To assist with getting your content 6102 compliant within the next year, we are sending you this monthly reminder to view your outdated content report. To view this report, log in to the Drupal CMS or click “Review” below to go directly to the outdated content tool.</p>
      <p style="font-family: sans-serif; font-style: normal; font-weight: 400; font-size: 18px; line-height: 150%; color: #212121; margin-top: 32px;">For more information, you can read this <a href="/help/cms-basics/outdated-content-audit-tool">Knowledge Base article on using the outdated content tool</a> to manage compliance. The article details what it means to be compliant for your site and how you can maintain compliance without feeling overwhelmed.</p>
    </td>
    <td width="50" style="width: 50px;"></td>
  </tr>
  <tr>
    <td width="50" style="width: 50px;"></td>
    <td width="600" style="margin: auto; width: 600px; max-height: 885px;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" style="width: 604px; height: 69px; background: #F9DEDE; border-left: 4px solid #B20D01;">
        <tr>
          <td style="width: 100%; height: 100%; padding-top: 6px; padding-left: 20px;">
            <h2 style="margin: 0;font-family: sans-serif; font-style: normal; font-weight: 600; font-size: 24px; line-height: 130%; color: #212121;">Outdated Content</h2>
            <h3 style="margin: 0;font-family: sans-serif; font-style: normal; font-weight: 600; font-size: 18px; line-height: 130%; color: #212121;">High Priority</h3>
          </td>
          <td style="padding: 10px; mso-padding-alt: 10px;">
            <table style="margin-right: 20px; width: 100px; height: 46px;">
              <tr>
                <td style="padding: 0 10px; mso-padding-alt: 0 10px; width: 100px; height: 46px; background: #B20D01; border: 2px solid #B20D01;">
                  <div style="padding: 0 10px; mso-padding-alt: 0 10px;">
                    <a style="mso-border-alt: 8px solid #B20D01; mso-padding-alt: 0; font-family: sans-serif; font-style: normal; font-weight: 600; font-size: 16px; color: #ffffff; text-decoration: none;" href="/admin/content/outdated_content"><strong style="color: #ffffff; font-weight: 600;">Review</strong></a>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="50" style="width: 50px;"></td>
  </tr>
</table>
