<header class="header">

	<div class="incompatible-browser-warning">
		<div class="row full">
			<div class="small-12">
				Your browser is out of date. To use this website, please
				<a href="https://browsehappy.com/" target="_blank" rel="noopener ">update your browser</a>
				or use a different device.
			</div>
		</div>
	</div>
	<div class="va-notice--banner">
		<div class="va-notice--banner-inner">
			<div class="usa-banner">
				<div class="usa-accordion">
					<div class="usa-banner-header">
						<div class="usa-grid usa-banner-inner">
							<img src="https://prod-va-gov-assets.s3-us-gov-west-1.amazonaws.com/img/tiny-usa-flag.png" alt="U.S. flag">
							<p>An official website of the United States government</p>
							<button id="usa-banner-toggle" class="usa-accordion-button usa-banner-button" aria-expanded="false" aria-controls="gov-banner">
								<span class="usa-banner-button-text">Here’s how you know</span>
							</button>
						</div>
					</div>
					<div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner" aria-hidden="true">
						<div class="usa-banner-guidance-gov usa-width-one-half">
							<img class="usa-banner-icon usa-media_block-img" src="https://prod-va-gov-assets.s3-us-gov-west-1.amazonaws.com/img/icon-dot-gov.svg" alt="Dot gov">
							<div class="usa-media_block-body">
								<p>
									<strong>The .gov means it’s official.</strong>
									<br>
									Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you're on a federal government site.
								</p>
							</div>
						</div>
						<div class="usa-banner-guidance-ssl usa-width-one-half">
							<img class="usa-banner-icon usa-media_block-img" src="https://prod-va-gov-assets.s3-us-gov-west-1.amazonaws.com/img/icon-https.svg" alt="SSL">
							<div class="usa-media_block-body">
								<p>
									<strong>The site is secure.</strong>
									<br>
									The
									<strong>https://</strong>
									ensures that you're connecting to the official website and that any information you provide is encrypted and sent securely.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /header alert box -->

	<div class="row va-flex usa-grid usa-grid-full" id="va-header-logo-menu">
		<div class="va-header-logo-wrapper">
			<a href="/" class="va-header-logo">
				<img src="https://prod-va-gov-assets.s3-us-gov-west-1.amazonaws.com/img/header-logo.png" alt="Go to VA.gov">
			</a>
		</div>
		<div id="login-root" class="vet-toolbar">
			<div class="profile-nav-container">
				<div class="vads-u-display--flex vads-u-align-items--center vads-u-padding-top--1">
					<div class="va-dropdown">
						<button class="sitewide-search-drop-down-panel-button va-btn-withicon va-dropdown-trigger va-btn-withicon va-dropdown-trigger" aria-controls="search" aria-expanded="false">
							<span>
								<svg focusable="false" role="presentation" height="24" pointer-events="none" viewbox="0 0 216 146" width="24">
									<path fill="#fff" d="M172.77 123.025L144.825 95.08c6.735-9.722 10.104-20.56 10.104-32.508 0-7.767-1.51-15.195-4.527-22.283-3.014-7.09-7.088-13.2-12.22-18.336s-11.243-9.207-18.33-12.22c-7.09-3.016-14.52-4.523-22.286-4.523-7.768 0-15.196 1.508-22.284 4.523-7.09 3.014-13.2 7.088-18.332 12.22-5.132 5.134-9.206 11.245-12.22 18.333-3.015 7.088-4.522 14.515-4.522 22.282 0 7.766 1.507 15.192 4.522 22.282 3.014 7.088 7.088 13.197 12.22 18.33 5.134 5.134 11.245 9.207 18.333 12.222 7.09 3.015 14.516 4.522 22.283 4.522 11.95 0 22.786-3.37 32.51-10.105l27.943 27.863c1.955 2.064 4.397 3.096 7.332 3.096 2.824 0 5.27-1.03 7.332-3.096 2.064-2.063 3.096-4.508 3.096-7.332 0-2.877-1.002-5.322-3.013-7.33zm-49.413-34.668C116.214 95.5 107.62 99.07 97.57 99.07c-10.048 0-18.643-3.57-25.786-10.713C64.64 81.214 61.07 72.62 61.07 62.57c0-10.047 3.572-18.643 10.714-25.785C78.926 29.642 87.522 26.07 97.57 26.07c10.048 0 18.643 3.573 25.787 10.715 7.143 7.142 10.715 15.738 10.715 25.786 0 10.05-3.573 18.647-10.715 25.79z"></path>
								</svg>Search</span>
						</button>
						<div class="va-dropdown-panel vads-u-padding--0 vads-u-margin--0" id="search" hidden="">
							<form accept-charset="UTF-8">
								<label for="query" class="usa-sr-only">Search:</label>
								<div class="va-flex vads-u-padding--1"><input aria-label="search" autocomplete="off" class="usagov-search-autocomplete vads-u-margin-left--0p5 vads-u-margin-right--0p25" id="query" name="query" type="text"><button type="submit" data-e2e-id="sitewide-search-submit-button" disabled="" class="vads-u-margin-left--0p25 vads-u-margin-right--0p5 ">
										<svg focusable="false" height="24" pointer-events="none" viewbox="0 0 216 146" width="24">
											<path fill="#fff" d="M172.77 123.025L144.825 95.08c6.735-9.722 10.104-20.56 10.104-32.508 0-7.767-1.51-15.195-4.527-22.283-3.014-7.09-7.088-13.2-12.22-18.336s-11.243-9.207-18.33-12.22c-7.09-3.016-14.52-4.523-22.286-4.523-7.768 0-15.196 1.508-22.284 4.523-7.09 3.014-13.2 7.088-18.332 12.22-5.132 5.134-9.206 11.245-12.22 18.333-3.015 7.088-4.522 14.515-4.522 22.282 0 7.766 1.507 15.192 4.522 22.282 3.014 7.088 7.088 13.197 12.22 18.33 5.134 5.134 11.245 9.207 18.333 12.222 7.09 3.015 14.516 4.522 22.283 4.522 11.95 0 22.786-3.37 32.51-10.105l27.943 27.863c1.955 2.064 4.397 3.096 7.332 3.096 2.824 0 5.27-1.03 7.332-3.096 2.064-2.063 3.096-4.508 3.096-7.332 0-2.877-1.002-5.322-3.013-7.33zm-49.413-34.668C116.214 95.5 107.62 99.07 97.57 99.07c-10.048 0-18.643-3.57-25.786-10.713C64.64 81.214 61.07 72.62 61.07 62.57c0-10.047 3.572-18.643 10.714-25.785C78.926 29.642 87.522 26.07 97.57 26.07c10.048 0 18.643 3.573 25.787 10.715 7.143 7.142 10.715 15.738 10.715 25.786 0 10.05-3.573 18.647-10.715 25.79z"></path>
										</svg>
										<span class="usa-sr-only">Search</span>
									</button>
								</div>
							</form>
						</div>
					</div>
<a class="vads-u-color--white vads-u-text-decoration--none vads-u-padding-x--1 vads-u-padding-top--0p5 vads-u-font-weight--bold" href="https://www.va.gov/contact-us/">Contact us</a>

					<div class="sign-in-nav">
						<div class="sign-in-links">
							<button class="sign-in-link">Sign in</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="usa-grid usa-grid-full">
		<div id="menu-rule" class="usa-one-whole"></div>
		<div id="mega-menu">
			<div class="login-container">
				<div class="row va-flex">
					<div id="vetnav" role="navigation">
						<ul id="vetnav-menu">
							<li class=" ">
								<button aria-expanded="false" aria-controls="vetnav-va-benefits-and-health-care" class="vetnav-level1">VA Benefits and Health Care</button>
								<div id="vetnav-va-benefits-and-health-care" class="vetnav-panel" hidden=""></div>
							</li>
							<li class=" ">
								<button aria-expanded="false" aria-controls="vetnav-about-va" class="vetnav-level1">About VA</button>
								<div id="vetnav-about-va" class="vetnav-panel" hidden=""></div>
							</li>
							<li class=" ">
								<a href="https://www.va.gov/find-locations" class="vetnav-level1">Find a VA Location</a>
								<div id="vetnav-find-a-va-location" class="vetnav-panel" hidden=""></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- for the mega-menu, but if you add the ID the css breaks rn -->
	</header>
