.form-builder-single-question-response {
  margin-top: var(--units-3);
}

.form-builder-single-question-response__page-title #page-title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  line-height: 3;
}

.form-builder-single-question-response__page-body label {
  font-weight: var(--font-weight-bold);
  line-height: 2;
}

.form-builder-single-question-response__type {
  margin-top: var(--units-1);
}

.form-builder-single-question-response__type label {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  line-height: 3;
}

.form-builder-single-question-response__type #response-type {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  line-height: 3;
  margin-bottom: var(--units-3);
}

.form-builder-single-question-response__preview {
  margin-bottom: var(--units-5);
}

.form-builder-single-question-response__preview label {
  font-weight: var(--font-weight-bold);
  line-height: 3;
  margin-bottom: var(--units-5);
}

.form-builder-single-question-response .form-text,
.form-builder-single-question-response .form-textarea {
  width: 100%;
}

.form-builder-single-question-response__component .js-form-type-checkbox,
.form-builder-single-question-response__components .js-form-type-checkbox {
  align-items: baseline;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.form-builder-single-question-response__guidance label {
  font-weight: var(--font-weight-bold);
  line-height: 3;
  margin-bottom: var(--units-5);
}

.form-builder-single-question-response__guidance-details {
  margin-bottom: var(--units-6);
}

.form-builder-single-question-response__guidance-details p {
  line-height: .75;
}

.form-builder-single-question-response__preview img {
  max-width: 600px;
}

