.form-builder-custom-or-predefined section {
  padding-top: var(--units-3);
}

.form-builder-custom-or-predefined h3 {
  font-size: var(--vads-font-size-heading-level-4);
}

.form-builder-custom-or-predefined__predefined-list {
  list-style-type: none;
  margin: 0;
}

.form-builder-custom-or-predefined__predefined-item {
  border-bottom: 1px solid var(--vads-color-base-light);
  margin: var(--units-5) 0;
  padding-bottom: var(--units-4);
}

.form-builder-custom-or-predefined__predefined-label {
  font-family: var(--font-family-serif);
  font-size: var(--vads-font-size-heading-level-3);
  font-weight: var(--font-weight-bold);
}

.form-builder-custom-or-predefined__predefined-description,
.form-builder-custom-or-predefined__predefined-add-button {
  margin-left: var(--units-2);
}

.form-builder-custom-or-predefined__predefined-description {
  color: var(--vads-color-gray-medium);
  line-height: var(--units-2);
  margin-bottom: var(--units-2);
  margin-top: var(--units-2);
}
