.form-builder-expanded-radio {
  margin-top: var(--units-5);
}

.form-builder-expanded-radio label {
  font-size: var(---font-size-md);
}

.form-builder-expanded-radio__expanded-content {
  font-size: var(--font-size-sm);
  margin-top: var(--units-2);
}
