#form-builder-content-form-info {
  width: 400px;
}

#form-builder-content-form-info .form-element {
  width: 100%;
}

.form-builder-content-section {
  border-bottom: 1px solid var(--vads-color-base-light);
  margin: var(--units-2) 0;
}

h3.form-builder-content-section__header {
  font-size: var(--vads-font-size-heading-level-4);
}
