.form-builder-intro li {
  color: var(--vads-color-base);
  font-size: var(--va-text);
}

.form-builder-intro .form-item__description {
  color: var(--vads-color-base);
  margin: var(--units-2) 0 var(--units-4) 0;
}

.form-builder-intro .form-item-intro-text {
  margin-bottom: var(--units-4);
}

.reference {
  margin-top: var(--units-4);
}
