.form-builder-non-editable-pattern__main-content {
  width: 600px;
}

#heading-with-label-step-label {
  margin-bottom: var(--units-5);
  margin-top: var(--units-4);
}

.form-builder-non-editable-pattern__step_description > p {
  margin-bottom: var(--units-4);
}

.form-builder-non-editable-pattern__default-appearance > img {
  margin-top: var(--units-2);
}

.form-builder-non-editable-pattern__default-appearance-intro {
  border-bottom: 1px solid var(--vads-color-base-light);
  margin: var(--units-6) 0;
  padding-bottom: var(--units-3);
}

.form-builder-non-editable-pattern__default-appearance
  .form-builder-non-editable-pattern__default-appearance-heading {
  font-family: var(--font-family-sans);
}

.form-builder-non-editable-pattern__default-appearance
  .form-builder-non-editable-pattern__preview-title {
  font-family: var(--font-family-sans);
  font-size: var(--vads-font-size-heading-level-4);
}

.form-builder-non-editable-pattern__preview {
  margin-bottom: var(--units-6);
}
