.form-builder-non-editable-pattern__main-content {
  width: 600px;
}

#heading-with-label-step-label {
  margin-bottom: var(--units-5);
  margin-top: var(--units-4);
}

.form-builder-non-editable-pattern__step_description > p {
  margin-bottom: var(--units-4);
}

.form-builder-non-editable-pattern__default-appearance > img {
  margin-top: var(--units-2);
}
