.form-builder-step-layout__step_label {
  margin: var(--units-3) 0 var(--units-6) 0;
}

.form-builder-step-layout__page {
  margin-bottom: var(--units-6);
}

.form-builder-step-layout__page_title {
  display: inline-block;
  margin-bottom: var(--units-2);
}
