h3.form-builder-content-section__heading {
  font-size: var(--vads-font-size-heading-level-4);
  margin: var(--units-3) 0;
}

.form-builder-content-section__field-title {
  margin: var(--units-6) 0;
}

.form-builder-content-section__field-title input {
  width: 100%;
}
