.form-builder-content-section--step-label {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.form-builder-content-section--step-label
  .form-builder-step-label__edit-button
  input {
  margin-top: 0;
}

.form-builder-content-section p {
  margin-bottom: var(--units-3);
}

.form-builder-content-section__preview {
  width: 450px;
}
