.form-builder-two-column-with-buttons__content {
  display: flex;
  gap: var(--units-4);
}

.form-builder-two-column-with-buttons__left-content {
  flex: 7;
}

.form-builder-two-column-with-buttons__right-content {
  flex: 5;
}
