.form-builder-page-title {
  margin-top: 0;
}

.form-builder-two-column-with-buttons__content {
  display: flex;
  gap: 10%;
  margin-top: var(--units-4);
}

.form-builder-two-column-with-buttons__left-content {
  flex: 7;
}

.form-builder-two-column-with-buttons__right-content {
  flex: 5;
}
