.form-builder-review-and-sign-main-content {
  width: 600px;
}

.form-builder-heading-with-label--step-label {
  margin-bottom: var(--units-5);
  margin-top: var(--units-4);
}

.form-builder-review-and-sign-main-content p {
  margin-bottom: var(--units-4);
}
