#form-builder-review-and-sign-main-content {
  width: 600px;
}

#heading-with-label-step-label {
  margin-bottom: var(--units-5);
  margin-top: var(--units-4);
}

.review-and-sign-paragraph {
  margin-bottom: var(--units-4);
}
