/* Headings */
.form-builder-page-content--home .form-builder-content-section__heading {
  font-size: var(--vads-font-size-heading-level-4);
}

/* New form */
.form-builder-content-section--new-form__subheading {
  margin-bottom: var(--units-3);
}

/* Recent Forms */
.form-builder-content-section--recent-forms {
  margin-top: 60px;
}

.form-builder-content-section--recent-forms__forms-list {
  border-top: var(--units-1px) solid var(--vads-color-base-light);
  list-style-type: none;
  margin: 0;
  padding-bottom: var(--units-3);
  padding-top: var(--units-1p5);
}

.form-builder-content-section--recent-forms__form-list-item {
  margin-bottom: var(--units-1p5);
}

.form-builder-content-section--recent-forms__form-link {
  font-weight: var(--font-weight-bold);
}
