.form-builder-page-content--form-info {
  width: 335px;
}

.form-builder-page-content--form-info .form-element {
  width: 100%;
}

.form-builder-content-section {
  border-bottom: 1px solid var(--vads-color-base-light);
}

h3.form-builder-content-section__header {
  font-size: var(--vads-font-size-heading-level-4);
}
