on:
  workflow_run:
    workflows:
      - '**'
    types:
      - completed

jobs:
  send:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Send GitHub Actions metrics to DataDog
        uses: int128/datadog-actions-metrics@c114ba21b6c787b0c66f39745fd8f30b67c0901a # v1.129.0
        with:
          datadog-api-key: ${{ secrets.DATADOG_API_KEY }}
          collect-job-metrics: true
          datadog-site: ddog-gov.com
