name: CMS Database Backup Production

on:
  schedule:
    - cron: "*/15 * * * *"
  workflow_dispatch:
  push:
    branches:
      - db-backup-prod

permissions:
  id-token: write
  contents: read

env:
  region: us-gov-west-1
  S3BackupPath: database

jobs:
  backup:
    runs-on: self-hosted
    container:
      image: ubuntu:24.04
    steps:
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_ASSUME_ROLE }}
          aws-region: ${{ env.region }}

      - name: Install required packages
        run: |
          export DEBIAN_FRONTEND=noninteractive
          apt-get update
          apt-get install -y mysql-client gzip curl unzip
          apt-get install -y --reinstall ca-certificates
          update-ca-certificates
          
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip -q awscliv2.zip
          ./aws/install
          rm -rf aws awscliv2.zip

      - name: Backup database and upload to S3
        run: |
          set -e
          
          timestamp=$(date "+%Y-%m-%d-%H-%M")
          tempdir=$(mktemp -d)
          cd $tempdir

          database_name=$(aws ssm get-parameter \
            --name "/cms/prod/mariadb/database-name" \
            --region ${{ env.region }} \
            --query 'Parameter.Value' \
            --output text)
          
          db_host=$(aws ssm get-parameter \
            --name "/cms/prod/db_host" \
            --with-decryption \
            --region ${{ env.region }} \
            --query 'Parameter.Value' \
            --output text)
          
          s3_db_backup_bucket=$(aws ssm get-parameter \
            --name "/cms/prod/s3-db-backup-bucket" \
            --region ${{ env.region }} \
            --query 'Parameter.Value' \
            --output text)
          
          backup_filename_prefix=$(aws ssm get-parameter \
            --name "/cms/prod/db-backup-filename" \
            --region ${{ env.region }} \
            --query 'Parameter.Value' \
            --output text)
          
          db_password=$(aws ssm get-parameter \
            --name "/cms/prod/mariadb/master_password" \
            --with-decryption \
            --region ${{ env.region }} \
            --query 'Parameter.Value' \
            --output text)
          
          mysqldump --default-character-set=utf8mb4 --single-transaction -h ${db_host} -u master -p"${db_password}" ${database_name} > ${backup_filename_prefix}${timestamp}.sql
          
          gzip ${backup_filename_prefix}${timestamp}.sql
          
          echo "https://s3-${{ env.region }}.amazonaws.com/${s3_db_backup_bucket}/${{ env.S3BackupPath }}/${backup_filename_prefix}${timestamp}.sql.gz" > latest_url
          echo "s3://${s3_db_backup_bucket}/${{ env.S3BackupPath }}/${backup_filename_prefix}${timestamp}.sql.gz" > latest_uri
          
          aws s3 cp ${backup_filename_prefix}${timestamp}.sql.gz s3://${s3_db_backup_bucket}/${{ env.S3BackupPath }}/${backup_filename_prefix}${timestamp}.sql.gz --region ${{ env.region }}
          
          aws s3api put-object-tagging --bucket ${s3_db_backup_bucket} --key ${{ env.S3BackupPath }}/${backup_filename_prefix}${timestamp}.sql.gz --region ${{ env.region }} --tagging 'TagSet=[{Key=Env,Value=prod}]'
          
          aws s3 cp latest_url s3://${s3_db_backup_bucket}/${{ env.S3BackupPath }}/latest_url --region ${{ env.region }}
          aws s3 cp latest_uri s3://${s3_db_backup_bucket}/${{ env.S3BackupPath }}/latest_uri --region ${{ env.region }}
          
          cd
          rm -rf ${tempdir}