name: Set Tugboat Tests Pending
on: 
  - pull_request_target
permissions:
  pull-requests: write
  repo: write
  contents: write
jobs:
  # Tugboat tests are not automatically set pending, even though they are
  # required in branch protection rules (see #10553).
  #
  # Therefore, a PR can inappropriately appear to be ready to merge if,
  # for instance, a composer.lock merge conflict prevents the Tugboat
  # preview from successfully building.
  #
  # This action sets these tests pending from an immediate GitHub Action
  # so that we can trust our automated code review processes more.
  set-tugboat-tests-pending:
    name: Set Tugboat Tests Pending
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Get the initial AWS IAM User credentials. Only has basic permissions for sts:assumeRole
      - name: Configure AWS credentials (1)
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-gov-west-1

      # Get credentials from our SSM role. Least privilege method for AWS IAM.
      - name: Configure AWS Credentials (2)
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-gov-west-1
          role-to-assume: ${{ secrets.AWS_VAGOV_CMS_PROD_READ_SSM_ROLE }}
          role-duration-seconds: 900
          role-session-name: vsp-vagov-cms-githubaction

      # Get VA_CMS_BOT Github token from SSM.
      # This will be used to set the commit status.
      - name: Get Parameter
        uses: marvinpinto/action-inject-ssm-secrets@latest
        with:
          ssm_parameter: /cms/va-cms-bot/github_token
          env_variable_name: VA_CMS_BOT_TOKEN

      # Per Workflow secrets.GITHUB_TOKEN can't set commit status.
      # Instead lookup and use VA CMS BOT Token to do so.   
      - name: Set status for Tugboat tasks.
        run: |
          test_names=(
            va/tests/behat
            va/tests/cypress
            va/tests/phplint
            va/tests/phpunit
            va/tests/status-error
            va/tests/content-build-gql
          )
          for test_name in "${test_names[@]}"; do 
            gh api \
              --method POST \
              -H "Accept: application/vnd.github+json" \
              "/repos/${GITHUB_REPOSITORY}/statuses/${GITHUB_SHA}" \
              -f state='pending' \
              -f context="${test_name}";
          done;
        env:
          SHA: ${{ github.event.pull_request.head.sha }}
          GH_TOKEN: ${{ secrets.VA_CMS_BOT_TOKEN }}
