<ol class="usa-grid usa-breadcrumbs vagov-breadcrumbs usa-unstyled-list uswds-horizontal-list">
    {% for item in breadcrumb %}
        <li class="usa-nav-secondary-links">
            {% if item.url %}
                <a href="{{ item.url }}">{{ item.text }}</a>
            {% else %}
                {{ item.text }}
            {% endif %}
        </li>
    {% endfor %}
</ol>