a.button--outline,
.button--outline {
  background-color: var(--va-white);
  border: 2px solid var(--va-blue-dark) !important;
  box-shadow: none;
  color: var(--va-blue-dark);
  padding: calc(var(--space-m) - 2px) calc(var(--space-l) - 2px); //2px offset for border

  &:hover {
    background-color: var(--va-blue-lightest);
    border: 2px solid var(--va-blue-darkest);
    color: var(--va-blue-darkest);
  }
}

.button--small {
  margin: var(--space-s) var(--space-xs) var(--space-s) 0;
  padding: calc(var(--space-xs) - 1px) calc(var(--space-m) - 1px);
  font-size: var(--font-size-xs);
}

.button--icon {
  svg {
    margin-right: var(--spacing-s);
  }
}
