{##
# This template is for display of various buttons & states in Storybook.
# Buttons in Drupal can render in a variety of ways on different elements: a, button, input
# Apply these button classes as needed in Drupal theme templates + preprocess functions.
#}

<h2>Buttons</h2>

<h3>Primary Button</h3>
<a href="#" class="button button--primary">Button</a>

<h3>Secondary Button</h3>
<a href="#" class="button button--secondary">Button</a>

<h3>Tertiary Button</h3>
<a href="#" class="button button--tertiary">Button</a>

<h3>Outline Button</h3>
<a href="#" class="button button--outline">Button</a>

<h3>Button with an Icon</h3>
<a href="#" class="button button--outline button--icon button--icon-trash">Button</a>
<a href="#" class="button button--primary button--icon button--icon-chevron">Button</a>

<h3>Small Button</h3>
<a href="#" class="button button--small">Button</a>


<a href="#" class="button">Button</a>
