{# This template is for display of various buttons & states in Storybook. #}

<h2>Buttons</h2>

<p>Buttons in Drupal can render in a variety of ways on different elements, including a tags, button, and input elements.</p>
<p>Apply button classes as needed in Drupal theme templates and preprocess functions to get the desired style for your specific button.</p>

<h3>Primary Button</h3>
<a href="#" class="button button--primary">Button</a>

<p>Use these classes: <code>button button--primary</code></p>

<h3>Secondary Button</h3>
<a href="#" class="button button--secondary">Button</a>

<p>Use these classes: <code>button</code></p>


<h3>Outline Button</h3>
<a href="#" class="button button--outline">Button</a>
<p>Use these classes: <code>button button--outline</code></p>


<h3>Button with an Icon</h3>
<a href="#" class="button button--outline button--icon button--icon-trash">Button</a>
<a href="#" class="button button--primary button--icon button--icon-chevron">Button</a>
<p>Use these classes: <code>button button--icon button--icon-trash</code></p>


<h3>Small Button</h3>
<a href="#" class="button button--small">Button</a>
<a href="#" class="button button--small">Button</a>
<p>Use these classes: <code>button button--small</code></p>

