{# This template is for display of various buttons & states in Storybook. #}

<h2>Buttons</h2>

<p>Buttons in Drupal can render in a variety of ways on different elements, including a tags, button, and input elements.</p>
<p>Apply button classes as needed in Drupal theme templates and preprocess functions to get the desired style for your specific button.</p>

<h3>Primary Button</h3>
<a href="#" class="button button--primary">Button</a>

<p>Use these classes: <code>button button--primary</code></p>

<h3>Secondary Button</h3>
<a href="#" class="button button--secondary">Button</a>

<p>Use these classes: <code>button</code></p>


<h3>Outline Button</h3>
<a href="#" class="button button--outline">Button</a>
<p>Use these classes: <code>button button--outline</code></p>


<h3>Button with an Icon</h3>
<a href="#" class="button button--outline button--icon"><i class="fas fa-trash"></i>Button</a>
<a href="#" class="button button--primary button--icon"><i class="fas fa-chevron-down"></i>Button</a>
<p>Use these classes: <code>button button--icon</code> and include an i tag with appropriate icon classes inside the button.</p>


<h3>Small Button</h3>
<a href="#" class="button button--small">Button</a>
<a href="#" class="button button--small">Button</a>
<p>Use these classes: <code>button button--small</code></p>
